logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

send.sh
resize.sh
deploy.sh
defreeze.sh

files/
memo/

*.sql
*.db
*.jar

twitter4j.properties
