logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

public/img/products
public/img/thumbnails
public/img/material
public/img/howto
public/img/copy.sh
public/file/

send.sh
resize.sh
startup.sh
deploy.sh
shutdown.sh
defreeze.sh

db/
