@(me: Account, acc: Account)

@import andon.utils._

@common(acc.name + "さんの情報") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.accounts, "アカウント一覧")
  ), "アカウント詳細")

  <h3>@acc.name</h3>

  <dl class="dl">
    <dt>ID</dt>
    <dd>@acc.id</dd>

    <dt>名前</dt>
    <dd>@acc.name</dd>

    <dt>ユーザー名</dt>
    <dd>@acc.username</dd>

    <dt>卒業期</dt>
    <dd>@acc.times</dd>

    <dt>アカウントレベル</dt>
    <dd>@acc.level.toJapanese</dd>
  </dl>

  @if(me.level == Admin && acc.level != Admin) {
    <p><a class="btn" href="@routes.Artisan.editAccount(acc.id)">ユーザー情報の編集</a></p>
  }
  @if((me.level == Admin && acc.level != Admin) ||
    (me.level == Master && acc.level == Writer)) {
    <p><a class="btn" href="@routes.Artisan.editPassword(acc.id)">パスワードの変更</a></p>
    <form method="POST" action="@routes.Artisan.deleteAccount(acc.id)">
      <button class="delete-submit btn btn-danger">アカウントの削除</button>
    </form>
  }
} {
  <script type="text/javascript" src="@routes.Assets.at("js/deleteSubmit.js")"></script>
}
