@(me: Account, acc: Account)

@import andon.utils._

@common(acc.name + "さんの情報") {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li><a href="@routes.Artisan.accounts()">アカウント一覧</a> <span class="divider">/</span></li>
    <li class="active">アカウント詳細</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>@acc.name</h3>

  <p>名前: @acc.name</p>

  <p>ユーザー名: @acc.username</p>

  <p>卒業年: @acc.times</p>

  <p>アカウントレベル: @acc.level.toJapanese</p>

  @if(me.level == Admin && acc.level != Admin) {
    <p><a href="@routes.Artisan.editAccount(acc.id)">ユーザー情報の編集</a></p>
  }
  @if((me.level == Admin && acc.level != Admin) ||
    (me.level == Master && acc.level == Writer)) {
    <p><a href="@routes.Artisan.editPassword(acc.id)">パスワードの変更</a></p>
    <p><a class="delete-submit" href="#">アカウントの削除</a></p>
    <form class="delete-form" method="POST" action="@routes.Artisan.deleteAccount(acc.id)">
    </form>
  }
} {
  <h2>@acc.nameさんの情報</h2>
}
