@(acc: Account)(implicit flash: Flash)

@import andon.utils._
@import models.Articles._

@articles(atype: ArticleType) = @{
  if (atype == Howto) {
    if (acc.level == Writer) {
      findByWriterEditable(acc.id)
    } else {
      findDateSortedHowto
    }
  } else {
    findByType(atype)
  }
}

@table(atype: ArticleType) = {
  <h4>@atype</h4>
  <table class="table">
    <tr>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>作成</th>
      <th>最終更新</th>
      <th>操作</th>
    </tr>
    @articles(atype).map { article =>
      <tr>
        <td><a href="@routes.Artisan.article(article.id)">@article.title</a></td>
        <td>@article.genre</td>
        <td>@article.optAuthor.getOrElse(Accounts.findNameById(article.createAccountId))</td>
        <td>@article.optDate.getOrElse(DateUtil.dateFormat(article.updateDate))</td>
        <td>
          <a href="@routes.Artisan.editArticle(article.id)">編集</a>
          @if(article.articleType == Info || article.articleType == Howto) {
            <form class="inline" method="post" action="@routes.Artisan.deleteArticle(article.id)">
              <a href="#" class="delete-submit">削除</a>
            </form>
          }
        </td>
      </tr>
    }
  </table>
}

@common("記事一覧") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home")
  ), "記事一覧")

  <h3>編集可能な記事一覧</h3>

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  @defining(if (acc.level == Writer) { Seq(Howto) } else { Seq(Info, Howto, InfoTop, About, Contact) }) { atypes =>
    @atypes.map { atype =>
      @table(atype)
    }
  }

} {
  <script type="text/javascript" src="@routes.Assets.at("js/deleteSubmit.js")"></script>
}
