@(article: Article)(implicit flash: Flash)

@import models.Accounts._
@import andon.utils.DateUtil._
@import andon.utils._

@common(article.title) {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.articles, "記事一覧")
  ), "記事詳細")

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  <a class="btn" href="@routes.Artisan.editArticle(article.id)">編集する</a>
  <a class="btn" href="@routes.Artisan.history(article.id)">編集履歴</a>

  <div class="article">
    @Conv.both(article.text)
  </div>

  <p id="author">
    @article.optAuthor.map { author =>
      作成: @author
    }.getOrElse {
      作成: @findNameById(article.createAccountId), 最終更新: @findNameById(article.updateAccountId)
    }
    @article.optDate.map { date =>
      作成日時: @date
    }.getOrElse {
      作成日時: @dateFormat(article.createDate), 最終更新日時: @dateFormat(article.updateDate)
    }
  </p>

  <a class="btn" href="@routes.Artisan.editArticle(article.id)">編集する</a>
  <a class="btn" href="@routes.Artisan.history(article.id)">編集履歴</a>

  @if(article.articleType == Info || article.articleType == Howto) {

    <form method="post" action="@routes.Artisan.deleteArticle(article.id)">
      <button class="btn btn-danger delete-submit">削除する</button>
    </form>
  }
} {
  <script type="text/javascript" src="@routes.Assets.at("js/deleteSubmit.js")"></script>
}
