@(account: Account, articles: Seq[Article])

@import andon.utils._

@common("Articles") {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li class="active">記事一覧</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>@account.nameさんが編集可能な記事</h3>

  @if(account.level != Writer) {
    @Seq(InfoTop, Info, About, Contact).map { a =>
      <h4>@a</h4>
      <ul>
        @articles.filter(_.articleType == a).map { article =>
          <li><a href="@routes.Artisan.article(article.id)">@article.title</a></li>
        }
      </ul>
    }
  }

  <a href="@routes.Artisan.createArticle()">記事を書く</a>
} {
  <h2>Articles</h2>
}
