@(articles: Seq[Article])

@import andon.utils._

@common("記事一覧") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home")
  ), "記事一覧")

  <h3>編集可能な記事一覧</h3>

  @articles.groupBy(_.articleType).map { articles =>
    <h4>@articles._1</h4>
    <table class="table">
      <tr>
        <th>タイトル</th>
        <th>ジャンル</th>
        <th>作成者</th>
        <th>最終更新者</th>
        <th>作成日時</th>
        <th>最終更新日時</th>
      </tr>
      @articles._2.map { article =>
        <tr>
          <td><a href="@routes.Artisan.article(article.id)">@article.title</a></td>
          <td>@article.genre</td>
          <td>@Accounts.findNameById(article.createAccountId)</td>
          <td>@Accounts.findNameById(article.updateAccountId)</td>
          <td>@DateUtil.dateFormat(article.createDate)</td>
          <td>@DateUtil.dateFormat(article.updateDate)</td>
        </tr>
      }
    </table>
  }

} {
  <h2>記事一覧</h2>
}
