@(article: Article)(implicit flash: Flash)

@import andon.utils._

@common(article.title) {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li><a href="@routes.Artisan.articles()">記事一覧</a> <span class="divider">/</span></li>
    <li class="active">記事詳細</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  <div class="article">
    @Conv.markdown(article.text)
  </div>

  <p id="author">Author: @Accounts.findNameById(article.createAccountId)  Date: @Util.dateFormat(article.updateDate)</p>


  <a href="@routes.Artisan.editArticle(article.id)">編集する</a>

} {
  <h2>@article.title</h2>
}
