@common("クラス一覧") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home")
  ), "クラス一覧")

  <h3>編集可能な記事一覧</h3>

  <table class="table">
    <tr>
      <th>第n回</th>
      <th>学年</th>
      <th>組</th>
      <th>タイトル</th>
      <th>賞</th>
      <th>操作</th>
    </tr>

    @ClassData.all.map { c =>
      <tr>
        <td>@c.id.times</td>
        <td>@c.id.grade</td>
        <td>@c.id.classn</td>
        <td>@c.title</td>
        <td>@c.prize.map(_.toJapanese)</td>
        <td>
          <a class="btn" href="@routes.Artisan.uploadImage(c.id.toId)">画像のアップロード</a>
          <a class="btn" href="@routes.Artisan.selectTop(c.id.toId)">トップ画像の選択</a>
        </td>
      </tr>
    }
  </table>
} {
  <h2>クラス一覧</h2>
}
