@(acc: Account, pass: String)

@common(acc.name)("") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.ArtisanAccount.accounts, "アカウント一覧")
  ), "アカウント確認")

  <p>@acc.nameさんのアカウントを作成しました。</p>

  <dl>
    <dt>ID</dt>
    <dd>@acc.id</dd>

    <dt>名前</dt>
    <dd>@acc.name</dd>

    <dt>ユーザー名</dt>
    <dd>@acc.username</dd>

    <dt>パスワード</dt>
    <dd>@pass</dd>

    <dt>卒業期</dt>
    <dd>@acc.times</dd>

    <dt>アカウントレベル</dt>
    <dd>@acc.level.toJapanese</dd>

    @acc.class1.map { id =>
      <dt>1年時</dt>
      <dd>@id</dd>
    }

    @acc.class2.map { id =>
      <dt>2年時</dt>
      <dd>@id</dd>
    }

    @acc.class3.map { id =>
      <dt>3年時</dt>
      <dd>@id</dd>
    }
  </dl>

  <p><a href="@routes.Artisan.home()">ホームへ</a></p>
} {
}
