@(level: andon.utils.AccountLevel, types: List[andon.utils.ArticleType],
  form: Form[(String, String, String, String, Option[String], Option[String], Boolean)])

@import andon.utils._

@common("記事の作成")("") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home")
  ), "記事作成")

  <h3>記事の作成</h3>

  <div class="span9">
    @helper.form(routes.ArtisanArticle.postCreateArticle, 'style -> "margin-bottom: 80px;") {

      @form.globalError.map { error =>
        <p class="error">
          @error.message
        </p>
      }

      @if(level != Writer) {

        <label class="checkbox">
          <input type="checkbox" id="option">
          執筆者を別にする
        </label>

        @helper.inputText(
          form("optAuthor"),
          '_label -> "執筆者(オプション)",
          '_help -> "",
          'disabled -> "disabled",
          'id -> "option-author"
        )

        @helper.inputText(
          form("optDate"),
          '_label -> "日付(オプション)",
          '_help -> "",
          'disabled -> "disabled",
          'id -> "option-date"
        )
      }

      @helper.select(
        form("type"),
        options = helper.options(types.map(_.toString)),
        '_label -> "記事の種類",
        '_help -> ""
      )

      @helper.inputText(
        form("genre"),
        '_label -> "ジャンル",
        '_help -> ""
      )

      @helper.inputText(
        form("title"),
        '_label -> "タイトル",
        '_help -> "",
        'class -> "wide"
      )

      @helper.textarea(
        form("text"),
        '_label -> "本文",
        '_help -> "",
        'class -> "wide",
        'rows -> 20
      )

      @helper.checkbox(
        form("editable"),
        '_label -> "誰でも編集可能にする",
        '_help -> ""
      )

      <a id="preview" class="btn" href="#">プレビュー</a>
      <button class="btn" type="submit">送信</button>
    }
  </div>

  <form id="preview-form" class="hidden" action="@routes.ArtisanArticle.preview" method="POST" target="_blank">
    <input id="preview-text" type="hidden" name="text" value="">
  </form>

  <div class="span3">
    <input class="fileupload-input" type="file" name="file" multiple>
    <button class="btn fileupload-submit">画像を送信</button>
    <ul class="thumbnails fileupload-wrapper" style="margin-bottom: 80px;">
    </ul>
  </div>
} {
  <script type="text/javascript" src="@routes.Assets.at("js/insertImage.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/optionAuthor.js")"></script>
  <script type="text/javascript">
    $("#preview").on("click", function(e) {
      e.preventDefault();
      $("#preview-text").val($("#text").val());
      $("#preview-form").submit();
    });
  </script>
}
