@(form: Form[(String, String, String)])

@import andon.utils._

@common("Write Article") {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li class="active">記事作成</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>記事の作成</h3>

  @helper.form(routes.Artisan.postCreateArticle) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @helper.select(
      form("type"),
      options = helper.options(List(Info).map(_.toString)),
      '_label -> "記事の種類",
      '_help -> ""
    )

    @helper.inputText(
      form("title"),
      '_label -> "タイトル",
      '_help -> "",
      'class -> "wide"
    )

    @helper.textarea(
      form("text"),
      '_label -> "本文",
      '_help -> "",
      'class -> "wide",
      'rows -> 20
    )

    <button class="btn" type="submit">送信</button>
  }
} {
  <h2>記事の作成</h2>
}
