@(id: Int, form: Form[(String, String)])

@common("資料情報の編集") {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li><a href="@routes.Artisan.data()">資料一覧</a> <span class="divider">/</span></li>
    <li class="active">資料情報の編集</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>資料情報の編集</h3>

  @helper.form(routes.Artisan.postEditDatum(id)) {

    @form.globalError.map { error =>
      <p class="error">
      @error.message
      </p>
    }

    @helper.inputText(
      form("name"),
      '_label -> "資料名",
      '_help -> ""
    )

    @helper.inputText(
      form("genre"),
      '_label -> "ジャンル",
      '_help -> ""
    )

    <button class="btn" type="submit">送信</button>
  }
} {
  <h2>資料情報の編集</h2>
}
