@(acc: Account, form: Form[(String, String, String)])

@common("パスワード変更") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.accounts, "アカウント一覧"),
    (routes.Artisan.account(acc.id),"アカウント詳細")
  ), "パスワード変更")

  <h3>@acc.name さんのパスワード変更</h3>

  @helper.form(routes.Artisan.postEditPassword(acc.id)) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @helper.inputPassword(
      form("yourpass"),
      '_label -> "あなたのパスワード",
      '_help -> ""
    )

    @helper.inputPassword(
      form("password"),
      '_label -> "新しいパスワード",
      '_help -> ""
    )

    @helper.inputPassword(
      form("confirm"),
      '_label -> "新しいパスワード(確認)",
      '_help -> ""
    )

    <input type="submit" class="btn" value="変更">
  }
} {
}
