@(acc: Account, form: Form[(String, String, String)])

@common("パスワード変更") {
} {
  <ul class="breadcrumb">
    <li><a href="@routes.Artisan.home()">Home</a> <span class="divider">/</span></li>
    <li><a href="@routes.Artisan.accounts()">アカウント一覧</a> <span class="divider">/</span></li>
    <li><a href="@routes.Artisan.account(acc.id)">アカウント詳細</a> <span class="divider">/</span></li>
    <li class="active">パスワード変更</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>@acc.name さんのパスワード変更</h3>

  @helper.form(routes.Artisan.postEditPassword(acc.id)) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @helper.inputPassword(
      form("yourpass"),
      '_label -> "あなたのパスワード",
      '_help -> ""
    )

    @helper.inputPassword(
      form("password"),
      '_label -> "新しいパスワード",
      '_help -> ""
    )

    @helper.inputPassword(
      form("confirm"),
      '_label -> "新しいパスワード(確認)",
      '_help -> ""
    )

    <input type="submit" class="btn" value="変更">
  }
} {
  <h2>パスワード変更</h2>
}
