@(id: Int, form: Form[(String, String, Option[String], Option[String])])

@common("資料情報の編集") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.data, "資料一覧")
  ), "資料情報の編集")

  <h3>資料情報の編集</h3>

  @helper.form(routes.Artisan.postEditDatum(id)) {

    @form.globalError.map { error =>
      <p class="error">
      @error.message
      </p>
    }

    <label class="checkbox">
      <input type="checkbox" id="option" @if(form("optAuthor").value.isDefined) { checked }>
      作者を別にする
    </label>

    @helper.inputText(
      form("optAuthor"),
      '_label -> "作者(オプション)",
      '_help -> "",
      'disabled -> "disabled",
      'id -> "option-author"
    )

    @helper.inputText(
      form("optDate"),
      '_label -> "日付(オプション)",
      '_help -> "",
      'disabled -> "disabled",
      'id -> "option-date"
    )

    @helper.inputText(
      form("name"),
      '_label -> "資料名",
      '_help -> ""
    )

    @helper.inputText(
      form("genre"),
      '_label -> "ジャンル",
      '_help -> ""
    )

    <button class="btn" type="submit">送信</button>
  }
} {
  <script type="text/javascript" src="@routes.Assets.at("js/optionAuthor.js")"></script>
}
