@(level: andon.utils.AccountLevel, id: Long,
  form: Form[(String, String, String, String, Option[String], Option[String])])

@import andon.utils._

@common("記事の編集") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.articles, "記事一覧"),
    (routes.Artisan.article(id), "記事詳細")
  ), "記事編集")

  <h3>記事の編集</h3>

  <div class="span9">
    @helper.form(routes.Artisan.postEditArticle(id), 'style -> "margin-bottom: 80px;") {

      @form.globalError.map { error =>
        <p class="error">
          @error.message
        </p>
      }

      <input type="hidden" name="type" value="@form("type").value">

      @if(level != Writer) {

        <input type="checkbox" id="option" @if(form("optAuthor").value.isDefined) { checked }>
        <label for="option">執筆者を別にする</label>

        @helper.inputText(
          form("optAuthor"),
          '_label -> "執筆者(オプション)",
          '_help -> "",
          'disabled -> "disabled",
          'id -> "option-author"
        )

        @helper.inputText(
          form("optDate"),
          '_label -> "日付(オプション)",
          '_help -> "",
          'disabled -> "disabled",
          'id -> "option-date"
        )
      }

      @helper.inputText(
        form("genre"),
        '_label -> "ジャンル",
        '_help -> ""
      )

      @helper.inputText(
        form("title"),
        '_label -> "タイトル",
        '_help -> "",
        'class -> "wide"
      )

      @helper.textarea(
        form("text"),
        '_label -> "本文",
        '_help -> "",
        'class -> "wide",
        'rows -> 20
      )

      <input type="submit" class="btn" value="送信">
    }
  </div>

  <div class="span3">
    <input class="fileupload-input" type="file" name="file" multiple>
    <button class="btn fileupload-submit">画像を送信</button>
    <ul class="thumbnails fileupload-wrapper" style="margin-bottom: 80px;">
    </ul>
  </div>
} {
  <script type="text/javascript" src="@routes.Assets.at("js/insertImage.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/optionAuthor.js")"></script>
}
