@(id: andon.utils.ClassId, form: Form[(Option[Long], Option[String], Boolean)])

@import andon.utils._

@common("記事の編集") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.classData(Some(id.times.n)), "クラス一覧")
  ), "講評・感想")

  <h3>講評・感想</h3>

  @form.globalError.map { error =>
    <p class="error">
      @error.message
    </p>
  }

  @helper.form(routes.Artisan.postEditReview(id.toInt)) {

    @form("rid").value.map { n =>
      <input name="rid" type="hidden" value="@n">
    }

    @helper.textarea(
      form("text"),
      '_label -> "本文",
      '_help -> "",
      'class -> "wide",
      'rows -> 10
    )

    @helper.checkbox(
      form("delete"),
      '_label -> "削除する",
      '_help -> "",
      'id -> "option"
    )

    <input type="submit" class="btn" value="送信">
  }
} {
  <script type="text/javascript">
  $(function() {
    var change = function() {
      if ($(this).is(":checked")) {
        $("textarea").attr("disabled", "disabled");
      } else {
        $("textarea").removeAttr("disabled");
      }
    };

    $("#option").change(change);
    change();
  });
  </script>
}
