@(times: andon.utils.OrdInt, form: Form[String])

@import andon.utils._

@common("回の編集") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.timesData, "回一覧")
  ), "回の編集")

  <h3>回の編集</h3>

  @helper.form(routes.Artisan.postEditTimesData(times.n), 'enctype -> "multipart/form-data") {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @helper.inputText(
      form("title"),
      '_label -> "タイトル",
      '_help -> ""
    )

    <img class="block" src="@Images.getTimesImage(times)" width="320">

    <input class="block" type="file" name="top">

    <p>画像をアップロードすると、現在の画像は上書きされます。必要ならバックアップを取ってください。(ファイルを選択しない場合は送信ボタンを押しても上書きされません。)</p>

    <button class="btn">送信</button>
  }
} {
}
