@(id: andon.utils.ClassId, form: Form[(Option[Long], Option[String], Boolean)])

@import andon.utils._

@common("講評の編集 " + id.toString) {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.classData(Some(id.times.n)), "クラス一覧")
  ), "講評・感想")

  <h3>講評・感想</h3>

  @form.globalError.map { error =>
    <p class="error">
      @error.message
    </p>
  }

  <h4>クラス情報</h4>

  @models.ClassData.findByClassId(id).map { data =>
    @Images.findImagePath(data).map { path =>
      <a class="fresco" href="@Images.toFullsize(path)">
        <img src="@Images.toThumbnail(path)">
      </a>
    }
    <table class="table dl" style="margin-top: 14px">
      <tr>
        <td>クラス</td>
        <td>@data.id.toJapanese</td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td>@data.title</td>
      </tr>
      <tr>
        <td>賞</td>
        <td>@data.prize.map(_.span).getOrElse { なし }</td>
      </tr>
      <tr>
        <td>紹介文</td>
        <td>@data.intro</td>
      </tr>
    </table>
  }

  <h4>講評</h4>

  @helper.form(routes.Artisan.postEditReview(id.toInt)) {

    @form("rid").value.map { n =>
      <input name="rid" type="hidden" value="@n">
    }

    @helper.textarea(
      form("text"),
      '_label -> "本文",
      '_help -> "",
      'class -> "wide",
      'rows -> 10
    )

    @helper.checkbox(
      form("delete"),
      '_label -> "削除する",
      '_help -> "",
      'id -> "option"
    )

    <input type="submit" class="btn" value="送信">
  }
} {
  <script type="text/javascript">
  $(function() {
    var change = function() {
      if ($(this).is(":checked")) {
        $("textarea").attr("disabled", "disabled");
      } else {
        $("textarea").removeAttr("disabled");
      }
    };

    $("#option").change(change);
    change();
  });
  </script>
}
