@(acc: Account, form: Form[(String, String, Int, String)])

@import andon.utils._

@common("アカウントの編集") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.accounts, "アカウント一覧"),
    (routes.Artisan.account(acc.id),"アカウント詳細")
  ), "アカウント編集")

  <h3>アカウントの編集</h3>

  @helper.form(routes.Artisan.postEditAccount(acc.id)) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @helper.inputText(
      form("name"),
      '_label -> "名前",
      '_help -> ""
    )

    @helper.inputText(
      form("username"),
      '_label -> "ユーザー名",
      '_help -> ""
    )

    @helper.select(
      form("times"),
      options = {
        val all = TimesData.all
        all.map(_.times.n.toString).zip(all.map(_.times.toString))
      },
      '_label -> "卒業期",
      '_help -> ""
    )

    @helper.select(
      form("level"),
      options = {
        val all = Seq(Admin, Master, Writer)
        all.map(_.toString).zip(all.map(_.toJapanese))
      },
      '_label -> "アカウントレベル",
      '_help -> ""
    )

    <button class="btn" type="submit">送信</button>
  }
} {
  <h2>アカウントの編集</h2>
}
