@(histories: Iterable[andon.utils.History], article: Article)

@import andon.utils._
@import models._

@common("History - " + article.title) {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.articles, "記事一覧"),
    (routes.Artisan.article(article.id), "記事詳細")
  ), "編集履歴")

  <h3>@article.title の編集履歴</h3>

  <table class="table">

    <tr>
      <th>日時</th>
      <th>編集</th>
      <th>操作</th>
    </tr>

    @histories.map { history =>
      <tr>
        <td>
          @DateUtil.detail(history.date)
        </td>
        <td>
          @Accounts.findNameById(history.accountId)
        </td>
        <td>
          <a href="@routes.Artisan.historyContent(history.articleId, history.id)">表示を見る</a>
          <a href="@routes.Artisan.historySource(history.articleId, history.id)">ソースを見る</a>
          <a href="@routes.Artisan.diff(history.articleId, history.id)">差分を見る</a>
        </td>
      </tr>
    }
  </table>
} {
}
