@(history: andon.utils.History, article: Article)

@import andon.utils._
@import models._

@common(article.title + " - " + DateUtil.detail(history.date))("") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.Artisan.articles, "記事一覧"),
    (routes.Artisan.article(history.articleId), "記事詳細"),
    (routes.Artisan.history(history.articleId), "編集履歴")
  ), "ソースコード")

  <div class="article-wrapper">
    <h1 class="article-title">@article.title</h1>
    <textarea class="wide" rows="20">@history.content</textarea>
  </div>
} {
}
