@(acc: Account)(implicit flash: Flash)

@import andon.utils._

@common(acc.username + "'s Home") {
} {
  <ul class="breadcrumb">
    <li class="active">Home</li>
    <li class="pull-right"><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></li>
  </ul>

  <h3>ようこそ! @acc.name さん</h3>

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  @flash.get("error").map { message =>
    <p class="error">
      @message
    </p>
  }

  @if(acc.level != Writer) {

    <p><a href="@routes.Artisan.accounts()">アカウント一覧</a></p>

    <p><a href="@routes.Artisan.createAccount()">アカウントの作成</a></p>

    <p><a href="@routes.Artisan.data()">資料一覧</a></p>

    <p><a href="@routes.Artisan.uploadDatum()">資料のアップロード</a></p>
  }


  <p><a href="@routes.Artisan.articles()">記事一覧</a></p>

  <p><a href="@routes.Artisan.createArticle()">記事の作成</a></p>


  <dl>
    <dt>ID</dt>
    <dd>@acc.id</dd>

    <dt>名前</dt>
    <dd>@acc.name</dd>

    <dt>ユーザー名</dt>
    <dd>@acc.username</dd>

    <dt>卒業期</dt>
    <dd>@acc.times</dd>

    <dt>アカウントレベル</dt>
    <dd>@acc.level.toJapanese</dd>
  </dl>

  <p><a class="btn" href="@routes.Artisan.editMyPassword()">パスワードの変更</a></p>

  @if(acc.level == Admin) {
    <p><a class="btn" href="@routes.Artisan.editAccount(acc.id)">ユーザー情報の変更</a></p>
  }

  <form method="POST" action="@routes.Artisan.deleteMyAccount">
    <button class="btn btn-danger delete-submit">アカウントの削除</button>
  </form>

} {
  <h2>@acc.username's Home</h2>
}
