@(acc: Account)(implicit flash: Flash)

@import andon.utils._

@tr(call: Call, name: String, exp: String) = {
  <tr>
    <td><a href="@call">@name</a></td>
    <td>@exp</td>
  </tr>
}

@common(acc.username + "'s Home") {
} {
  @breadcrumb(Seq(
  ), "Home")

  <h3>ようこそ! @acc.name さん</h3>

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  @flash.get("error").map { message =>
    <p class="error">
      @message
    </p>
  }

  <table class="table">
    <tr>
      <th>操作</th>
      <th>説明</th>
    </tr>

    <tr>
  @if(acc.level != Writer) {

    @tr(routes.Artisan.accounts, "アカウント一覧",
      "登録されているアカウント一覧です。(管理人のみ)")

    @tr(routes.Artisan.createAccount, "アカウントの作成",
      "新しいアカウントを作成出来ます。(管理人のみ)")

    @tr(routes.Artisan.data, "資料一覧",
      "アップロードされた資料一覧です。(管理人のみ)")

    @tr(routes.Artisan.uploadDatum, "資料のアップロード",
      "資料をアップロードできます。ここにアップロードされた資料はHowtoページからダウンロード出来るようになります。(管理人のみ)")

    @tr(routes.Artisan.classData, "クラス一覧",
      "クラス情報の閲覧と、画像のアップロードやトップ画像の選択ができます。(管理人のみ)")
  }


  @tr(routes.Artisan.articles, "記事一覧",
    "あなたが編集できる記事一覧です。")

  @tr(routes.Artisan.createArticle, "記事の作成",
    "記事の作成画面です。ここで作成された記事は、InfoまたはHowtoで閲覧できるようになります。")

} {
  <h2>@acc.username's Home</h2>
}
