@(account: Account)(implicit flash: Flash)

@common(account.username + "'s Home") {
} {

  <h3>@account.name さん</h3>

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  @flash.get("error").map { message =>
    <p class="error">
      @message
    </p>
  }

  <p><a href="@routes.Artisan.articles()">編集可能な記事</a></p>

  <p><a href="@routes.Artisan.accounts()">編集可能なアカウント</a></p>

  <p><a href="@routes.Artisan.createAccount()">アカウントの作成</a></p>

  <p><a href="@routes.Artisan.logout()"><button class="btn">ログアウト</button></a></p>
} {
  <h2>@account.username's Home</h2>
}
