@(form: Form[(String, String)])(implicit flash: Flash)

@common("Sign in") {
} {
  @helper.form(routes.Artisan.authenticate) {

    <h3>Sign in</h3>

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    <p>ユーザー名: <input type="text" name="username" value="@form("username").value"><p>
    <p>パスワード: <input type="password" name="password"></p>

    <p><button class="btn" type="submit">Login</button></p>
  }
} {
  <h2>Sign in</h2>
}
