@(level: andon.utils.AccountLevel, form: Form[(String, String, Option[String], Option[String])])

@import andon.utils._

@common("資料のアップロード") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home")
  ), "資料のアップロード")

  <h3>資料のアップロード</h3>
  <p>一度に100Mまでアップロード可能です。画像はクラス一覧→画像のアップロードか、記事に埋め込むようにしてください。送信に時間がかかるので、一度送信ボタンを押したら画面が変わるまで待ってください。</p>

  @helper.form(routes.Artisan.postUploadDatum, 'enctype -> "multipart/form-data") {

    @form.globalError.map { error =>
      <p class="error">
      @error.message
      </p>
    }

    <input type="file" name="file">

    @if(level != Writer) {

      <label class="checkbox">
        <input type="checkbox" id="option">
        作者を別にする
      </label>

      @helper.inputText(
        form("optAuthor"),
        '_label -> "作者(オプション)",
        '_help -> "",
        'disabled -> "disabled",
        'id -> "option-author"
      )

      @helper.inputText(
        form("optDate"),
        '_label -> "日付(オプション)",
        '_help -> "",
        'disabled -> "disabled",
        'id -> "option-date"
      )
    }

    @helper.inputText(
      form("name"),
      '_label -> "資料名",
      '_help -> ""
    )

    @helper.inputText(
      form("genre"),
      '_label -> "ジャンル",
      '_help -> ""
    )

    <button class="btn" type="submit">送信</button>
  }
} {
  <script type="text/javascript" src="@routes.Assets.at("js/optionAuthor.js")"></script>
}
