@(id: andon.utils.ClassId)

@common(id.toString + " 画像のアップロード")("") {
} {
  @breadcrumb(Seq(
    (routes.Artisan.home, "Home"),
    (routes.ArtisanClassData.classData(Some(id.times.n)), "クラス一覧")
  ), "画像のアップロード")

  <h3>@id.toString 画像のアップロード</h3>

  <div class="article">
    <ul>
      <li>画像は複数選択可能です。Internet Explorer 9 以下など複数選択に対応していないブラウザもあるので、そのような場合は諦めて一枚ずつアップロードするか他のブラウザを使ってください。</li>
      <li>一度に100MBまでアップロード可能です。</li>
      <li>画像以外はアップロードできません。</li>
      <li>送信に時間がかかるので、一度送信ボタンを押したら画面が変わるまで待ってください。</li>
    </ul>

    @helper.form(routes.ArtisanClassData.postUploadImage(id.toInt), 'enctype -> "multipart/form-data") {

      <input type="file" name="images" multiple required>

      <button class="btn" type="submit">送信</button>
    }
  </div>
} {
}
