@howto.common("行灯オススメ題材集")("ナベ・仕事人・遊び人・仕掛人")("2003/4/28") {
  <h3> 行灯オススメ題材集～♪
  今年の夏はこれで決まり！！ </h3>
  <br>
  <div class="text1">
  <center>
  <font size=+2 color=red><b>▼なべオススメ♪</b></font>
  </center>
  <p>
  <font color=blue><b>
  <水滸伝>
  </b></font> <br>
  1. 九紋龍　史進　～三尖刀の使い手。背に9匹の龍の入れ墨を背負う。史進 を中心に9匹の龍を上手く配置して厚みのある行灯を作ってみたかった。 <br>
  2. 浪子　燕青　～背に四神の入れ墨を背負う。四神で空間をうめて迫力を出したい。 <br>
  3. 黒旋風　李逵　～その名の通り黒ずくめの衣装で、2本の斧を得物にする鬼の様に強い豪傑。黒と赤が主体の美しくも迫力のある行灯になるはず。
  </p>
  <p>
  <font color=blue><b>
  <三国志>
  </b></font> <br>
  1. 夏侯惇 元譲　～魏の武将。「父母からいただいたものを捨てるわけにはいかん」と言って矢で貫かれた自分の目玉を食らうシーンを再現したい。 <br>
  2. 悪来 典韋 vs  許緒　～共に魏の武将。この戦いの後、許緒が儀に投降する。2人の豪傑の熾烈な戦い。典韋は2本の戟を自在に操り、許緒は槍で応戦する。 <br>
  3. 甘寧  興覇　～呉の武将。正史によると「・・・弓や弩をたばさみ、水牛の尻尾の旗指物を背につけ、腰には鈴を帯びていた。・・・」となっており衣装が面白い。 <br>
  この人の武勇伝はたくさんある。特に「濡須の戦い」はすさまじい。
  </p>
  <p>
  その他　～今年は宮本武蔵&佐々木小次郎を作るクラスが必ずあるはず
  </p>
  <p>
  おまけ：行灯掲示板に書いてあったダークフォースについて <br>
  実際にスターウォーズのゲームにDark  Forceシリーズって言うのがあって、小説にもなってます。ゲームは3作あって1作目と3作目はプレイしたけど、3作目はなかなか面白いですよ。
  </p>
  <hr>
  <center>
  <font size=+2 color=red><b>▼仕事人オススメ♪</b></font>
  </center>
  <p>
  先日、ひょんなことから目を通した清水寺二十八部衆の写真中に、行灯の題材として面白いのではないかなぁと思うものがありました。この二十八部衆、増長天や多聞天、金剛力士から阿修羅まで有名どころで行灯の題材としても使われたことがあるのではないかと思われるようなものがたくさんいるのですが、今回あえて注目したのは『<font color=blue><b>迦楼羅王</b></font>』と『<font color=blue><b>摩?羅伽王</b></font>』です。ちなみに読み方は『かるらおう』『まごらがおう』で、?の字は正確には、目辺に侯ではなく、候のようです。字がでないので?のままで書くことにします。<br>
  </p>
  <p>
  迦楼羅はかつて５０thの三年生も制作した題材で、その最大の特徴は背中に翼を持つことでしょう。その翼が大変美しく強く印象に残った行灯でした。ちなみにここ行灯職人への道のギャラリーでは後ろ姿の写真だけがあったような気がします。<br>
  今回、二番煎じといわれようともこの迦楼羅を推薦する訳は、彼(？)が横笛を吹く音楽神であるということを知ったからです。おそらく他には決してありえないであろう背中の翼と、これもまた珍しい横笛を吹いているという二つの特徴によって独創性のあるなかなか面白いものが出来上がるのではないかと思います。<br>
  翼について言えば、行灯の後ろ側がほとんど翼になってしまう可能性が大いにあるという点から、いくらか後ろが味気ないものになりがちかも知れません。いわゆる一枚絵を入れるということは難しくなるでしょう。しかし、色塗りの上手なクラスであれば、きれいな翼を作ることができればそれだけで強いインパクトを持たせることが出来ると思います。さらには、ただ翼を広げているだけでなく、羽ばたいているようにすれば、迫力も出ることでしょう。また、小蜘蛛、小蛸と同じように、羽を行灯全体にばら撒くなんてことも考えられると思います。<br>
  横笛を吹いているというということから、うまく作らなければ前面に小さくまとまった構図となってしまう可能性があると思います。それでも、横笛をくちばしからいくらか離してしまい、片方のひじを思い切ってあげてしまった上で笛を吹くポーズをとらせることで広がりを持った迫力のある構図も可能だと思います。ちなみに迦楼羅は、インドではガルーダと呼ばれていたはずで、金翅鳥（こんじちょう）の化身とされているので、くちばしを持っています。<br>
  </p>
  <p>
  摩?羅伽王は、大蛇神の化身で頭頂に蛇を戴き、五眼、これもまた琵琶を弾く音楽神だそうです。<br>
  頭頂の蛇は、頭の上に蛇がとぐろを巻いていても、いくらか滑稽に見えるだけかもしれませんし、そのまま作るのは難しいかもしれません。ここはあえて都合のいい解釈をして蛇を首や肩を這わせたり絡ませたりした上で頭上を這わせるなどといった構図をとるのもひとつの方法ではないかと思います。頭に蛇がいるというだけで、なかなか面白いでしょうし。ただし、針金の制作、紙張りはいくらか複雑になってしまうでしょう。<br>
  五つの目をそのまま作るというのは、さすがに厳しいのではないかと思います。ここは仏像に見られるように、額にはホクロの様な点を打ち、残りの二つの目は野球選手が目の下に書くような黒い『～』&larr;こんなのを書くというような方法をとるのがいいのではないかと思います。まぁ、あまりこだわらずに、普通に目を二つとしてしまってもいいとは思いますが。<br>
  琵琶がこの摩?羅伽王の最大の特徴になると思います。琵琶はサイズもそこそこ大きくなるでしょうし、構図を限定してしまう可能性が大きいものでもあると思います。それでも、行灯としてはなかなか見られるものではなく、「へ～」と思わせるには十分なものであると思います。思い切ってギターを弾いているかのようなポーズをとらせてしまうというのも迫力、動きという点から考えればアリではないかとも思います。<br>
  </p>
  <p>
  どちらにもいえることなのですが、仏像の頭部の後ろには、炎の燃えているような車輪のようなものがよく配置されています。これが何を意味しているのかは知らないのですが、そのまま作ってしまっても格好いいのではないかと思います。そんなものがあるので、一度でも時間のあるときに、仏像関係の本に目を通してみるというのも行灯制作の参考になると思います。<br>
  </p>
  </div>
  <hr>
  <div class="text1">
  <center>
  <font size=+2 color=red><b>▼遊び人オススメ♪</b></font>
  </center>
  <p>
  ぶっちゃけ、僕は上の二人のように三国志マニアでも、歴史に精通しているわけでもありませんので、これといって特定のものがあるわけではありませんが&hellip;作ってみたかったものを二つほど。 <br>
  <br>
  <font color=blue><b>・四字熟語</b></font> <br>
  そうですね～まずこれですね。 <br>
  特に『人物は誰！』とかを決めないで、インパクトのある四字熟語を選んでそれのイメージで作る。なんで作りたかったかってゆーと、やっぱりインパクトがありますよねぇ～～。審査員や沿道の人たちがパンフレット見て、『おっ』っと思ってくれるタイトルがつけたかったんで。たとえば『電光石火』とかってタイトルつけて、剣の電飾を細工してやったらいいなぁ～～と。 <br>
  同趣旨で<font color=blue>歴史上の出来事</font>がありますねぇ～。歴史上の出来事というと漠然としてますが、万人が知ってるやつがつくりたかったなぁと。たとえば『大化の改新』とかですねぇ～。やっぱ題名見て惹かれるやつを作りたかったですねぇ&hellip;。 <br>
  <br>
  <br>
  もう一つはずばり<font size=+2 color=green><b>木</b></font>ですね。 <br>
  <br>
  これは人１木１って感じじゃなくて、もう木と人が一体化してるってゆーか、人が取り込まれてるってゆーか。蜘蛛つくったときもそうだったんだけど、生首とか髑髏とかが何かに取り込まれてるの作りたかったんですよねぇ～。蜘蛛のときは、蜘蛛の糸をじゃんじゃんつかってその糸の中に生首とか、子蜘蛛の胴の部分が人の頭とか&hellip;。 <br>
  あぁ～～～。こんなの書いてたら作りたくなってきたじゃないですか！！！！(笑　 <br>
    あぁでも、女子が不気味がって反対するのは当然ですが(苦笑 <br>
      <br>
      <br>
      <br>
      <br>
      最後に一言、声を大にして(字も大にして)言いたい！！ <br>
      <br>
      <center>
      1,2年ならまだしも、<b><font size=+2 color=navy>3年がねぶたor過去の作品をパクるなぁ！！！！</font></b>
      </center>
      <br>
      以上現場から遊び人がお送りいたしました♪
      </p>
      <hr>
      <center>
      <font size=+2 color=red><b>▼仕掛人オススメその１♪（2003年作成）</b></font>
      </center>
      <p>
      ０．はじめに・・・ <br>
      最近はあまりに龍が多すぎます！！！
      統計によると、龍を作ったクラスは、52ndは約８クラス、53rdは約１０クラスもありました（おそらくナタクの影響でしょう）。
      ひと昔前は『虎』『鳥』『鬼』『蛇』『馬』ｅｔｃも流行っていて、バラエティに富んでいたのですが・・・。
      たとえどんなに上手くても、龍ばかりだと、さすがに飽きてきます。
      ということで、見物客や審査員の方々の声に耳を傾けつつ（？）、執筆させて頂きます。
      </p>
      <p>
      ①「<font color=blue><b>蝶（蛾）</b></font>」 <br>
      作ったことないので、オススメ出来るかどうかよくわかりませんが・・・（汗）。
      でも、蝶を作るような個性的なクラスが１つくらいあっても良いのではないでしょうか？
      おそらく蝶を作ると・・・
      </p>
      <p>
      「１．キモチワルイ」
      「２．カワイイ」
      「３．エレガント」
      </p>
      ・・・この３つのどれかに当てはまる事になるでしょう（笑）。
      <p>
      １なら非難轟々、２ならユーモア賞、３なら行灯大賞って感じだと思います。
      例えば、ポ●モンのキャラっぽくなったら間違いなくユーモア賞。
      モスラみたいに幻想的でエレガントな蝶なら行灯大賞（爆）。
      （でも見物客の中にモスラ知らない世代が居そうで怖いです・・・まあ僕等はオバＱ世代ですが（&larr;内輪ネタ失礼））。
      </p>
      <p>
      ところで、蝶を作ると言っても、実は、「メイン（大きいサイズ）で作る」ｏｒ「小さい飾りとして作る」の２通りがあります。
      ちなみに唯一の前例である作品『2002年ねぶた大賞』では、小さい飾りで、アクセントととして蝶を作ってます。
      この年にねぶたを見に行った芋兄・遊び人は「なまら綺麗だった」と絶賛してました。
      これを聞いて僕は「こりゃメインでもいける」と勝手に思ったわけです。
      </p>
      <p>
      何と言っても蝶は、紙塗りが命でしょう。
      色塗りに自信のあるクラスなら、思い切って挑戦する価値はあると思います。
      ただ蝶の柄や配色などについては、多種多様なので、紙塗りの人々は、かなり苦悩するでしょう。
      でも、クラスに１人くらいは蝶の標本をコレクションしている所謂「蝶マニア」が居ると思うので、頑張って下さい（爆）。
      ポイントは「黒と紫」の使い方だと思います。とにかく明るくて派手な色だけ使うと、光ったとき締まりません。
      暗い色と明るい色で、メリハリのある色を組み合わせると、夜光ったときも綺麗に仕上がるのではないでしょうか。
      </p>
      <p>
      針金は、蝶の顔や触覚、羽の立体感を出すのが結構難しいと思います。
      電飾は、触覚のあたりが難しいと思いますが、頑張って下さい。
      ついでに鱗粉（りんぷん）も付け加えると、さらに良いのではないでしょうか。
      </p>
      <p>
      題名を「てふてふ」にすると、ひらがな特有の柔らかい雰囲気も加味されて、ますます良くなるはずです（笑）。
      </p>
      <p>
      ②<font color=blue><b>鳳凰</b></font>（フェニックス）。 <br>
      非常に興味深い題材ではないでしょうか。
      蝶よりもさらに色塗りが難しいでしょうけど。
      </p>
      <p>
      ③<font color=blue><b>孔雀</b></font>（クジャク） <br>
      非常に興味深い題材ではないでしょうか。
      鳳凰よりもさらに色塗りが難しいでしょうけど。
      </p>
      <p>
      ④「<font color=blue><b>龍＋虎</b></font>」 <br>
      天空を飛び舞う龍、地上を駆け巡る虎。
      龍が多すぎると言っておきながらも、僕は「龍＋虎」には憧れていました（爆）。でもあまりに難しそうなので断念しました。
      龍と虎の２体だと、人の体積分が消えてしまうので、空間充填率が少し下がってしまいます。だからと言って、さらに「人」も加えてしまうと、３体がこぢんまりしてしまいます。行灯のスケールだと２体が限界です。３体以上作るには、ねぶたくらいのスケールじゃないと実現不可能です。龍・虎でどうやって空間を埋めるか、そして、龍の体でいかに滑らかな曲線美を描くか、がポイントとなります。龍の体が空中に縦横無尽に舞うので、構図や支柱の立て方が、かなり困難になってくると思います。あと、支柱の木材や、バッテリーを隠す場所が無さそうなので、困るかもしてません。これらが外側から丸見えだと、かなりミッタクナイので絶対に阻止しましょう。
      </p>
      <p>
      ⑤<font color=blue><b>平将門の首塚</b></font>。 <br>
      「平将門の生首が空を飛んで移動した」という奇怪な伝説があるらしいですね。
      それを是非行灯で表現して欲しいです。
      詳しくは<a href="http://village.infoweb.ne.jp/~fwhy9358/masakado.html" target="_new">こちら</a>
      </p>
      <p>
      実は過去の作品で、<a href="http://www.ep.sci.hokudai.ac.jp/~tsubota/andon/460201a.JPG" target="_new">生首を持った行灯</a>があります（相撲評論家さん＠画像御提供多謝）。
      </p>
      <p>
      奇怪な題材と言えば、なべさんがオススメなさった「矢で貫かれた自分の目玉を食らう」シーンもかなり良いと思いました。
      北高生は三国志マニアがかなり多いです。これは本当に作るクラスが出てくる気がします。
      </p>
      <p>
      ⑥<font color=blue><b>牛若丸と弁慶</b></font> <br>
      「人を２体作ると失敗する」（詳しくは<a href="@routes.Application.eachHowto("hiketu")" target="_new">行灯大賞奪取の秘訣</a>参照）と言いつつも、これは作って欲しいです。
      舞台となる五条橋も作って欲しいです。
      </p>
      <p>
      ⑦<font color=blue><b>ヨーダ</b></font> <br>
      言わずと知れたグランドジェダイマスター。
      オススメのシーンは、EpisodeⅡクライマックスでのヨーダとドゥークーの師弟対決です。特に、ダークサイドに寝返った弟子（ドゥークー）と戦わなければならぬ運命を受け入れ、懐からおもむろにライトセーバーを取り出した瞬間のヨーダの表情があまりに渋い。行灯にするには勿体ないくらいです（爆）。いや、しかし、是非作って欲しいものです。
      </p>
	  <p>
	    あと、
	    EpisodeⅤで、ヨーダとR2-D2がじゃれあうシーンもなかなか滑稽で良いと思います（ユーモア賞の可能性大）。
	    いずれにしろ見物客や審査員の皆様はかなり湧くことでしょう。
	    なんせ、リアルタイムでEpisodeⅣⅤⅥの３部作を御覧になって育った、まさにスターウォーズ世代なのですから（爆）。
	  </p>
	  <p>
	    ⑧<font color=blue><b>おまけ</b></font> <br>
	    ねぶた関係のサイトを紹介しておきます <br>
	    <a href="http://www.komakino.jp/nebuta-2002/nebuta-2002.htm" target="_new">www.komakino.jp/nebuta-2002/nebuta-2002.htm</a> <br>
	    <a href="http://sohtown.utoh.net/bunka/nebuta99.htm" target="_new">http://sohtown.utoh.net/bunka/nebuta99.htm</a> <br>
	    <a href="http://sohtown.utoh.net/bunka/nebuta2k.htm" target="_new">http://sohtown.utoh.net/bunka/nebuta2k.htm</a> <br>
	    <a href="http://www.towada.co.jp/99nebta_0.htm" target="_new">http://www.towada.co.jp/99nebta_0.htm</a>
	  </p>
	  <hr>
	  <center>
	    <font size=+2 color=red><b>▼仕掛人オススメその２♪（2004年追加分）</b></font>
	  </center>
	  <p>
	    ０．はじめに&hellip; <br>
	    正直言って、以下に記した題材はあまりオススメしたくありません（ぶっちゃけ僕だったら絶対に作りたくないです（爆））。 <br>
	    でも、一人の行灯大好き人間として、『こんな行灯あったらなぁ&hellip;』と心のどこかで期待しちゃうような題材です。 <br>
	    万が一、この題材を作って失敗したクラスがあっても、当局は一切責任を負いませんのでご了承下さいｍ（＿＿）ｍ <br>
	    <br>
	    ちなみに去年は、<font size=+2 color="blue"><b>龍激減（なんと3年龍ゼロ）・蝶２匹・蜘蛛１匹・龍+虎登場・鳳凰３羽</b></font>と、<br>
	    『げっ&hellip;俺がオススメした題材ばっかりじゃん&hellip;&Sigma;（￣□￣；）！』<br>
	    って感じで、一瞬嬉しかったんですけど軽く恐怖を感じました（爆）。だから今年はあんまり真面目に書きませんでした（爆）。ま、いくつかマジなのはありますけど。果たして今年は何クラスが参考にするのか楽しみです（爆）。<s>タコ獲ったどー！とか誰か作らないかなぁ～♪（笑）。</s>
	  </p>
	  <p>
	    ①<font color=blue><b>イソギンチャク</b></font>（海中生物） <br>
	    光ファイバーみたいな透明で細長い素材を巧みに利用し、電飾で魅せる行灯があったら超カッコイイだろうなぁ～と。 <br>
	    イソギンチャクみたいな幻想的な生物を表現できれば良い感じの行灯が出来るかもしれません。 <br>
	    ま、相当な試行錯誤と創意工夫が必要だと思いますけど（汗）。 <br>
	    色は白系なのでかなり明るいと思います。一部にレインボーの色を使っても面白いかも。 <br>
	    ちなみにこの光ファイバーっぽい素材は、クリスマスに何処かのイルミネーションとかで見かけたような気がします。
	  </p>
	  <p>
	    ②<font color=blue><b>太鼓</b></font>（アイテム） <br>
	    叩かれる薄い皮のところが光で透けたらキレイだと思います。 <br>
	    さらにそこに、伝説の紋章みたいなカッコイイ絵を加えて光らせれば良い感じの行灯が出来るかも。 <br>
	    太鼓のまわりの丸い玉みたい部分は、様々な色のビー玉を付けたりしたらキレイかも。 <br>
	    とにかく、こういう和風な感じの行灯も良いかなと。 <br>
	    ただ人間と太鼓の構図・比率が結構微妙で難しいかもしれません（今回紹介する題材の中では一番まともな題材かも）。
	  </p>
	  <p>
	    ③<font color=blue><b>センチネル</b></font>（マシン） <br>
	    マト●ックスレボリューションズで腐るほど出てくるウジャウジャしたあのキモイ機械です。 <br>
	    個人的に、この映画は期待はずれの超駄作だったので（爆）、あんまりオススメしません（でもミフネが死ぬところは結構泣けた）。 <br>
	    とにかく、こういう近未来的で金属チックな行灯もありかなと（『いや、それは有り得ないだろう』という意見が多勢でしょうけど）。 <br>
	    色と電飾で失敗する可能性が高いのでかなり無理があると思いますが（汗。
	  </p>
	  <p>
	    ④<font color=blue><b>ニモ</b></font>（魚） <br>
	    流行りましたし。素晴らしい映画ですし（ま、僕は見てませんが）。 <br>
	    ユーモア賞的には抜群の素材だと思います。 <br>
	    こういう題材を作る遊び心満載なクラスが一クラスくらいあってもいいんじゃないかなと。 <br>
	    魚は、53rd金賞をきっかけにもう既にメジャーデビューを果たした題材ですし（笑。
	  </p>
	  <p>
	    ⑤<font color=blue><b>ラストサムライ</b></font>（馬） <br>
	    流行りましたし。素晴らしい映画ですし（これも見てませんが）。 <br>
	    ラストサムライでの馬に乗る名シーン（確かそんなシーンがあった気がする&hellip;（適当））を再現したりしたら面白いかも。 <br>
	    ま、ぶっちゃけ、別にわざわざラストサムライなんか参考にする必要性は全く無いんですけどね（それを言っちゃおしめぇよ）。 <br>
	    いや、僕はただ、54thの一年生の金賞銀賞クラスは『馬』が超上手かったので（お世辞抜きで）、今年も何処かが『馬』を作るんじゃないかな？と密かに期待してただけです。はい。
	  </p>
	  <p>
	    ⑥<font color=blue><b>さくらんぼ</b></font>（フルーツ） <br>
	    行灯で手を抜きたいクラスにはもってこいの題材かもしれません♪（爆）。たぶん二週間くらいで完成すると思いますし。 <br>
	    で、この行灯担ぎながらみんなで「笑顔咲く～♪」みたいな掛け声でもやっちゃったら盛り上がんじゃないっすか？（&larr;適当。 <br>
	    こういう題材を作る遊び心満載なクラスが一クラスくらいあってもいいんじゃないかなと。 <br>
	    ま、実際にこんなクラスがあったら激しくひきますけど（苦笑）。
	  </p>
	  <p>
	    ⑦<font color=blue><b>スライム</b></font>（モンスター） <br>
	    かわいいですし。ドラクエⅤ最高ですし（笑）。 <br>
	    過去にスライム（ケロケロケロッピだったかも（爆））みたいな行灯があった気がします。 <br>
	    ドラクエのモンスターとか作っても面白いと思いますよ。 <br>
	    こういう題材を作る遊び心満載なクラスが一クラスくらいあってもいいんじゃないかなと。 <br>
	    ちなみに過去の時代には、良い意味で自由奔放な題材を用いた行灯が多かったようです（特に１年生の行灯に）。 <br>
	    例えば、北高の先生・笑うセールスマン・ウルトラマンとか&hellip;詳しくは行灯ギャラリー等をご参照下さいｍ（＿＿）ｍ
	  </p>
	  <p>
	    ⑧<font color=blue><b>タコ</b></font>（軟体動物） <br>
	    某テレビ番組でお笑い芸人濱口がタコを素手で捕まえて、「捕ったどー！」と叫ぶ名場面があります。 <br>
	    これを行灯で作ったら、一部の人間にはウケると思います。勇気のある無謀な人は作ってみてください（笑）。 <br>
	    「タコ捕ったどー（タコ捕ったどー）」という掛け声やったらさらに盛り上がると思います。 <br>
	    これも行灯で手を抜くクラスにはもってこいの題材ですね（苦笑）。
	  </p>
}
