@howto.common("針金の作り方")("甲乙人")("2011/6/17") {

  <h3>はじめに</h3>
  <p>
  土台・支柱が完成した後にすることは針金で格子を作ることです。
  平面だった構図を針金で立体にしていきます。<br>
  針金に求められるものは、技術力・表現力・スピード　です。<br>
  技術力は針金を扱う上手さ、正確さです。具体的には、伸ばす技術・格子の組む技術・針金同士を固定する技術などです。<br>
  表現力は構図を三次元に表現する力です。<br>
  スピードは文字通り格子を作っていく速さです。最近は特に作業時間が短くなっていることと後塗りという選択肢ができたことで、針金に時間がかかってしまうのはとても不利になってしまいます。<br>
  この三つはどれが欠けても良い針金はできませんが、技術力が他の二つの基礎になっています。<br>
  ここでは主に技術について説明していきます。
  </p>

  <h3>針金を伸ばす</h3>
  <p>
  針金を扱うとき一番初めにすることは針金を伸ばすことですが、一番重要なのも針金は伸ばすことです。<br>
  まっすぐ伸びていない針金は醜く、どうしても下手に見えてしまいます。<br>
  針金は始め円の束になっていますが、徐々に徐々にまっすぐにしていきます。自分は親指の付け根の部分と人差し指の第1関節に針金を当てて伸ばす方法を使っています。(画像、動画参照)
  完全に直線にする必要はほとんどない(刀など以外)のでほとんどの場面ではゆるやかな曲線で大丈夫です。曲線はもとの曲線を利用します
  </p>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/nobasu.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/nobasu.jpg")" alt="針金の位置">針金の位置</a>

  <h3>針金を切る</h3>
  <p>
  慣れていない人が意外に苦戦するのが針金を切ることです。慣れていない人は一気に切ろうとするので、よく切れるペンチかワイヤーカッターでないとうまく切れません。<br>
  ですが、少し切り込みを入れてから針金を折るようにするとラジオペンチでも簡単に切ることができます。こうすることで刃の負担も少なくできます。
  </p>

  <h3>木材に固定する</h3>
  <p>
  針金は木材にしっかり固定しないと揺れてしまいます。<br>
  木材に固定する方法はステップルを使う方法、釘を使う方法、金槌のみ使う方法、何も使わない方法などがありますが、ステップルを使う方法と釘を使う方法はしっかり固定されないので金槌のみの方法と何も使わない方法を説明します。
  ねぶたは針金の表面まで支柱を持ってきてそれにステップルなどで固定していますが、これをすると木材の影ができやすくなり電飾がすごく難しくなってしまうのでここでは推奨しません。そのかわり行灯の内側が煩雑になってしまいます。<br>

  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fixlumber.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fixlumber.jpg")" alt="木材に固定"></a>
  ①は金槌のみを使う方法で、針金の先を木材に打ち込んで固定します。<br>
  ②は針金とペンチだけあれば固定できます。針金を木材の周りに一周させていわゆる一本巻きとか男巻きとか言われている方法で針金同士を固定し、木材にめり込ませて固定します。<br>
  自分は②をよく使っていました。
  </p>

  <h3>格子を組む</h3>
  <p>
  格子を組むことには、表現力に関連することと技術力に関連することがあります。表現力に関することは表現力のほうに譲って、ここでは技術力に関することを書きます。<br>
  格子を組むことで重要なのが、格子の大きさ、形、針金の重ね方を考えることです。
  </p>

  <h4>格子の形</h4>
  <p>
  形はその周辺の格子と統一感のある格子にすることで綺麗に見えます。<br>
  格子はできるだけ四角形にし、出来れば平行四辺形（正方形、長方形、ひしがただとなお良い。とにかく対辺を平行にする。）にするとより綺麗です。<br>
  三角形だと頂点に針金が集中して紙が貼りにくくなったり、五角形以上だと綺麗に見えなかったり作るのが面倒だったりします。<br>
  これらを守ることによってより見た目が良い格子になります。
  </p>

  <h4>格子の大きさ</h4>
  <p>
  格子の大きさはその部分の丸み具合で決めます。<br>
  基本的には丸み具合が急なところは格子を密（格子を小さく）にし、逆に緩やかなところは疎（格子を大きく）にします。小さいパーツの針金の格子が密になりやすいのはこのためです。<br>
  ですが、これに忠実に従っていると形の統一性がなくなってしまう問題があります。
  </p>

  <h4>針金の重ね方</h4>
  <p>
  針金を重ねるときには、どちらが上になるようにするかということも考えなくてはいけません。これが間違っていると、紙を貼るときに貼りにくくなったり、貼ったあとの見栄えに大きな違いがあります。<br>
  基本的には針金で作る物体の繊維の方向（基本的には長いほう）となる針金を上にします。<br>
  基本的にはより凸が急な方を下にします。凹のときはそちらを上にします。<br>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/put2.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/put2.jpg")" alt="凹凸"></a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/put1.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/put1.jpg")" alt="example"></a>

  <br>
  </p>
  <p>
  常に紙を貼る側の事を考えて作ります。3次元上の四角形は平面ではない（ねじれている。三角形は平面。）ので、平面である紙を貼るときに２通り以上の貼り方が存在します。<br>
  なので紙を貼る人によっては自分が意図しない貼り方で貼られる危険があります。心配な場合には針金で明示しましょう。明示する方法は簡単です。三角形を作るだけです。
  逆に、紙貼が上手い場合には針金を曖昧にしておいて紙貼に委ねるという方法もあります（特に顔）。<br>
  前者は針金の量が多くなりやすく、後者は少なくなりやすいです。針金はあまり多いと見栄えが良くないので、紙貼が信用できる（自分でや場合など）は曖昧にしておいたほうがいいと思います。
  </p>

  <h3>針金同士を固定する</h3>
  <p>
  少し練習すれば誰でもできるようになるのが針金同士を固定することです。これが出来るだけで大きな戦力になるので、針金初心者の人にはこれから教えましょう。<br>
  固定する方法にはいろいろな方法（ビニールテープを使う方法や、細針を使わない方法）がありますが、ここではスタンダードな細針を使う方法を説明します。<br>
  固定方法には十字、T字、I字があります。十字は針金を直交させて固定する方法で、一番回数が多いです。T字は一本から枝分かれするようにもう一本を固定する方法で、I字は2本を繋ぎ足す方法です。<br>
  この三つの方法をマスターすればすべて作れます。
  </p>
  <p>
  まず十字から説明します。<br>
  十字にもいろいろな方法があるのですが、自分が発明した方法を説明します。<br>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross1.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross1.jpg")"> 道具。細針は10cmくらい </a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross2.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross2.jpg")"> 細針を2/3に折って下側の針金に引っ掛ける。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross3.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross3.jpg")">長い方を折る。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross4.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross4.jpg")">裏側。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross5.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross5.jpg")">また長い方を折る。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross6.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross6.jpg")">反対側。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross7.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross7.jpg")">また長い方を折る。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross8.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross8.jpg")">裏側</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross9.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross9.jpg")">また長い方を折る。ここで重要なのが、元々あった細針の内側を通すこと</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross10.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross10.jpg")">反対側</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross11.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross11.jpg")">巻きつける。仮止めの状態。とれやすくなるため両方とも同じ針金には巻かない。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross12.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross12.jpg")">裏側</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross13.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross13.jpg")">ペンチで締める。針金が飛び出ないようにする。</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_cross14.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_cross14.jpg")">完成</a>
  </p>
  <p>
  次にT字です。写真を見ればわかると思うので解説はしません。<br>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_t1.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_t1.jpg")"></a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_t2.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_t2.jpg")"></a>
  </p>
  <p>
  最後にI字です。これも写真を見ればわかると思うので解説はしません。<br>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_i1.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_i1.jpg")"></a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/fix_i2.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/fix_i2.jpg")"></a>
  </p>

  <h3>紙を貼ったあとの物体同士を固定する</h3>
  <p>
  終盤では紙を貼ったあとに物体同士を固定する場面が出てくると思います。そこで取る方法は少し紙を破いて固定する・縫い合わせるの二つです。<br>
  少し紙を破いて固定する方法は簡単です。見えないくらいに紙を指で破り、普通に固定してください。<br>
  <br>
  縫い合わせる方法はかなり難しいですが、全く目立ちません。破る方法だと夜そこから光が漏れてしまうこともありますが、縫えば光も漏れません。<br>

  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/sew.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/sew.jpg")" alt="縫い合わせる"></a>
  </p>

  <h3>表現力</h3>
  <p>
  はじめににも書きましたが、構図を立体にする力です。<br>
  要は構図に忠実に作ればいいだけなのですが、これがすごく難しいです。<br>
  躓きやすいところでは、大きさやバランスが悪い・勢いや迫力が出ない・その物体の質感や特徴が出ないといったことがあります。<br>
  ここらへんのコツを紹介します。
  </p>

  <h4>大きさとバランス</h4>
  <p>
  とにかく長さを測りましょう。マクロなところでは構図との比で長さを出します。手などのパーツはまず構図との比で長さを出し、自分の手との比で細かいところの長さを出します。
  </p>

  <h4>勢いと迫力</h4>
  <p>
  構図を考えるでも書きましたが、上から覆いかぶさってくるように作ると迫力が出やすいです。<br>
  さらに、その物体の角度をランダムにすると勢いが出ます。軸(x, y, z軸。x-y平面は地面に平行になるようにとる。)に垂直や平行の部分が入っていると静止しているように見えるので垂直や平行にはつくらないようにしましょう。
  </p>
  <br>

  <h4>質感と特徴</h4>
  <p>
  質感と特徴は物体の格子の張り方で決まってきます。
  </p>
  <p>
  物体は基本的な図形（球体と立方体）の格子の作り方を知るだけで作れます。すべての物体はこの基本的な図形の発展形です。このような図形をプリミティブといいます。 <br>
  まずは球体です。地球の緯度と経度のようにします。(ここでは30°にしてありますが、22.5°でも18°でも構いません。角度を揃えることが重要で)
  </p>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/sphere.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/sphere.jpg")"></a><br>
  <p>
  次に立方体です。簡単です。
  </p>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/cube.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/cube.jpg")"></a><br>
  <p>
  実は、球体の作り方で立方体や、立方体の作り方で球体も作ることができます。（ただ、見た目はおかしくなります）
  </p>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/s-typecube.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/s-typecube.jpg")">S-タイプの立方体</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/c-typesphere.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/c-typesphere.jpg")">C-タイプの球体</a>
  <p>
  このように、球体の作り方と立方体の作り方でどのような物体でも作れるようになります。ここで、球体の作り方をS-タイプ(Sphere Type)、立方体の作り方をC-タイプ(Cube Type)と呼ぶことにします。<br>
  S-タイプは丸みを帯びた物体や円錐形になっているものでよく使われます。S-タイプを使うと丸く見えるため、丸みを表現したい時に使います。（*適切なところに使わないと変に見える可能性が高い。わからなかったらC-タイプにしておいたほうが無難。）<br>
  C-タイプは無機質な物や角張っている物、平面によく使われます。C-タイプを使うとカクカクに見えるため、角を表現したい時に使います。<br>
  しかし最終的な判断はその場その場でするしかありません。
  </p>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/ex1.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/ex1.jpg")">例1</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/ex2.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/ex2.jpg")">例2</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/ex3.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/ex3.jpg")">例3</a>
  <a class="fresco" href="@routes.Assets.at("img/howto/harigane/ex4.jpg")"><img width="280" height="210" src="@routes.Assets.at("img/howto/harigane/ex4.jpg")">例4</a>
  <br>
  <br>
  <p>
  次は質感です。<br>
  物体には例えば武器や鎧などの無機質な物、着物などの布、人物、炎や水などがあります。
  無機質な物は完璧に針金を伸ばし、完璧に格子の大きさと形を揃えます。こうすることで硬さを表現できます。<br>
  布は風になびかせ広げさせます。実際に着物が風になびくときにどういうシワが出来るか観察しましょう。これもランダムな感じが重要です。特に針金が流れに沿ってないと線が透けたときにおかしくなるので気をつけましょう。<br>
  人物は緩やかな曲線とリアルさです。不自然なところは完全になくします。人物など、無機質なもの以外はあまりに整いすぎていると逆に不自然です<br>
  炎や水は実際にあるものを観察するのは難しいので、ねぶたを参考にしましょう。一口に炎と言っても色々なパターンがあります。自分の構図にあったイメージのものを選びましょう。
  さらにこれもランダムな感じが必要です。炎や水は余った空間を埋めるために使われたり、規格ぎりぎりの部分に使われることが多く、そのために窮屈になってしまいます。これでは炎っぽさ、水っぽさは出ません。
  なので少し場所をとってでもその特徴を表現するほうがいいです。<br>
  </p>
  <hr>

  <h3>スピード</h3>
  <p>
  これは完全に慣れです。常にスピードを出すよう意識するしかありません。
  </p>

  <h3>おわりに</h3>
  <p>
  針金は構図を忠実に立体にするものであってそれ自体で勝負するものではないと考えています。針金はどんなにうまくてもゼロです。少しでも下手だとマイナスです。針金ができてやっとスタートラインに立てるのです。（電飾と紙貼もマイナス～ゼロ、逆に構図と色はゼロ～プラス）<br>
  しかしそのスタートラインに立つことがすごく難しいです。構図が簡単（ほとんどプリミティブ）だとゼロにするのも簡単ですが、少し複雑になるとかなり難しくなってしまいます。<br>
  </p>
}
