@howto.common("行灯の作り方")("51期一同")("2002/7/14") {


















@*

  <h3>設計図の描き方</h3>
  <p>
  <font color="green">一、題材の決定</font><br>
  <br>
  何を作るか？行灯制作の第一歩です。<br>
  まずは、北高の過去の行灯や、ねぶた祭りなどの写真等を見てみましょう。<br>
  あるいはクラスにきっとひとりはいるであろう、歴史好き君によさそうな題材を聞くのもいいかもしれません。<br>
  ２、３年生になり、金賞、大賞を狙おうとするならば、やはり、人ひとりの行灯ではなかなか厳しいものがあります。<br>
  そういう際には、プラスアルファとして何が作りたいか（たとえば竜や虎など）ということから題材を決定するという手段もあります。と、言うよりも、経験から言わせてもらえばそうしたほうがいいのかもしれません。<br>
  プラスアルファが決まれば自然と題材が決まってしまうということは多いものです。<br>
  <br>
  <font color="green">二、構図と下絵</font><br>
  <br>
  どのように配置するか？構図は採点にも関係する重要なポイントです。<br>
  人間二人の行灯は、非常に難しいものです。人間二人が左右から向かい合っても、それぞれの人が小さくなってしまい、今ひとつ迫力に欠けてしまいます。<br>
  最も一般的な方法は、対角線上に二分された前のほうに人間を、後ろのほうにもう一体を配置するという方法でしょう。ただし、使い古された方法であることは間違いありません。<br>
  さらに、それぞれ配置されたものが、どう関係してくるのか。<br>
  一体の手がもう一体にかかっているだけでも、見る人に「おっ？」と思わせることができるかもしれません。<br>
  当たり前のことですが、行灯の構図、下絵を描く紙は、縦横の比を、実際に作るものと同じにしておきましょう。こうしておけば、その紙のコピーは配色などの決定にも使えますし、針金で作る際にも、作業の指針になります。<br>
  絵が苦手ならば、上手な人に描いてもらいましょう。<font color="red">絵がかっこいいと、なんかやる気が出ます。</font><br>
  正面からの図が完成したら、ラフ程度でいいので、横や上から見たときの図も描いておきましょう。しっかりと描くのは難しいので、ある程度パーツの比率がわかる程度でいいです。比率をしっかりさせておけば実際の制作時に作業に入りやすくなりますし、分業しやすくもなります。<br>
  <br>
  <font color="green">三、配色と模様</font><br>
  <br>
  どのように見せるか？雄々しくも美しくも、いかようにも変わります。<br>
  基本は暖色系です。光を通して見た時に、やはり映えるのは、赤や黄色です。そして、それを引き立てるように寒色を配置します。<br>
  ここはやはりねぶたなどが大変参考になるので、見てみるといいでしょう。<br>
  配色が決まったら、次はそこに配置するガラを決めましょう。<br>
  花や鳥などの大きく目立つガラ、そして、幾何学模様などの細かい連続模様などがよく使われるものです。図書館などにいって様々な模様が描かれた本を見るのもいいかもしれません。<br>
  そして、最も重要とされているのが、後ろや背中に描かれる絵です。これがどれほどの大きさで描かれるのかは、構図によって変わってくるので、構図の決定の際には気をつけなければいけません。<br>
  行灯の制作には針金と色塗りの分業は必須ですので、配色の決定から分業にしておき、女子に任せてしまい、男子はとっととテント設営に移ってしまうのもいいでしょう。<br>
  <br>
  <font color="green">四、参考までに</font><br>
  <br>
  さて、最後に参考までに、僕が高校時代に考えた設計や構図に関する行灯のちょっとしたコツについて少し述べておきましょう。<br>
  後輩諸君には行灯をゼロから作り、まったくのオリジナルとして、よりすばらしいものを作り上げてほしいという願いがあるのですが、僕自身、一生懸命に考えたアイデアをこのまま宙ぶらりんにしておくのはもったいないので思い切って書いてしまいます。<br>
  <font color="red">「お前の助けなどいらん」</font>と思う、熱い魂を持った職人は、読まないでください。<br>
  まず、基本的なことなのですが、特に１年生向けに。<br>
  行灯に積み込まれるバッテリーをうまく隠すコツは、人間の片足を立ちひざにしたり、あるいは伸膝の体勢にすることです。これは行灯の高さによる制限を克服するためにも使えます。<br>
  これに、なびいた衣などが加われば、確実にバッテリーを隠すことができます。衣は、なびきすぎかと思うぐらいでちょうどよかったりします。衣は、うまく使うことで、行灯の躍動感を増してくれます。<br>
  また、紙張りの後に、各パーツの境目を、黒で仕切るという方法があります。青森のねぶたにおけるいわゆる「墨割り」を、紙張りの後に行うというものなのですが、これは、行灯の明暗をはっきりさせ、迫力を増すという効果があります。まぁ、もっとずっとあとで行われる作業ですが。<br>
  行灯の題材について、『可児才蔵』『風神』といったものが、僕が作ってみたかったものとしてはあります。<br>
  『可児才蔵（かにさいぞう）』は、『笹才蔵』とあだ名された戦国武将です。そのあだ名に示されるように、討ち取った首級を背に背負った笹にさしていたといわれています。<br>
  笹を作るのは難しいでしょうが、風になびく笹をバックにうまく作ることができたならば、今までにない行灯になるでしょう。<br>
  『風神』は、ありきたりな題材のように思われるかもしれませんが、とにかく行灯の枠いっぱいに風を作り、表現することで、圧倒的迫力を出します。また、風神、風をそれぞれ、淡い青、淡い黄色で表現できれば、非常に美麗な行灯となります。<br>
  ただし、光を通すことで映える淡色は、色塗りに高度な技術を要求するので、色塗りに自信のあるクラスにお勧めします。<br>
  最後に、僕が実際に作った『戻り橋』について。<br>
  それは、人間一人と、鬼一体というものでしたが、その構図における最大のポイントは、鬼をひっくり返したということです。鬼は、頭に血が上りそうな体勢を取っていました。実際に写真を見てもらえばよくわかると思います。<br>
  僕は３年次には、賞を獲得することはできませんでしたが、このひっくり返すという構図には大変自信がありました。<br>
  オリジナルの行灯を期待するとか言っておきながらなんですが、ひっくり返った姿勢を取った行灯が、大賞を取るようなことがあれば、<font color="red">僕はきっと泣いてしまうでしょう。</font>
  </p>
  <p align="right">
  文責：仕事人
  </p>
  <br>





  <h3> テントの設計と作り方 </h3>
  <p>
  <font color="red">　「テント？行灯と直接関係ないじゃん。適当でいいっしょ。」</font><br>
  と思ってるそこのあなた、テントを甘く見てはいけません。雨は紙を張った行灯にとって一番の天敵です。<br>
  過去に適当にテントを作ったばっかりに水漏れをおこし、作業が滞ったクラスがありました。そう、<font color="red">１年次の私のクラスです（爆）</font><br>
  そこで、ここでは正しいテントの設計＆作り方を伝授したいと思います（かなり大雑把ですが）。<br>
  <br>
  <br>
  <font color="green">１，テントの設計</font><br>
  <br>
  とにかく基本は<font color="red">「三角テント」</font>です。<br>
  簡単にいうと直方体の上に三角柱を横にしてのっけたような形です（わかるよね？）。<br>
  テントを作る１番の目的は<font color="red">「行灯を濡らさないこと」</font>ですから、三角柱部分の傾斜角度が１番の問題となります。<br>
  最低でも３０度。これを下回ると雨はシートにたまり、テント破損の原因となります。<br>
  間違っても、「直方体テント」を作ろうなんて思わないこと。<font color="red">破滅への道をまっしぐらです。</font><br>
  <br>
  なお、この「三角テント」は膨大な角材を必要とします。<br>
  よって、テント担当者は早めに設計をして、あらかじめ何本の角材が必要なのかをきちんと計算しておく必要があるでしょう。<br>
  もし、角材が途中で足りなくなってしまったら買いに行くのは大変です。<br>
  仮にたくさん買いすぎて角材が余ったとしても他のクラスに売ることができますし、意外に使い道があるものです（<font color="red">バットを作ったりとかね</font>）。<br>
  <br>
  では、次にテントの大きさはどのくらいにすればいいのでしょうか。<br>
  これは、角材の長さ、上にかぶせるシートの大きさを考慮しなければなりません。<br>
  テントの支柱は６本あるので、それぞれを１本の角材でわたせばよいのです（そうすればシートの大きさもちょうどよいはず）<br>
  。
  少し狭く感じるかもしれませんが、近年行灯の大きさも縮小されつつあるので十分です。<br>
  下手に角材どうしをかすがいでつないで、でかいテントを作ろうとすると、三角部分を作る際、頂上部分の角材もつながなければなりませんし、シートもつながなければなりません。<br>
  これは、シートが破れる原因になります。<br>
  ただし、奥行きは角材をつないで少し広く作っても支障ありません。<br>
  要は「シートに負荷がかからないよう」に設計することが大事なのです。<br>
  <br>
  <font color="green">２，テント建設</font><br>
  <br>
  それでは、実際にテントを建ててみましょう。<br>
  用意する道具は下に書いてある「土台の作り方」の道具があれば十分です。<br>
  ただ、テントを建てる時は、高いところでの釘打ちが必須なので、自分の身長より高い脚立を少なくとも１つは用意したほうがいいでしょう。<br>
  <br>
  とにかくテント建設は<font color="red">マンパワー</font>です。土台建設は<font color="red">５人ほどで十分</font>なので残りの野郎どもを総動員して作りましょう。<br>
  穴掘り班、メジャー班、のこぎり班、釘うち班に分け、流れ作業で行います。<br>
  もちろんテント責任者は適材適所に人を配置させ、陣頭指揮をとり、暇な人がでないようにあらかじめ計画を立てなければいけません。<br>
  あとは、とにかく「シートがやぶれないよう」、「シートに水がたまらないよう」に作ればいいのです。<br>
  シートと角材が接する部分は特に負荷がかかるので、カンナで角を落とすのもよいでしょう。<br>
  水がたまりそうなポイントにはロープを張るのも良いでしょう。
  ここで手を抜くと後で痛い目を見るのは自分です。<br>
  １年生は、２，３年生にアドバイスをもらいに行くのもいいと思います。<br>
  やはり、<font color="red">一度痛い目を見たものは強いのです</font>。<br>
  <br>
  建設期間は１週間を一つの目安としてください。<br>
  「紙はりまでに建てればいいんじゃないの？」と思われるかもしれませんが、テントを早く建ててしまえば雨の日も非常に効率よく作業ができますし、なにより他のクラスより早く建てると<font color="red">優越感に浸れます。</font><br>
  <br>
  <font color="green">３，テント建設後</font><br>
  <br>
  テント建設後、何日も風雨にさらされることにより、やはりいろいろなトラブルが出てくると思います。<br>
  特にシートの老朽化。きっと夏休みの終わりにはぼろぼろでしょう。<br>
  ですから、シートは２枚用意しておくのがbetterです。<br>
  針金を作ってる最中の水漏れは問題ありませんが、紙はりが始まってからの水漏れは致命的です。<br>
  せっかく女の子がきれいに塗ってくれた柄も台無しになってしまいます。<br>
  そこで、紙はりが始まったら２枚目のシートをかぶせるのです。<br>
  <br>
  あとは、<font color="red">てるてる坊主でもつるしておけば完璧。</font><br>
  これでもう雨なんて恐くない！！
  </p>
  <br>



*@




  <p align="right">
  文責：芋兄
  </p>
  <br>
  <h3> 土台の作り方 </h3>
  <dl>
  <p>
  <dt>　　<font color="green">用意する道具</font>
  <dd>・<font color="red">のこぎり</font>...少なくとも3本<br>
  ・<font color="red">かなづち</font>...5つぐらいあるのがいいかと。 <br>
  ・<font color="red">脚立</font>　　&hellip;最後の最後まで使う。たくさんあればあるほどいい。高いのと低いの両方必須。 <br>
  ・<font color="red">釘（長）</font>...テントを立てる際にも使うので3箱ぐらい買っておくと安心。 <br>
  ・<font color="red">釘（小）</font>...意外と使わないかも。1箱あれば十分か？ <br>
  ・<font color="red">L字</font> 　　&hellip;格子点に4つずつぐらい使うべきか。 <br>
  ・<font color="red">かすがい</font>...横棒の接合部に使用。5個ずつ使って15個。 <br>
  ・<font color="red">ビニールテープ</font>...担ぐところに巻くのだが、ぶっちゃげ無くてもよい。けど、紅白で交互に巻くとかっこいい。 <br>
  ・<font color="red">木工用ボンド</font>...意外と使う。木材同士の接合部に塗っておくことで、飛躍的に強くなる。紙張りでも使うから買っておいて損は無い。 <br>
  ・<font color="red">マジックペン</font>...木材に印や名前を書くのに使用。なくなりやすいので2つ買っておく。 <br>
  ・<font color="red">メジャー</font>...なくなりやすいので、必ず名前を書いておくこと。 <br>
  ・<font color="red">ビール箱</font>...土台の下に入れる。10個以上必要か。ただし、高さがそろってることが絶対条件。
  </p>
  <p>
  <dt>　　<font color="green">★作り方</font>
  <dd>　ぶっちゃけ、作り方は行灯マニュアルに書いてあるとおりに作っていけば、問題ないでしょう。ただ、この作業は木材をもらったらすぐにできるので、責任者は前日までに必ず<font color="red">『どの太さの木材をどの長さに切ってそれが何本必要か』を確認し一覧表を作っておくこと。</font>そして、当日木材が配られたらすぐに作業開始、責任者は前日までに作っておいた表を見ながら木材に切り取り線（？）をつけ、番号をふり、周りの人たちに切ってもらう。全部切り終わったらすぐに組み立てに入りましょう。土台の目標は<font color="red">2日</font>で完成させること。土台を作る際に大事なことは、将来バッテリーがのって予想以上に重くなるので、補強をしっかりしておくこと。各格子の内側に斜めに補強をいれられれば完璧。ここで手を抜くと、出発直前に本体を持ち上げたときにミシミシ言って、<font color="red">非常に不安になる。</font> <br>
  土台（持つところ）ができたら、いよいよ本体の柱作りです。これは設計図を書いた人が中心となってやることになるでしょう。行灯マニュアルには『人が乗れるくらいに丈夫に作りましょう』と書いてあるが、遊び人個人としては、そこまで強くする必要も無いと思うが、体の中心の核となる部分は丈夫に作っておくべき。ここで難しいのは、なんと言っても<font color="red">『腕』</font>だろう。作ったことある人ならわかると思うが、非常に難しい。ここが弱いと、担いだときに腕がゆれて非常にかっこわるい。ここは木材での補強はもちろん、ボンド、針金等を駆使して強化しましょう。それが終わると山は越えたので、あとは、設計図に従って、みんなで協力してがんばりましょう。必然的に脚立に登る作業が続くので落ちないように。<font color="red">『自分が怪我をしてもいいから、行灯は守れ！』</font>
  </p>
  </dl>
  <p align="right">
  文責：遊び人
  </p>
  <h3> 針金のやり方 </h3>
  <p>
  <font color="green">一、必要なもの</font><br>
  <br>
  <br>
  <font color="red">ペンチ</font>...針金を切る、曲げる際に必須。たくさんあればあるほど多くの人が同時に作業できます。使い込んだマイペンチには愛着がわいてくる。<br>
  <font color="red">ステープル</font>...針金を木材に固定するために使います。<br>
  <font color="red">かなづち</font>...ステープルを打ち付けるために使います。一本でも何とかなりはしますが、土台制作に使った分があれば十分でしょう。<br>
  <font color="red">針金</font>　＃１２&hellip;基本的に行灯の全体を形作るために使います。箱で買っても足りなくなります。<br>
  ＃２４&hellip;＃１２の針金を固定するために使います。<br>
  ＃１０&hellip;＃１２では弱くて、曲がってしまう部分に使います。よほどのことがない限り、使う必要はないでしょう。<br>
  <br>
  <br>
  <font color="green">二、針金の固定</font><br>
  <br>
  針金同士をしっかりと、思ったところに固定することが、正確で美しい行灯作りには欠かせません。そして、その固定の方法には、大きく分けて、二つの方法があります。<br>
  上に挙げた、＃２４で、＃１２の針金同士を固定する方法と、一方の＃１２を、直接もう一方の＃１２に巻きつけるという方法です。<br>
  行灯は基本的に、＃１２の針金を十字に交差させて、そこに紙を張り、作るわけですが、その交点を、＃２４で固定するという方法が前者です。ある程度経験をつむと、１５cmぐらいの＃２４の針金で、しっかり固定することができるようになります。<br>
  この方法のメリットは、作業が比較的速く進むことと、後になってから修正がききやすいということです。しかも、後者に比べて経験がなくても、ある程度は固定できるので、大人数で作業を行う際にも、彼らの経験の有無にあまり影響を受けないですみます。<br>
  ＃２４の針金を、始めに１５～２０cmぐらいに切っておくと、作業が楽になります。＃２４の針金の輪を、２ないし３等分しておくといいでしょう。<br>
  ＃２４の針金で、＃１２の針金を固定するには、＃１２の針金の交点を、斜めに、&times;の字になるようにそれぞれ３，４回ずつ、しっかりときつく結びつけ、それから＃２４の針金の両端（７cmぐらいが目安）を、＃１２の針金に巻きつけます。<br>
  ＃１２の針金同士がずれないように、しっかりと止めましょう。<br>
  一方の＃１２を、直接もう一方の＃１２に巻きつける方法は、完全に巻きつけることができれば、確実に固定できるのですが、そこまでの熟練度に達するのは、かなり難しいです。なれない人がやると、ボコボコになり、紙を張るのが難しくなってしまいます。<br>
  さらにこの方法は、細かい作業に向いてないという欠点があります。うまくやらないと行灯が歪んでしまいますし、顔や手といったパーツの制作においては、よほどの技術、気合を持った人でなければ無理でしょう。と、言うか、<font color="red">ほとんど不可能</font>です。<br>
  総合的に見れば、＃２４の針金を使う方法のほうが、圧倒的に有効です。<br>
  <br>
  <br>
  <font color="green">三、針金の扱い方</font><br>
  <br>
  針金は、丸く束ねられて売っています。慣れないうちは、針金をきれいにまっすぐにすることすらなかなかできません。<br>
  針金をまっすぐにするコツは、親指と人差し指を使って曲がっている方向とは逆に端から端まで５cm間隔ぐらいで少し強めに曲げていくことです。コツをつかめば、一回でまっすぐに（しかもデコボコなしに）することができるようになります。<br>
  慣れないうちは、一度にまっすぐにしようとせずに端から端まで曲げるのを２，３回繰り返しましょう。<br>
  また、この力加減をうまく変えることで、思い通りのカーブも作ることができます。もともとの丸さを利用すれば、滑らかなカーブを作れるのです。<br>
  針金に角を作るには、一度、思いっきり（折りたたむぐらいに）曲げてしまい、それから戻すという方法を取ります。戻すときに針金が歪むのにさえ気をつければ、この方法で、あらゆる角度を作ることができます。ペンチで、角のギリギリを戻せば、歪みは最小限に抑えられます。<br>
  針金を折りたたむ際には、ペンチの内側を使いますが、それでは少し足りない場合もあります。そんなときはペンチで思い切ってつぶしてしまって大丈夫です。<br>
  <br>
  <br>
  <font color="green">四、作る、魂を込めて</font><br>
  <br>
  実際に針金で形作る。<font color="red">卓越した技術</font>と、<font color="red">完成を見越す想像力</font>、そして<font color="red">熱き魂</font>が必要とされる行灯の花形。<br>
  責任者や、現場で指揮を取る人は、作り上げる過程において、常に出来上がりをイメージし、各部位を全体の中の一部として制作を進めなければいけません。<br>
  基本的な作り方としては、まず、作るものの形にそって横、あるいは縦のラインを数列作るところから始めましょう。もちろん針金の両端はステープルでとめます。間隔としては、１０～１５cmぐらいが基本になります。カーブしているところは間隔を狭めに、平らなところは間隔を広めにすると、紙を張りやすくなります。<br>
  その後、そのラインに垂直なラインを作り、＃２４の針金で固定します。こちらもステープルで木材にしっかり固定しておきましょう。<br>
  この段階で、歪みがあったなら、ステープルをはずしたり、針金を切ったりしてでも修正しておきましょう。修正は早いうちにやっておかなければ後々ずれが大きくなってしまいます。妥協は禁物です。<br>
  ここで気をつけなければいけないのは、支柱と針金との間隔や針金同士の間隔、つまりは電球を入れるスペースを十分にとっておかなければいけないということです。電球が紙に近すぎると、その一部分だけが明るくなってしまい、電球のない部分が暗くなってしまいます。<br>
  また、忘れてはいけないのが、針金は、紙を張るためにあるということです。紙を張りやすいように、針金で形作っていかなければいけません。そうすれば、紙張り作業が速く、綺麗にできます。<br>
  <font color="red">紙張りを無視した独善的な針金作業</font>こそが、僕の敗因のひとつでした。気をつけてください。<br>
  <br>
  <br>
  <font color="green">五、顔、手</font><br>
  <br>
  <font color="red">顔、手</font>。最も難しいところです。<br>
  <s>これらは、家で作るのがいいでしょう。</s>何せ作るのには時間がかかりますし、まして、行灯本体にそのまま作るのでは正確で丁寧な作りが難しくなります（と、言っても、僕は二年次にはほかのパーツと同じく、本体にそのまま作りましたが。おかげで、<font color="red">責任者の遊び人さんにはなじられました</font>し、やっぱり時間の無駄でしたね。）。<br>
  家が遠くて完成した顔や手を自転車で持ってくるのは無理だというのなら、学校の教室で作るという方法もあります。<br>
  離れた場所で作るということは、サイズがずれてしまう危険性があるということです。顔や手はある程度体のパーツができた後、作る大きさをしっかり図ってから作りましょう。<br>
  顔がかっこ悪いと、行灯がしまらなくなります。気に入らなければもう一度新たに作り直すぐらいの熱き魂がなければいけません（<font color="red">実際に欣爺は遊び人にダメ出しされて、顔を三度作りました。</font>）。<br>
  また、手は、自然とその形から、針金を多めに使い、格子を細かくしないと紙を張れなくなります。気をつけてください。<br>
  顔については、事項で詳しく説明します。（と、言うか、ナベが詳しく説明してくれるでしょう。）<br>
  が、僕から一言。顔や手は「<font color="red">かっこいい</font>」と思えるものをイメージできる<font color="red">感覚</font>とそれの正確な<font color="red">設計</font>、それを具体化する<font color="red">技術</font>、そして、妥協を許さぬ<font color="red">職人魂</font>の世界です。鍛えれば鍛えるほど、きっと上達すると思います。がんばって下さい。<br>
  </p>
  <br>
  <p align="right">
  文責：仕事人
  </p>
  <h3> 顔の作り方 </h3>
  <p>
  <font size=4><b><font color="green">顔を作ろう！！ ～これであなたも顔が作れるようになる（かもしれない）～</font></b></font> <br>
  <br>
  <br>
  行灯の顔づくりに悩んでいる若人達よ, ３年間顔を作り続けた ナベ が顔の作り方を伝授しましょう. 言葉だけじゃ魂は伝わらないので, 51thの大賞<b><font color="red">「ナタク」</font></b>の顔の作り方を解説しながら顔づくりの極意を伝えたいと思います. できることなら, ただ真似するのではなく技術や方法を理解・修得してほしいです. <br>
  なお, 質問があればいくらでも受け付けるので, 掲示板に書き込んでください. メールでもかまいません. 実際に作っている顔を見に来ててほしいというのも受け付けましょう. <br>
  <br>
  <br>
  <font size=4><font color="green">第１章　行灯にとって顔とはなにか？</font></font> <br>
  <br>
  行灯にとっての顔とは何か？人によって意見は様々だと思いますが, いくら体が上手でも顔が下手なら, 行灯として価値はありません. もちろん, 顔が行灯の全てであるはずがないのはいうまでもありません. しかし, 顔のない行灯など行灯とはいえません. <br>
  僕は, 行灯の顔とは, 故事成語の「画竜点睛」における眼のように, 行灯の最後の大仕事であり, 最後に行灯の出来を左右する, ある意味では恐ろしい体のパーツであると考えています. <br>
  また, 顔と他の部分の大きな違いは, その作業工程にあります. 顔以外のほとんどの部分はテントの中で作られます. しかし, 顔は大抵<b><font color="red">誰かが持ち帰って徹夜して作るもの</font></b>です(手も同様). よって, 制作者の個性が最も表われるとともに, 制作者の感性・技量が試されます. また, それ故に大きさが合わないといった失敗も起こりうるのです. しかし, 一晩中顔と向かい合い, 小鳥のさえずりとともにおもむろに立ち上がって自分の一晩の作業を振り返るあの瞬間は, 筆舌に尽くしがたいものがあります. <br>
  とにかく, 顔というのは行灯の中でも特別なものであることを理解していただきたいです. この原稿が, これから顔づくりに挑戦する人にとって有意義なものになることを願っています. <br>
  <br>
  <br>
  <font size=4><font color="green">第２章　顔を作るときの注意点</font></font> <br>
  <br>
  １.<b><font color="red">しっかりとしたイメージを持つ</font></b>こと. <br>
  <blockquote>　やってるうちに形ができてくるということはまずあり得ません. どんな顔にしたいのかを明確にしておきましょう. そのために下絵を描いたり, 粘土の模型やミニチュアの顔(面)を作る事をお勧めします. <br>
  </blockquote>
  ２.必ず<b><font color="red">一人で作る</font></b>こと. <br>
  <blockquote>　２人以上で作ってうまくできるはずがありません. 自分の感性を信じるしかないのです. ただし, 自分勝手に動くのではなく, どんな顔になるのかを周りの人と十分に吟味しましょう. <br>
  </blockquote>
  ３.頭を作るのではなく, <b><font color="red">顔を作る</font></b>こと. <br>
  <blockquote>　頭を一体成型するとバランスが悪くなります. できれば面を作った後に後頭部・毛髪などをつくりましょう. これは僕の経験上確実にいえることです. このことについては後でまた説明します. <br>
  </blockquote>
  ４.<b><font color="red">針金と友達になる</font></b>こと. <br>
  <blockquote>　針金の特性を理解し, ペンチを使いこなしましょう. 鋭角は２本のペンチを使って曲げ, 曲線を作るときは手で柔らかく曲げましょう. いっぺんに曲げるのではなく, 少しづつ徐々に力を加えて奇麗な曲線にしましょう. うまく曲線を作れるかが, 顔づくりの重要なポイントになります. <br>
  </blockquote>
  ５.顔の<b><font color="red">大きさに気をつける</font></b>こと. <br>
  <blockquote>　いくらすばらしい顔ができたところで, 体とくっつかなければ意味がありません. 全体のバランスを考えて作りましょう. 下絵をみて寸法を決めてから作りはじめましょう. サイズに関しては, 決して勘に頼らないこと. <b><font color="red">１cm単位で設計する</font></b>ようにしましょう. <br>
  </blockquote>
  とりあえず, 最低でも以上のことには気をつけましょう. もちろん, これらの教訓は３年間やり続けて分かったことであり, これらを学ぶまでにはいろいろな失敗をしました. 顔を作る人たちには, できればたくさん失敗をしてそこからいろいろなことを学んでほしいものですが, せっかく作った顔が実際に使えないとかなり萎えるので, あえてこの章をもうけました. <br>
  <br>
  <br>
  <font size=4><font color="green">第３章　設計</font></font><br>
  <br>
  行灯の顔, それは人の顔です. どれだけ行灯としてさまになるようにデフォルメされていても, やはり顔は顔なのです. 人の顔は千差万別ですが, 人の顔には人の顔の特徴というものがあります. たとえば眼が飛び出し, 口が前に突き出していれば, それは人の顔というより魚の顔になってしまいます. まず, 人の顔の特徴を押さえましょう. <br>
  顔を設計する際に, 今までの行灯の顔を参考にしたいところですが, なかなかそうも行かないのが現実です. そこで, とっておきの方法を紹介しましょう. <br>
  行灯に限らず, 人の顔は様々な形で芸術となってきました. ツタンカーメンのマスクも然り, 埴輪も然り&hellip;. これらの先人達の作品からヒントを得ることはできないでしょうか？行灯には力強さが必要です. 力強い顔をした芸術の代表はなんでしょうか？そうです, <b><font color="red">金剛力士像</font></b>です！！あの睨みつけるようなまなざし, 今にも噛み付きそうな表情&hellip;まさに行灯にうってつけです. さあ, 図書館で仏像の本を借りてきましょう. <br>
  頭の中にイメージができたら, <b><font color="red">下絵</font></b>を描いてみましょう. どんな顔にしたいのかが分かるような下絵を描きましょう. この段階で<b><font color="red">顔のパーツのバランス</font></b>を整えましょう. また一度書いた下絵を周りの人と吟味して, 自分のイメージを周りの共有しましょう. <br>
  次に, 下絵から立体的なイメージを構築しましょう. 油粘土で<b><font color="red">立体模型</font></b>を作ると分かりやすいです. 立体模型をもとにして, どこに針金を入れるかを考えましょう. もしも半田の技術があるならば, ミニチュアを作ってみるとさらに良いでしょう. <br>
  <br>
  <br>
  <font size=4><font color="green">第４章　実際の製作（初級編）</font></font><br>
  <br>
  <br>
  <a href="images/zu1.jpg" target="new">図１</a> <br>
  この顔に関するコーナーでは, 基本的に51th行灯大賞のナタクの顔の作り方を解説しています. これは僕の３年にわたる顔づくりの集大成であり, 現役の１年生やこれから初めて顔を作る方には, かなり高度な内容となってしまいます. そこで, 細かいことは抜きに, 顔を実際に製作する上で最低限必要なことを初級編として, それ以上の内容は上級編にまとめることにします. <br>
  顔の構造には２種類考えられます. 一つめは顔というより頭を作ってしまう方法で, 以後<b><font color="red">一体成型方式</font></b>と呼びます. 一体成型方式は, 眉間-鼻-顎を通る縦のループと両耳をつなぐ縦のループ, そして両耳をつなぐ横のループによって構成されます. この方法は作りやすく初心者向けですが, 顔のバランスをとるのが難しくなります. これは, ３つのループ構造の曲面によって顔の起伏がつけにくくなることに起因します. 結果的に表情のない, 平らな薄っぺらい顔になってしまいます. 僕も１年性のときはこの方法で顔を作ったのですが, 満足できるものはできなかったです. <br>
  ２つめは, 僕が２年生から取り入れた方法で, 頭を前後二つのパーツに分け, <b><font color="red">面を作った後に後頭部をくっつける</font></b>方法です. これを以後, <b><font color="red">面方式</font></b>と呼びます. これは高度な技術を必要とするものの, 一体成型方式とは違って構造上の制約がなく, 能の鬼面のような起伏の激しい, <b><font color="red">表情豊かな顔</font></b>を作ることができます. この場合, 面, 後頭部の枠を10号などの太い針金で作ることによって, あとで接合するときに困らないだけの強度を持たせるようにします. 面を作り終わった後, 面の枠に直接後頭部を作るための針金を接続してもかまいませんが, できれば図のように面の大きさに合う枠を太い針金で作って, 面とは別に後頭部を作った方が良いと思います. 面方式については上級編でも少し触れます. <br>
  どちらの方式を取るにしろ, 顔を作るときには, まず<b><font color="red">鼻</font></b>を作りましょう. 鼻は顔の中心です. 鼻の位置が決まれば, 眼や口の配置は自然に決まってきます. 必ず鼻から作りましょう. また, 鼻の形が全体のイメージを左右するひとつの要因なので, 適当に作るのではなく, 凛々しい鼻を作りましょう. 妙に平らだったり, 大きすぎたりすると, はっきり言ってカッコわるいです. <br>
  口は最後でかまいません. 鼻ができたら, 額, 頬, 顎の順で作っていきましょう. ただし, 顎は全体のバランスを見る上で鼻と同じくらい重要なポイントなので, 鼻の次に顎に取りかかるのもいいと思います. <br>
  一体成型方式では, 最初に３つのループを作る時点で, 鼻や顎の位置や大きさが決まってしまいます. 一体成型方式では, 一度作ってしまった鼻や顎を作り直すことができないため, 出来上がってくるにつれて全体のバランスが悪くなっても修正できないことがよくあります. この点でも面方式のほうが優れているといえます. <br>
  眼の部分の針金をどうするかですが, 全く針金を入れずに, スペースを空けておいて, 紙を貼るときに眼を書いてしまった方がいいと思います. 眼は他の部分とは違って白い部分が多く, 下手に針金を入れると, 白目に影ができてしまいます. 気を付けましょう. <br>
  顔には細かい部分(耳など)がありますが, 必ず<b><font color="red">光を通すことを考えて</font></b>作って下さい. 電球を配置できないような構造にしてしまうと, 影になってしまい意味がありません. <br>
  以上で初級編はおしまいです. 上級編では実際にナタクの顔を作ったときの手順にも触れながら, 顔のパーツのバランスについて解説します. <br>
  <br>
  <br>
  <font size=4><font color="green">第５章　実際の製作(上級編)</font></font><br>
  <br>
  <a href="images/zu2.jpg" target="new">図２</a> <a href="images/zu3.jpg" target="new">図３</a> <a href="images/zu4.jpg" target="new">図４</a> <a href="images/zu5.jpg" target="new">図５</a> <a href="images/zu6.jpg" target="new">図６</a> <a href="images/zu7.jpg" target="new">図７</a> <br>
  この章では実際にナタクの顔を作ったときの手順にも触れながら, 顔のパーツのバランスについて解説します. 行灯は自らの力で作るものだと考えているので, 本来ならばこのような章をもうけるべきではないと思っていますが, ナタクは僕の自信作であり, この技術を伝えたいと思ったこと, そして近年顔のレベルが下がってきている（僕の好みに合わない）と感じているため, この章をあえてもうけました. <br>
  <br>
  ＜顔のバランスについて＞ <br>
  顔の善し悪しを左右するポイントは, <b><font color="red">顔のパーツのバランス</font></b>です. 僕自身が顔を作る上で, 最も時間をかけて吟味したのは顔のバランスでした. 実際, 針金を組むこと自体はそれほど難しいことではなく, 如何にイメージ通りのバランスのよい顔を作れるかは本人の技量にかかっています. 技量は磨けば光ります. バランスのとれた顔を設計することは, 技量と同じくらい大切なことなのです. <br>
  行灯を100体以上見ていると, 下手な顔の傾向が見えてきます. ここでは陥りやすい傾向をいくつかあげ, 設計のときの参考にしてほしいと思います. もちろん僕の独断と偏見が多分に入りますが, 行灯ギャラリーのナタクの写真の顔を見てかっこいいと思ってくれた人は, 僕の感性を信用して下さい. <br>
  <br>
  (傾向１)<b><font color="red">ジャバ・ザ・ハット</font></b> タイプ <br>
  <blockquote>　スターウォーズの悪役, ジャバ・ザ・ハットそっくりの顔の形です(ジャバを知らない人はエピソード1,4,6を見よう). 精悍さのかけらもありません. <b><font color="red">体に比べて顔が大き過ぎる</font></b>・<b><font color="red">顎に奥行きが無く横に広過ぎる</font></b>・<b><font color="red">鼻が大き過ぎて潰れている</font></b>・<b><font color="red">目や口が無駄に大き過ぎる</font></b>といった特徴があり, 大抵は首がなく肩や胸から頭が生えているため, 体と頭の境界がはっきりしていません. このタイプはしっかりと落ち着いて作り込んでいないという印象を受けます. 顔が大きいせいで体と別々に作れなかったのかもしれません. パーツが大きい=力強いというわけではありません. パーツが大き過ぎると表情がなくなり, 大味になってしまいます. バランスも考えられていないため, <b><font color="red">ただのパーツの寄せ集め</font></b>のような感じがします. 正直, 僕の一番嫌いなタイプです. <br>
  </blockquote>
  (傾向２)<b><font color="red">ウルトラマン</font></b> タイプ <br>
  <blockquote>　ウルトラマン(初代)そっくりの顔の形です. これは一体成型方式で作られた顔に多く, <b><font color="red">卵に鼻をつけたような形</font></b>をしています. <b><font color="red">顎が細い</font></b>・<b><font color="red">鼻が高すぎる</font></b>・<b><font color="red">鼻柱が細い</font></b>・<b><font color="red">眉や頬骨が十分に出ていない</font></b>といった特徴があります. このタイプは表情が硬く, 弱々しい印象を与えます. 一体成型方式の限界でしょうか. 実は僕が最初に作った顔はこのタイプでした. まだまだ未熟な頃の思い出です. ３年生にもなってこのような顔を作っていては笑われてしまいます. <br>
  </blockquote>
  (傾向３)<b><font color="red">食パンマン</font></b> タイプ <br>
  <blockquote>　無理矢理例えるなら食パンマンでしょうか. 顔に厚みがありません. どうしたらこんな風になるのか疑問です. 大抵は首の部分で体と接続しますが, 接続が弱いため, 行列中にぐらぐら揺れます. 非常に貧相です. このタイプは表情が平らで迫力が感じられません. これは多分制作者の技術に問題があるのだと思います. 修行しましょう. <br>
  </blockquote>
  ３つにしぼっていろいろと文句を言いましたが, これは僕の正直な感想です. また, 今回は顔に限って書きましたが, さらに髪や髭がつくとどうなるか考えてみて下さい. バランスは非常に重要です. きちんと設計し, イメージを固めておくことをお勧めします. <br>
  <br>
  ＜ナタクの顔の製作手順＞ <br>
  ではいよいよお待ちかね(？)のナタクです. ナタクの顔は, <b><font color="red">如何に行灯らしさと人間くささを表現するか</font></b>というコンセプトで作りました. 設計にあたっては金剛力士像を参考にして下絵を描き, さらに顔の筋肉のつき方を考慮にいれながら<b><font color="red">粘土で立体化</font></b>しました. そして下絵と粘土模型を参考に<b><font color="red">細い針金でミニチュア模型を作り</font></b>, 針金の組み方を決めました. <br>
  本場のねぷたや今までの行灯の顔は全く参考にしていません. それは全体の下絵が既に出来上がっていたため, 下手にねぷたなどをまねて失敗するより自分の感性に従って, 自分のコンセプトで作った方が良いと思ったからです. ねぷたをまねるだけでは上手な行灯はできません. 形はまねできても<b><font color="red">魂を真似することは不可能</font></b>だからです. コンセプトのない作品は駄作です. 伝わるものがないからです. <b><font color="red">己の行灯魂が導くままに自らの夏(青春)を捧げてこそすばらしい行灯が完成する</font></b>のです. <br>
  話を元に戻します. 実際に針金を組む前に, <b><font color="red">原寸大の設計図</font></b>を作りました. 体とのバランスを考慮して, 設計図には<b><font color="red">細かい寸法も記入</font></b>しました. 針金を組むときにフィーリングは必要ありません. ひたすら精密に作っていけばいいのです. センスは設計段階で発揮して下さい. 以下は製作過程図を見ながら読んでいって下さい. 図には２行程ずつ書きました. <font color="#FF6600">赤</font>が１手目で<font color="#0099FF">青</font>が２手目です. <br>
  <br>
  ナタクの顔は<b><font color="red">面方式</font></b>で製作しました. まず, 面の枠を作りました. <b><font color="red">顎を前にまげてある</font></b>のがポイントです. こうすると顎の位置が前に出て立体的になり, 表情をつけやすくなります. 次に鼻を作りました. 鼻の形には注意しましょう. 鼻には細かい曲線を多用します. 次に眉と頬の位置を決める針金で鼻を固定しました. この２本に挟まれた部分が目の位置です. 次におおまかな口の位置を決めるループを作りました. さらに, 顎先からこめかみの辺りまで針金を入れ, 顔の側面の形を決めました. ここの曲線は難しかったです. <br>
  次に, 頬の最も高い部分を決める針金をつけました. 頬の高さは鼻よりも少し低いくらいです. ここで表情が決まります. 細かい補強を入れた後, 口を作りました. 口には歯を付け, 口腔も作りました. 口腔は上の歯と下の歯を結ぶループです. 上唇と下唇を結ぶループでは, 歯に電飾を入れることができなくなります. <br>
  後頭部は面方式のところで説明した通りに作りました. 出来上がった頭を横から見ると人間の頭がい骨に近い形になります. ここもこだわったところの一つで, こうすることで体と接続したときの安定性や, 頭全体のバランスが良くなりました. <br>
  ごちゃごちゃ書きましたが, 文章で書くよりも図を見てもらった方が分かりやすいと思います. 図はかなり正確に書いてあるつもりなので, パーツのバランスをとるときなどに参考にして下さい. <br>
  実際の顔作りの作業工程を理解していただけたでしょうか？これくらいやらなければ思い通りの顔を作ることはできません. さらに顔作りには, 髪の毛や髭といった要素も加わります. 次の章では髪・髭作りについて簡単に触れます. <br>
  <br>
  <br>
  <font size=4><font color="green">第６章　髪・髭の作り方</font></font> <br>
  <br>
  髪の毛に関してはあまり言うことがありません. 自由に作っていいと思いますが, <b><font color="red">全体のバランスを見ながら髪・髭の大きさを決めて</font></b>下さい. 髪の毛や髭は出来上がった顔(面)に取り付けるようにして下さい. 面と一緒に作るとバランスが悪くなる恐れがあります. 髪の毛で空間を埋めるのは乱暴な気がします. 髪の毛は黒一色(一部は白)で目立ちます. そのため<b><font color="red">顔とのバランス</font></b>, <b><font color="red">全体とのバランスに注意</font></b>して下さい. <b><font color="red">場所によって髪の長さは違います</font></b>. ただ単調に顔を取り囲んだだけでは意味がないのです. 特に髭をつけた場合には, 髪と髭の境界が分かるように長さを工夫しましょう. また, <b><font color="red">生え際の位置</font></b>にも気をつけましょう. 生え際の位置が悪いと立体感が損なわれ, 平らで表情のない印象を与えます. <br>
  49thの<b><font color="red">シャクシャイン</font></b>の顔は, 髭をつけているにも関わらず, 非常に立体感があり, まさに理想的な髪の一つだと思います. ちなみにナタクはシャクシャインとは違う雰囲気の髪にしています. シャクシャインの髪はねぷたに近いのですが, ナタクの髪は風になびかせ, 奥の方まで作り込んでいます(行灯ギャラリーの写真ではよく分かりませんが). なぜ奥の方まで作り込んだかと言うと, 頭を横から見たときにも立体感を出したかったからです. 前の方だけに髪を付けると, 横から見たときには平らな面が見えてしまいます. それが嫌だったのです. <br>
  まあ, 髪の毛の作り方はいろいろあるので, これ以上細かいことは言いません. バランスを考慮しながら, 各自工夫して下さい. <br>
  <br>
  <br>
  <font size=4><font color="green">第７章　最後に&hellip;</font></font> <br>
  <br>
  今まで顔をどうやって作るかと言うことを長々と書いてきましたが, 最後に行灯全体の中の顔について少しだけ書きたいと思います. <br>
  顔は<b><font color="red">少し下向きに</font></b>付けましょう. 行灯を持ったとき, 顔の位置はかなり高くなります. お客さんが見上げたとき, <b><font color="red">正面から顔を見れる</font></b>ようにしましょう. そっぽを向いているといい印象は与えません. また, 少し進行方向を向いた形で取り付けるとさらに見やすくなります. 如何にお客さんに魅せるかが行灯の善し悪しのポイントです. <b><font color="red">立体感</font></b>・<b><font color="red">奥行きを表現できる配置</font></b>にしましょう. <br>
  <br>
  <br>
  今までごちゃごちゃと書いてきましたが, 顔の製作は<b><font color="red">「バランス」「緻密な設計」「精密な針金」</font></b>に尽きます. また, 自己満足のために作るのではなく, <b><font color="red">お客さんに満足してもらう</font></b>ことを大切にして下さい. <b><font color="red">妥協することは許されません</font></b>. なんとかなると思ってろくに設計もせずに作ると, それなりのものしかで来ません. 行灯全体に言えることですが, <b><font color="red">「立体感」「奥行き」</font></b>を大切にして下さい. <b><font color="red">行灯の迫力は立体感や奥行きによって生まれる</font></b>ものだと思います. 表情豊かな行灯を作りましょう. <br>
  僕は人の顔だけではなく動物の顔(例えば龍)も手掛けています(遊び人の行灯戦暦参照). 龍の顔も人の顔と同じです. ただし, 龍は空想上の生き物なので, 豊かな想像力が要求されます. 人の顔の製作をするときも, <b><font color="red">イマジネーション</font></b>は大変重要です. <br>
  何か分からないことがあったら遠慮なく聞いて下さい. 掲示板は毎日見ています. また, メールを送ってくれてもかまいません. 僕は札幌の僻地・手稲に住んでいるので, 呼んでくれれば喜んで見に行きます. <br>
  顔を作ろう！！のコーナーはこれででおしまいです. 読んでくれてありがとう.
    </P>
  <p align="right">
  文責：ナベ
  </p>
  <h3> 電飾のやり方 </h3>
  <p>
  <font color="red">「行灯は光ってなんぼ」</font><br>
  これは私が２年の時、ある審査員が言った言葉です。<br>
  どれだけ素晴らしい行灯をつくり、どれだけ前評判が高くても光らなければ<font color="red">ただの張りぼて</font>。<br>
  だって「行灯」には「灯」の文字が入ってるじゃありませんか。<br>
  というわけで、出発したはいいものの「<font color="red">電気つかねえ（滝汗）！！</font>」ってなことにならないよう、ここでは正しい電飾のやり方について書きたいと思います。<br>
  <br>
  <br>
  <font color="green">１，準備</font><br>
  電飾に必要なものは、<br>
  ①バッテリー　②電球＆ソケット　③ケーブル<br>
  細かい道具を抜きにすればこの３つです。<br>
  この３つのうち、早急に用意しなければならないのは、①のバッテリーです。<br>
  １年生ならば６個程度、２，３年生ならば１０個以上は必要かと思われます。<br>
  <br>
  では、バッテリーはどうやって集めればいいのでしょうか。<br>
  １番ポピュラーな方法は、ガソリンスタンドへ行って、使用済みバッテリーをもらってくるという方法ですが、１番「<font color="red">はずれ</font>」が多いのもこれです。<br>
  もう廃棄するはずのバッテリーですから大半は<font color="red">死んで</font>しまっているのです。<br>
  そこで、私がおすすめするのは「<font color="red">自動車整備工場</font>」。<br>
  １番有名なのは創成川沿い、新川通沿いにある「<font color="red">アップル車検</font>」でしょうか。<br>
  ここでは、非常に良質のバッテリーをもちろん無料で貸していただけます。<br>
  行灯行列が終わったあと、返しに行けば処分費用もかかりません。<br>
  ただ、最近では各クラスがこの「<font color="red">穴場</font>」を狙ってくるので早めに約束をとりつけておく必要があるでしょう。<br>
  <br>
  バッテリーが準備できたら次は②電球＆ソケット　③ケーブルの準備です。<br>
  電球には１０Ｗ、２０Ｗ、４０Ｗがありますが、基本は２０Ｗ。<br>
  １０Ｗ電球はバッテリーの電圧が落ちてきた時、急激に暗くなりますし、４０Ｗ電球は大して明るくない割りに、無駄にバッテリーを食います。<br>
  ケーブルは３０芯が基本。ただし、バッテリー結合部など、負荷がかかるところには５０芯を使っても良いかもしれません。<br>
  <br>
  <font color="green">２，設置＆配線</font><br>
  それでは実際の作業に移りましょう。<br>
  とにかく大事なことは「<font color="red">紙はりが始まるまでに８割方終わらせる</font>」こと。<br>
  もう針金もできていて、色も塗り終わっているのに電飾が終わってないと、クラスの人から<font color="red">総攻撃</font>を受けます。<br>
  まさに「<font color="red">四面楚歌</font>」。そうならないように気をつけましょう。<br>
  <br>
  電飾担当者は、どこに何個の電球を付け、どのバッテリーにつなげるのかということをあらかじめ考えておかねばなりません。<br>
  物理を勉強した人ならご存知のように、抵抗の大きさはケーブルの長さに比例します。<br>
  ですから、なるべく抵抗が小さくなるよう、すなわち電球が少しでも明るくつくように考えるのです。<br>
  １つのバッテリーにつなぐ電球の個数は２０Ｗなら<font color="red">１２個</font>が限界といったところでしょうか。<br>
  ただし、これはバッテリーの状態にもよるのでその辺は電飾担当者のセンスです。<br>
  また、光を反射させるためにアルミ箔を張るという方法もありますが<font color="red">あまりおすすめしません</font>（手間の割りに効果の程が疑問）。<br>
  <br>
  バッテリーの充電も忘れないようにしましょう。<br>
  各学年に必ず何人かは充電器を持っている先生がいるので、夏休みのうちから充電しておくのがbest。<br>
  夏休みが終わってからでは、他のクラスからの予約が殺到してなかなか充電できません。<br>
  充電が終わったバッテリーはどんどん本体に乗っけていきましょう。<br>
  そのためにも、バッテリーを置く台は早めに作っておく必要があります。<br>
  <br>
  なお、バッテリーにケーブルをつないでも当日まではスイッチのケーブルは外しておくこと。<br>
  私は２年の時、スイッチにケーブルをつないだままにしておいたため、<font color="red">どこかのバカに</font>スイッチを入れられ、バッテリーがあがってしまった苦い経験があります（しかも行灯行列の数日前）。<br>
  <br>
  <font color="green">３，出発後</font><br>
  電飾担当者の仕事は出発前で終わりではありません。<br>
  もちろん出発後にトラブルが起こらないように何度も点灯実験をして万全を期しておく必要があります。<br>
  それでも何が起こるかわからないのが電飾。<br>
  不測の事態に備えて、あらゆるもの―例えば、ケーブル、ペンチ、ビニールテープ、針金等―を行列の際に携帯するべきでしょう。<br>
  <br>
  <br>
  私は３年間電飾を担当しました。<br>
  １年の頃は無知であるが故、全くプレッシャーを感じなかったのですが、２，３年の時、特に３年の時には強いプレッシャーを感じました。<br>
  行灯における「光」の重み、それを知ってしまったからです（詳しくは「<font color="red">遊び人の行灯戦歴</font>」を読んでください）。<br>
  行灯製作者はたいてい、グラウンドに完成した行灯が並んだ時点で肩の荷が降りるのですが電飾担当者はそうはいきません。<br>
  クラスメイトに「電気大丈夫？」と聞かれるたびになんともいえぬ不安に襲われます。<br>
  かつて、ある人に「電飾ってそんなに大事なの？大して差がでないと思うんだけど。」と言われたときは内心<font color="red">ブチキレ</font>ました。<br>
  電飾は「<font color="red">Ａｌｌ　ｏｒ　Ｎｏｔｈｉｎｇ</font>」。それだけに責任の所在が明確になるポジションなのです。<br>
  <br>
  ただ、スイッチを入れて自分の思ったとおりに電気がついた時の感動は、電飾担当者しか味わえません。<br>
  <font color="red">だから電飾はやめられない</font>。
  </p>
  <br>
  <p align="right">
  文責：芋兄
  </p>
  <h3> 色塗りのやり方 </h3>
  <p>
  <font color="green">１.配色</font> 　　<br>
  色塗りを担当するのはたいてい女子で、その際配色を任されることも多いのですが、これはとにかく<font color="red">男子との話し合い</font>が重要。配色がよくないと、いくら模様が凝っていても完成度は低くなります。暖色系の色が映えるからといってそればかり使うとぼんやりとした印象の行灯になってしまいがちです。暖色系が映えるように寒色系をおきましょう。 <br>
  <br>
  <br>
  <font color="green">２.模様</font> 　　<br>
  これは自分で考えるのも有りですが、本などで調べたり、昔の行灯を参考にするのもよいでしょう。模様はけっこう大きさも重要なので、テントに度々足を運んで針金を見てからだいたいの大きさを決定するとよいと思います。 <br>
  <br>
  <br>
  <font color="green">３.色塗り</font> 　　<br>
  「行灯マニュアル」にはどう書いてあったか、<font color="red">もはや憶えてない</font>し、色の塗り方って人それぞれだと思いますが、ここでは私のとってきた方法を紹介したいと思います。 <br>
  <br>
  <font color="green">★用意するもの</font> 　　　<br>
  ・<font color="red">紙</font>..................大きくて作業しにくいので1/4に切って塗っていた。　　　　　 <br>
  ・<font color="red">ポスターカラー</font>...セントラルまで行くと種類が豊富。 <br>
  ・<font color="red">スポンジ</font>.........１００円ショップでたくさん手に入るはず。 <br>
  ・<font color="red">ガーゼ</font>............洗って使い回せるがこれも割と消耗品なのでたくさんあるとよい。 <br>
  ・<font color="red">トレイ</font>...............底が浅いと液がこぼれやすいので、できれば少し深めの。 <br>
  ・<font color="red">ペットボトル</font>......何色かを混ぜて作った色は、使い切った後追加で作っても全く同じ色にするのは難しいです。最初に色を作る段階で多めに作っておいて、ペットボトルで保管するとよいでしょう。 <br>
  ・<font color="red">厚紙</font>...............模様を塗るとき型を作る。 <br>
  ・<font color="red">新聞紙</font>............大量に。床を守りましょう。試し塗りにも使える。 <br>
  <br>
  <br>
  では色塗りの説明をします。やり方は至って簡単。 <br>
  ポスターカラーを水でのばす。 <br>
  スポンジをガーゼで包み、その液を少し多めにしみこませ、縦・横にのばすように塗っていく。 <br>
  このままだと塗った跡が線として残ってしまうので、ガーゼで包んだ別のスポンジに液を少し含ませ、塗った跡を消すようにポンポンたたく。 <br>
  <font color="red">以上です</font>。 <br>
  何が難しいかというと、まずポスターカラーののばし具合。色が濃いと力強さは出ますが、光の通しが悪くなります。色が薄いとその逆で、光はよく通しますが、力強さに欠けます。同じ色でもまったく違った印象になるので、そこを考慮しましょう。　 <br>
  次に、<font color="red">"色塗り用スポンジ"</font>と<font color="red">"跡消し用スポンジ"</font>の液の染み込ませ具合。これは慣れで、そのうちわかってくると思います。 <br>
  <br>
  これを少し応用すると<font color="red">グラデーション</font>もつくれます。 <br>
  グラデーションの幅にもよりますが、まず普通に色を塗るときと同じ要領で、紙の両端からから中心へ二色の色を塗ります。そして真ん中付近は二色を混ぜた色で塗ります。"跡消し用スポンジ"でたたいて境界をなじませるとできあがりです。 <br>
  <br>
  色塗りはとにかく<font color="red">スピード勝負</font>なので手際よく作業しましょう。 <br>
  基本的な塗り方については上記の通りですが、電気をつけたとき効果的な「<font color="red">水玉模様</font>」についても軽くふれておきます。 <br>
  <br>
  まずろうそくに火をつけ紙の上に適当な間隔でろうを垂らしていきます。 <br>
  ろうが固まったらあとは普通に塗り、紙が乾いたらろうをぺりぺりとはがします。これだけです。 <br>
  ろうを塗った部分はよく光を通すので、水玉だけでなく模様のふちどりなどにも使えます。 <br>
  ただ真夏に、紙が風で飛ばされないようにと完全に閉めきった教室でろうを垂らしていると<font color="red">気がおかしく</font>なりそうですが。 <br>
  <br>
  <br>
  <font color="green">４.その他</font> 　　<br>
  行灯では色作りもかなり重要。原色ばかりを使うと、へたしたらおもちゃみたいな行灯になってしまうので、深みや渋みをだすのに使える色をいくつか紹介しておきます。 <br>
  <br>
  ・黄土色&hellip;&hellip;黄色などと混ぜると電気をつけたとき金色っぽくみえる。その他いろんな色と組み合わせ可能。 <br>
  ・新橋&hellip;&hellip;&hellip;青・紺色系のいろだったと思います。 <br>
  ・ローズ&hellip;&hellip;これはピンク系の色だけど<font color="red">意外に使える！</font>あのシャクシャイン（行灯ギャラリー参照）も使ってます。ただ、使い方を間違えると可愛い感じにも&hellip;(汗) <br>
  ・アンバー&hellip;これめやの<font color="red">おすすめ！！</font>茶系の色なんだけど、とにかく使える。そのままでもいいし、混ぜても使える。私は髪の先を真っ白にしたくなかったので、アンバーを多めの水でといてかなり薄くしたのを使っていた。 <br>
  <br>
  <br>
  <br>
  慣れないうちは、色塗りはほんとムラができて大変です（特に黒。<font color="red">黒を見れば上手いか下手かわかる</font>くらいムラがでやすい）。一つの模様を作るのにいくつもの型が必要だったり、ろうが手足に垂れることもあったりで結構苦労します。こうして完成した一枚一枚がテントに運ばれると、土まみれになって地面に落ちていたり、踏まれたりするとかなり悲しいので、テントでの紙の管理はしっかりやりましょう（<font color="red">男女平和</font>の為にも）。 <br>
  <font color="red">紙 死守です！！（切実）</font>　
  </p>
  <p align="right">
  文責：めや
  </p>
  <br>
  <h3> 紙張りのやり方 </h3>
  <p>
  いよいよ行灯製作の<font color="red">最終工程</font>、「紙はり」です。<br>
  過去に紙はりがあまりに粗雑だったため、<font color="red">見るに耐えない行灯</font>がいくつかありました。<br>
  そうならないよう、しっかりとした作業計画を立てることが必要です。<br>
  ここでは、その辺の話も交えながら紙はりのやり方について書きたいと思います。<br>
  <br>
  <br>
  <font color="green">１．紙はりを始める時期</font><br>
  <br>
  恐らく、紙はりの技術云々よりも「<font color="red">いつから張り始めればいいのか</font>」という点のほうが大事かもしれません。<br>
  目安としては１，２年生は夏休み明け直後、３年生は夏休み後半からでしょうか。<br>
  これより作業開始が遅れると、前述したような「<font color="red">見るに耐えない行灯</font>」になる可能性大。<br>
  もちろん、言うまでもないことですが紙はりをはじめる時には針金・色塗り・電飾が大方終わっていなければなりません。<br>
  ですから、責任者は各部門の進行状況をまめに確認し、行灯行列の日から逆算して作業日程を立てて下さい（１年生にそこまで要求するのは酷ですが３年生ならできるはず。実際、私も３年生の時は毎日家で当初の予定とのずれをチェックし、どこでそのずれを修正するか考えてました。）。<br>
  <br>
  <font color="green">２，紙はり準備</font><br>
  <br>
  紙はりを始めるにあたって必要なものがいくつかあります。<br>
  ①ボンド　②はさみ＆カッター　③ランタン
  大まかに分けるとこの３つでしょうか。<br>
  ①のボンドには、かなり大きなバケツ状のものと細長い形のもの、この２つがありますが、バケツ状のやつは少々使いにくい気がします。<br>
  というのも、紙はりは大勢での作業となるので、各々が家庭用のボンドの容器や紙コップに移してボンドを使用することになります。<br>
  でかいやつだと移すのが面倒ですし、ふたが空いたままだと乾いてしまうので細長いタイプのやつを大量に買っておくのが良いでしょう。<br>
  <br>
  ポイントとなるのは②のはさみ＆カッター。<br>
  いい仕事をするためにはいい道具が必要。切れないはさみで作業を続けると、切ったところがギザギザになったり紙が破れたりしてしまいます（そんなことしたら<font color="red">女の子に怒られること必至</font>）。<br>
  はさみは消耗品。いくら切れるはさみを使っていても、ボンドが刃にこびりついてくるに従い、切れ味が鈍ってきます。<br>
  カッターでこびりついたボンドを削り、ある程度使うことはできますが数少ないはさみでは限界があるでしょう。<br>
  ですから、クラス費を使い、１００円ショップで大量にはさみを買ってきてもいいかもしれません（クラス費に余裕があればね）。<br>
  私は、細かい部分にカミソリの刃を使ってた記憶があります。<br>
  使う人はくれぐれも手を切らないように(私は<font color="red">ざっくり</font>切りました）。<br>
    <br>
    ③のランタンは１週間くらい前から必要となります。<br>
    暗いところでの紙はりは非常に難しいので、できるだけ多くのランタンを用意しましょう。<br>
    <br>
    <font color="green">３，紙はり開始</font><br>
    <br>
    紙はりはどこから張ってもいいというものではありません。<br>
    ひとつ順番を間違えると、後々「<font color="red">張れねえ！！（滝汗）</font>」という部分がでてくるはず。<br>
    基本は「<font color="red">張りにくいところから貼る</font>」。<br>
    まあ、その部分の色がまだ出来上がってなければできませんが。<br>
    特に、高いところの紙はりはできるだけ早い段階で終わらせましょう。<br>
    高いところを貼るのは身軽で背の高い男子。脚立に上り、時には針金の間に足を入れ、<font color="red">超アクロバティックな</font>姿勢で貼らねばならないところもあります。<br>
    そういったときに、足を入れるところにもう紙がはられていたら作業がますます困難になりますし、万が一紙が張られているところに落下でもしようもんなら、もう<font color="red">行灯に触らせてもらえません（涙）</font>。<br>
    頭を使い、順序良く張るようにしましょう。<br>
    <br>
    それでは実際の張り方について説明します。<br>
    ２次元の「紙」を３次元の「行灯」に張るわけですから、当然難しい点がでてきます。<br>
    広い範囲をいっぺんに張ろうとすると平面的になり電気がついた時も美しくありません。<br>
    無地の部分を張るときは針金の一区画ずつ張っていくのが基本。<br>
    時間に余裕がなければ仕方ないとは思いますが、そうしたほうが時間をかけた分きれいに仕上がります。<br>
    <br>
    ただし、柄の入った部分の紙はりはそう簡単にはいきません。<br>
    継ぎ目の部分の「<font color="red">模様つなぎ</font>」が必要となるので、一区画ずつ張ってしまうと、模様がうまくつながらず、違和感のある仕上がりになってしまいます。<br>
    この「模様つなぎ」が紙はりにおける一番の腕の見せ所でしょう。<br>
    あまりに広い範囲を張ると曲面ですから歪みがでますし、一区画ずつはると上に書いたようになってしまう。<br>
    その中間の微妙なところで張っていくのです。<br>
    この際、一番気をつけることは、模様がつながっているように「<font color="red">見せかける</font>」こと。<br>
    実際、完全につなげるのは不可能なわけで、角度を上手くあわせることによってつながっているようにみせるのです。<br>
    まあ、大半は器用な女の子の仕事になると思いますが（私も模様つなぎは下手）。<br>
    <br>
    <font color="green">４，その他注意事項</font><br>
    <br>
    紙はりはクラス総出での作業となります。この際、責任者は次の点を常に考えなければなりません。<br>
    それは、「<font color="red">適材適所</font>」。<br>
    クラスの中には「やる気はあるが技術の伴わない人」が必ずいます。<br>
    もちろん、やる気があるのはありがたいことですし、ぎりぎりの作業日程でやってる中、貴重な戦力です。<br>
    ただ、そういう人にあまりに目立って難しい場所を張ってもらうと、結局はその場所をはがして張りなおし、なんてことになりかねません。<br>
    それは非常に手間がかかりますし、何より張った人を傷つけてしまいます。<br>
    そうならないよう、責任者は「適材適所」の精神を忘れないようにしましょう。<br>
    <br>
    また、紙はりをする際、紙を乱暴に扱いがちです。<br>
    がんばって色を塗ってくれた人たちのことを考え、なるべく無駄のないように使い、きちんと袋にいれて保存しましょう。<br>
    <br>
    <br>
    とまあ、いろいろ細かいことを書きましたが、結局紙はりに必要なのは「<font color="red">気合い</font>」です。<font color=blue>（結局最後は精神論かよ！by遊び人）</font><br>
    もうこれしかありません。<br>
    <s>手や細かい部品は家に持ち帰って張ることもできます。<br>
    私は顔（髪の毛付き）も持って帰りました。<font color=blue>（僕は蜘蛛の巣(超巨大）を背負って帰りました。by遊び人）</font>さすがに夜中まで行灯の顔と向き合ってると発狂しそうになりましたが、それも今となっては良い思い出です。</s><br>
      ぎりぎりの状態に追い込まれると爆発的なパワーを発揮するのが北高生。<br>
      実際、去年も「これはどこのクラスも終わんねえだろ・・・」と前日まで思ってましたが（「<font color="red">なんでそんなこと卒業したOBが知ってんのよ</font>」とか突っ込まないように。）、なんとか形になりましたし。<br>
      <br>
      でもね、やっぱ出発前には余裕でいられるくらいじゃないと行灯大賞はとれないよ（笑）
      </p>
      <br>
      <p align="right">
      文責：芋兄
      </p>
}
