@howto.common("How toについて")("甲乙人")("2011/6/15") {
  <p>
    How toにある記事は、先輩方の知恵を蓄えたものです。<br>
    ここに書いてあることは筆者がいいと思ったやり方であり、必ずしも誰でも当てはまるわけではありません。<br>
    また、何年も前の記事であったり、筆者が何年も前に卒業した人だったりするとその情報は古く現在では使えない、またはさらに良い方法がある場合があります。<br>
    逆に現在で見落とされがちなことを過去の記事で説明されていて気づくこともあるでしょう。<br>
    <br>
    初心者の方はここに書いてあることを真似してみてください。まずは真似ることが最速で成長する秘訣です。<br>
    中級者の方はどの方法がいいか、悪いかが分かってきていると思います。自分にとって最善の方法を選択していってください。そしてこのサイトに頼ることはやめて新しい方法を編み出していってください。<br>
    上級者の方は自分独自の哲学や技術を持っているはずです。ぜひその哲学や技術をこのサイトに教えてください。あなたの知識・技術が未来の行灯で活かされることでしょう。<br>
    <br>
  </p>
}
