@howto.common("紙貼り")("甲乙人")("2011/7/3") {
  <h3>はじめに</h3>
  <p>紙貼の役割は針金の線のみだった行灯を面にしていくことです。<br>
  紙貼は普通大勢で一斉にやるものなので、基本的には誰でもできます。
  しかしただ貼ればいいというわけではありません。紙にシワが入ってはいけないし、紙が重なってもいけないし、紙を無駄にしてはいけないし・・・と、多くの気をつけるべきことがあります。

  また、さらにレベルをあげるためにはその針金を作った人の気持ちを読む事が必要になってきます。<br>
  針金ですべての曲面を完全に表現できるわけがないので、それを紙貼が補わなくてはいけません。
  針金を作った人がどんな形状にしたかったかを意識して貼りましょう。<br>
  </p>

  <h3>道具</h3>
  <ul>
    <li>紙</li>
    <li>ボンド</li>
    <li>カッター　または　カッターの刃</li>
    <li>紙コップ（なくても良い）</li>
    <li>霧吹き（なくても良い）</li>
  </ul>

  <p>
  道具は以上の3～5つです。<br>
  ボンドは速乾を使ったほうが後悔しません。効果の程はわかりません。
  カッターよりカッターの刃のほうが安いのでおすすめです。ただし取り扱いには気をつけましょう。<br>
  紙コップはボンドを入れておく容器です。<br>
  霧吹きは紙をぴんと張るために使うものです。貼り方で説明します。<br>


  ※ボンドがこびりついたカッターの刃を復活させる方法　誰かいい方法を知っていたら教えてください
  </p>

  <h3>貼り方</h3>

  <h4>格子を決める</h4>
  <p>貼る格子を決めます。紙のサイズより少しだけ小さい格子にしたり、後述する貼る順番にしたがって決めたりします。
  </p>

  <h4>紙をカットする</h4>
  <p>格子を決めたらその格子よりほんの少しだけ大きいサイズになるように紙をカットします。
  </p>

  <h4>ボンドを塗る</h4>
  <p>貼りたい格子にボンドを塗ります。
  </p>

  <h4>霧吹きを使う（任意）</h4>
  <p>ここで霧吹きで水分を吹きかけると、乾いた後にぴんと紙が張るようになります。<br>
  ただ、ここで注意してほしいことが二つあります。
  <br>
  一つ目は凸曲面で霧吹きを使ってしまうとへこんでしまったりと、綺麗に見せるために霧吹きを使っても逆効果になることもあること、二つ目はロール紙に比べて奉書紙は効果が少ないこと、です。昔はロール紙を多用していたので効果はすごくありましたが、奉書紙が多くなってきている現在では余り使う意味もないように思います。どうしてもぴんと張りたいところだけにすべきでしょう。
  </p>

  <h4>紙を貼り付ける</h4>
  <p>

  </p>

  <h4>乾くまで待つ</h4>
  <p>
  </p>

  <h4>余った部分をカットする</h4>
  <p>
  </p>

  <h3>一歩進めて</h3>
  <p></p>

  <h3>模様つなぎ</h3>
  <p>※全くわかりません。誰か教えてください。</p>

  <h3>効率化</h3>
  <p>短時間で終わらせるためには紙を貼る順番も少しだけ考えましょう。<br>
  区間に紙を貼るにはその隣りの区間が完全に乾いていなければいけません。この乾くまでの時間が後半時間がなくて追い込まれているときにすごく重くなってきます。</p>
  <h3>おわりに</h3>
  <p></p>
}
