@howto.common("木材の最小発注量を計算")("甲乙人")("2011/5/3") {

  <h3>使い方</h3>

  <ol>
    <li>1.カット後の木材の数を半角数字で入力->送信ボタン<br></li>
    <li>2.名前と長さを入力（長さは半角数字で、1以上3650以下）->送信ボタン<br></li>
  </ol>

  <a href="@routes.Assets.at("img/howto/lumber/sample_1.png")"><img src="@routes.Assets.at("img/howto/lumber/sample_1.png")" alt="サンプル画像1" width="300"></a>
  <a href="@routes.Assets.at("img/howto/lumber/sample_2.png")"><img src="@routes.Assets.at("img/howto/lumber/sample_2.png")" alt="サンプル画像2" width="300"></a>

  <p>サンプル画像　土台のみ(3650 × 6,　2700 × 5,　600 × 4)だと最小発注量は11本</p>

  <hr>

  <form>
    カット後の木材の数：
    <input type="number" min="1" max="100" id="num" size="3"> 本<br>
    <input type="button" value="送信" onClick="numberOfLumber()">
  </form>
  <p id="cut">
  </p>
  <form id="inputField">
  </form>
  <div id="result">
    <p id="numOrder">
    </p>
  </div>
  <script type="text/javascript" src="@routes.Assets.at("js/lumber.js")"></script>
}
