@howto.common("電飾マニュアル")("ちょき")("2007/8/1") {

  <h3>目次</h3>
  <p>
  ・はじめに<br>
  ・作業過程<br>
  ・電飾とは<br>
  ・道具<br>
  ・バッテリー<br>
  ・バッテリーケース<br>
  ・ソケット<br>
  ・ソケットの配置図<br>
  ・配線<br>
  ・豆電・ぷちトマト<br>
  ・蛍光管・蛍光球<br>
  ・蛍光管の安定器のはずし方<br>
  ・動力<br>
  ・テスターの使い方<br>
  ・新たな可能性を求めて
  </p>

  <h3>はじめに</h3>
  <p>
  どうも、今回行灯マニュアルの改訂版を書かせていただくことになりました、ちょきです。僕がこの改訂版を書こうと思った理由には以下の４点があげられます。<br>
  １、行灯講習会できちんとした知識が伝承されていないため<br>
  ２、1年生にとってまさに電飾はナゾ。先輩に聞いてもそれぞれのやり方があり統一されておらず、統一したマニュアルがあればいいと思ったため<br>
  ３、今まで載っていたマニュアルから多くの年月がたっているため、最新の技術がのせられていないため<br>
  ４、電飾初体験の人でも完璧にわかるようにＯＢ・ＯＧにこんなとこまでいらないだろうといわれる位まで基礎から書きたかったから
  </p>
  <p>
  この4点が主な動機です。ただ、これから僕が述べる知識は3年間の電飾の中で先生や先輩から教わった技術がほとんどです。<br>
  強いて言うなら、先生や先輩から教わった技術を皆さんに伝承したいと思ったのも、このマニュアルを書いた理由のひとつです。<br>
  遅れましたが、一応自己紹介します。僕は3年間電飾をやりました。1年のときは友達と二人で試行錯誤しながら無事成功することができ、そのときの感動が忘れられず、2年、3年と電飾をした、いわば、電飾しか知らないものです。<br>
  なので、これから色塗りのことについても多々言及しますが何か間違いや不明慮な点があったら、遠慮せずに教えてください。<br>
  ikeikehazimari@@yahoo.co.jp
  </p>

  <h3>作業過程</h3>
  <p>
  構図決定→支柱設計→ソケット配置図→配線図→バッテリー集め→作業開始→支柱完成→バッテリーケース作り（作業1週目）→ソケット作り→ソケット付け→針金の形が見えてきた!!→ソケット位置の微調整と配線開始（作業2週目）→バッテリーの放電・充電開始→紙張り開始前に配線の8割終了（作業3週目）→針金がほぼ完成したら電球付け→配線完了→バッテリーケース付け→インバーター設置→行灯行列
  </p>
  <p>
  ＊ソケット配置図と、配線図は進行状況に応じ随時変更する<br>
  ＊空飛ぶソケット・豆電球は針金ができ次第開始
  </p>

  <h3>電飾とは</h3>
  <p>
  昔、どこかの人が、「行灯」の「灯」は光だと言っていたのが印象に残っています。行灯は全体が光って初めて行灯です。<br>
  実際それぐらい大事な役割を占めるのがこの電飾です。
  </p>
  <p>
  電飾が成功するか否かで受賞できるかできないか決まると言っても過言ではありません。なぜなら、行灯行列は夜に行うため十分に光っていないと、本来の針金の美しさや、色塗りの美しさが全然出ず、迫力の無い行灯になってしまうからです。
  </p>
  <p>
  光る前は受賞ほぼ決定だったと言う行灯が過去に何度もあるのが、電飾の重要さを物語っています。しかし、行灯はやはり針金と色塗りあっての代物です。ただ、光ってるだけの行灯はただの箱ですし、受賞するのも難しいです。
  </p>
  <p>
  電飾は、料理にたとえたら「箸」のような役割です。いくら、料理がおいしくても箸が無ければ食べられない。どんなに高価なフルコースでも割り箸だと最低ですよね。逆に、箸だけ輪島塗並みにかっこよくても、吉野家がメインディッシュだったら、泣きそうですよね。また、いくら光ってても色がムラだらけだったら微妙ですよね。
  </p>
  <p>
  だから、電飾に求められるものは以下の３点です。
  </p>
  <p>
  １、いかに少ない人材で完璧に光らすか<br>
  ２、どれだけ全体を見れるか<br>
  ３、どれだけ土台、支柱、色塗りと連携が取れるか
  </p>
  <p>
  まず、１ですが、基本的に電飾は1年生以外は1人でするのがBESTです。（一年生は、電飾の経験が初めてのため2人でやるのがBESTです）。<br>
  なぜなら、電飾でもっとも技術を必要とするのが、ソケットの位置と、間隔と、「勘」ですが、それが電飾をやる人間によって、千差万別なので二人以上でやってしまうと必ず意見の相違が生まれます。電飾での意見の相違と言うのは針金と違ってかなり危険です。<br>
  というのも、電飾は土台や針金の変更、ズレで絶対に計画通りにできない仕事です。常に（本番30分前でも大幅な変更を強いられましたwwww）変更を伴う仕事なのです。<br>
  そのときに、それぞれの意見の相違があっては円滑に進まないばかりか回路そのものも変更しなければならないと言う事態に陥る危険性があります。<br>
  そうならないためにも、電飾は必ず一人で、ソケットの配置図と回路図を作りましょう。<br>
  さらに、一人で電飾をすれば必然と他の人員を針金や、色塗りに回せます。先ほども書いた通り、電飾はあくまで、「箸」です。他の部門にどれだけ人を回せるかと言うことをしっかりと認識しなければなりません。
  </p>
  <p>
  次に２ですが、これは電飾だけでなくどの部門にも求められる大事なものです。電飾は先ほど述べた通り全体を光らせなければなりません。そのときに<br>
  例えば、目立たせたい部分にだけ電球を集中させ目立たない部分に電球を回さなさ過ぎると非常に光にムラがあって、非常に雑な行灯になります。<br>
  この例は非常に極端ですが、似たような例はいくらでもあります。例えば指の先など細いところに豆電球をいれず指先だけが暗くなってしまうなど。<br>
  これを防ぐ方法が、ソケットの配置図を作ると言うことです。ソケット配置図の作り方は後で述べるとして、これをすることにより、事前にソケットの数と大まかな配線、さらにはバッテリーケースの位置まで予想することができます。<br>
  よく、支柱に番号を書いてる人が見られますがそんなことをしては、後でソケットの位置、回路を変えるときに不便です。また、今年からでたバッテリー個数制限にも対応できません。支柱にいちいち番号を付けていたら、制限個数内で均等に電球を割り振ることは至難の業です。
  </p>
  <p>
  最後に3ですが、これが一番（特に三年）大事です。今年、僕のクラスは「奉書紙」という紙を使いました。これは、普通のロール紙と違って、ムラがまったくと言っていいほどできず、一見すると電飾にとってはイイコトづくしのように思えます。しかし、電飾にとってこの紙の最大の欠点は「非常に光りを通しにくい」ということです。<br>
  実際、僕も使ってみて思ったのですが、ろう塗り（後ほど述べる）をしないで白熱球を付けてしまったら、ものすごく暗くなってしまいました。<br>
  配線自体は完璧だったのに、何で？と思ったのですが、問題はこの奉書紙にありました。もちろん、色塗りの責任ではなく、奉書紙を使うところを事前に確認しあって蛍光球（後ほど述べる）にすればまったく問題なかったのだと思います。これは、電飾の人間の責任です。色塗りあっての電飾です。
  </p>
  <p>
  逆に、支柱ですが、責任者が完璧な支柱の設計図をコンピューターグラフィックで作ってきてくれたため、非常にソケットの位置が定まりやすく、かつバッテリーケースの位置も事前に責任者に伝えることができました。下の支柱図を見てもらえばわかりますが、非常に木材を付け加えやすく、中で作業がしやすいです。<br>
  電飾は配線のために行灯の中で作業するので、中の支柱が少なければ少ないほど作業しやすいです。また、構図が簡単なほど電飾もやりやすいです。<br>
  <a href="@routes.Assets.at("img/howto/manual_d_choki/choki1.jpg")"><img src="@routes.Assets.at("img/howto/manual_d_choki/choki1.jpg")"></a>
  </p>

  <h3>道具</h3>
  <p>
  必需品<br>
  <dl>
  <dt>・バッテリー</dt>
  <dd>(行灯を光らす動力。主に<b>自動車整備工場で借りる。</b>ガソリンスタンドは▲）</dd>
    <br>
    <dt>・ソケット</dt>
    <dd>（電球を乗せる台。支柱に固定or針金と結ばせてそれぞれのソケットをコードで結ぶ（配線）。一応学校で支給される。）</dd>
    <br>
    <dt>・ネジ</dt>
    <dd>（ソケットと支柱を固定するときに使う）</dd>
    <br>
    <dt>・電球</dt>
    <dd>（学校で支給される白熱球は<b>１２Ｖ２０Ｗ。</b>前は<b>１２Ｖ４０Ｗ</b>も使われていたようだが、今は１００Ｖ６０Ｗ＜消費電力１３Ｗ＞の蛍光球や蛍光管を使うのがBEST）</dd>
    <br>
    <dt>・コード</dt>
    <dd>（大体１０Ａ～１５Ａまで耐えれる。主に30芯の平行線をつかうのが基本。しかしながら、僕自身はヨドバシカメラの５０芯のコードを使用した。）</dd>
    <br>
    <dt>・ドライバー</dt>
    <dd>（ソケットを作る時や支柱にソケットを固定するときに必須。電動ドライバーのほうが楽。）</dd>
    <br>
    <dt>・ペンチ</dt>
    <dd>（コードを剥く時に必須。ワイヤーストリッパーがあれば必要はあまりない。）</dd>
    <br>
    <dt>・ワニ口クリップ</dt>
    <dd>（ブースターケーブルが無いときにコードの先端に付けるクリップ。これをバッテリーの端子に接続する。目玉クリップでもいいが漏電の可能性が高いのでお勧めしない。）</dd>
    <br>
    <dt>・バッテリーの充電器</dt>
    <dd>（バッテリーを充電するときに必須。担任か副担任が持ってる可能性がある。ただ、生徒会の貸し出しもあるが、3年間電飾をやるなら自腹でひとつ買いましょう。）</dd>
    <br>
    <dt>・ビニールテープ</dt>
    <dd>（コードとコードを接続するときに銅線がむき出しのままだと、それぞれの接合部分が接触してショート回路となる恐れがあるのでビニールテープを巻いて絶縁する。）</dd>
    </dl>
    </p>
    <p>
    <b><u>あると便利なもの</u></b><br>
    <dl>
    <dt>・ワイヤーストリッパー</dt>
    <dd>（１００円均一で売っているが、さすが１００均クオリティー（2年のときのクラスの人の名言ww）1回でぶっ壊れることも。3年間電飾をやるなら3000円のきちんとしたやつをヨドバシカメラなどで買うことをお勧めする。（出発前ぎりぎりで大破しワイヤーストリッパーを探したのできちんとしたやつを強くお勧めするwwww））</dd>
    <br>
    <dt>・ブースターケーブル</dt>
    <dd>（クラスの人が持ってるときは使用しても良い。かなりの電流を耐えれるので便利だけれども、コードとの接合部分がかなり取れやすいので要注意。）</dd>
    <br>
    <dt>・テスター</dt>
    <dd>（電飾をやるなら必須と言いたいが、無くてもできる。が、インバーターなどを使うときはあったほうが良い。バッテリーの充電状態やインバーターの状態、ショート回路すらわかる優れものである。お勧めはジョイフルＡＫで売っているデジタルのテスター（2000円くらい））</dd>
    <br>
    <dt>・比重計</dt>
    <dd>（希硫酸が足りているかわかる。なくても問題ない。（640円くらい））</dd>
    <br>
    <dt>・バッテリー補充液</dt>
    <dd>（バッテリーの液が足りないときに使う。しかしながら、市販のものは法律により希硫酸がほとんどはいってないので、これを使うくらいなら復活液や、バッテリーそのものを変えるほうが良い）</dd>
    <br>
    </dl>
    <b><u>あるとより高得点になるもの</u></b><br>
    <dl>
    <dt>・蛍光管</dt>
    <dd>（<b>１００Ｖ</b>１０Ｗ～４０Ｗくらいまでが一般。ただし、バッテリーは１２Ｖなのでインバーターを使って変換しなければならない。要技術。）</dd>
    <br>
    <dt>・蛍光球</dt>
    <dd>（<b>１００Ｖ</b>６０Ｗのスパイラルが今年はじめて大々的に導入された（使用クラス9クラス中7クラス）。白熱球に比べて差は歴然。奉書紙を使うならこれを使おう。しかし、これもインバーターを使うので要技術。）</dd>
    <br>
    <dt>・インバーター</dt>
    <dd>（<b>１２Ｖを１００Ｖにする際に必須。</b>変換効率は90パーセントくらい。３００Ｗインバーターで約3000円。<b>インバーター内のトランジスターにより蛍光球がつくものとつかないものがあるので要注意。</b>）</dd>
    <br>
    <dt>・ぷちトマト</dt>
    <dd>（<b>１２Ｖ２０Ｗ</b>の豆電球。指先などに使う。<b>豆電球（２，５Ｖ）</b>と区別するためにこのようなりりしい名前が付けられたww）</dd>
    <br>
    <dt>・豆電球</dt>
    <dd>(<b>２，５Ｖ０，５Ａ</b>が基本。<b>直列</b>で使用する。<b>電池でも光る。</b>しかし、<b>直列なので1個外れたらすべておじゃん。手間のかかる割りにあまり光らず</b>、個人的には細い部分意外は針金の節を太くするのが良いと思う)</dd>
    <br>
    <dt>・ＬＥＤ</dt>
    <dd>（ハム屋（無線のハム）で売っている。光らないといわれているが、<b>光度によっては直接見れないくらいに光る。</b>ただし、<b>かなり光るものは光る範囲が30度くらいなので、横からだとほとんど光ってない。</b>さらに、<b>電池で３０個くらい光るが、2個直列＋抵抗で１セットのを１５個並列で作らねばならずかなりめんどくさい。</b>また、1個300円くらいと結構高い。使用はお勧めしない。）</dd>
    <br>
    <dt>・ハロゲン</dt>
    <dd>（<b>自転車についてる電球。１２Ｖ３０Ｗ～２５０Ｗくらいまで</b>が一般。普通のところで買うと1個1000円以上もするが、１２Ｖ３０Ｗ、１２Ｖ５０Ｗのなら100円均一で売っている。<b>かなり明るい。</b>しかしながら<b>光る範囲がかなり狭いため直線的にしか発光しない。</b>また、バッテリーは大体２００Ｗなので、５０Ｗのだと４個しか付けられない。１００均のはハンダでコードを付けなければならない。などなど、使用頻度がかなり低いが、うまく使えばかなり印象的である。ただ、バッテリー制限のある今日では使用が難しい。）</dd>
    </dl>
    </p>
    <hr>
    <h3>バッテリー</h3>
    <p>
    行灯を光らす動力として用いられているのがこのバッテリーです。<b>規格は１２Ｖのものを使用します。大体容量２００Ｗくらいのものが多いですが大きさによりかわります。</b>
    </p>
    <p>
    ただ、借りてくるバッテリーは廃バッテリーがほとんどですので、どれだけ良いバッテリーを集めれるかと言うことが電飾に求められる一番基本的な技術？です。<b>バッテリーは自動車整備工場から借りてくるのがBESTです。なぜなら、ガソリンスタンドから借りてくると充電しても復活しないバッテリーがあるからです。</b>バッテリーが１２個必要だとしたら大体１７個くらい集めましょう。中には使えないバッテリーがあったりテスト用に使うバッテリーも必要なためです。大体自動車整備工場にバッテリーを借りる交渉をするのがＧＷ前です。常に早く借りないと、廃棄物処理法の施行でただでさえバッテリーを貸してくれなくなった今日使う分すらもらえないかもしれません。
    </p>
    <p>
    また、借りるときはバッテリーチェッカーを使って、充電してない状態で９Ｖより下回らなければ使えますから、それを借りましょう。
    </p>
    <p>
    <b>バッテリーは、一度放電（２０分くらい）させてから過充電（長時間充電＜１２時間くらい＞or２０Ｖ充電などなど）すると完全に復活します。</b>なので、大体行灯行列１４日前くらいから放電させて過充電するのがBESTです。充電は大体８時間以上やったほうが良いです。
    </p>
    <p>
    また、インバーターを使うものは１２Ｖをきるとインバーターがつかなくなるので、行灯行列ぎりぎりに１２時間充電することをお勧めします。
    </p>
    <p>
    <b>また、バッテリーはもらったらすぐにバッテリーの端子をビニールテープで絶縁しましょう。針金に触れて、漏電する恐れを回避できます。さらに放電も防げます。</b>
    </p>
    <p>
    バッテリーは大きさによりどれくらいの電球がつけられるか異なります。<b>小さいので電球８個、普通ので１０個、大きいので１２個くらいまで付けられます。</b>それ以上付けると全体が暗くなります。したがって、バッテリーに関して大事なことは、どれだけ、大きなバッテリーを集められるかです（もちろん、もてる重さを考えて集めましょう）。
    </p>
    <p>
    １年生ですと電球の数から言っても５，６個。２，３年生ですと１２個でしょうか。インバーターを使うバッテリーは大きいほうが良いです。今年、とあるクラスで、除雪車のバッテリーを積んだクラスがありましたが、それは電球４０個以上いけます。しかし、そんなバッテリーはめったに集まりません。普通のバッテリーで何個付けるか事前に考えておくことが良いです。
    </p>
    <p>
    また、１個でかいバッテリーがあると電動ドリルの充電用に使えるのでとても便利です。（インバーター使用）<br>
    てか、バッテリーはやっぱり自宅で充電するのが（ｒｙ
    </p>
    <hr>
    <h3>バッテリーケース</h3>
    <p>
    今はあまり有名ではありませんが、「稲毛式バッテリーケース」と言うのがBESTです。これは、あらかじめ、それぞれのバッテリーに合うようにそれぞれ木材でバッテリーの周りの枠を作ります。そしてバッテリーの位置が決まったら下に２本支柱を挟むように支柱と枠をねじで固定します。これなら、後でいくらでもバッテリーの位置を変えられて便利です。
    </p>
    <hr>
    <h3>ソケット</h3>
    <p>
    ソケットとは電球を入れる筒みたいなものなのですが、これに銅線をねじで固定します。ソケットは支柱に固定しますが、その前にソケットに適当な長さの銅線を付けておくほうが、その後配線する時に、目茶目茶便利です。
    </p>
    <p>
    ソケットの作り方ですが、これは電飾によって２つに割れますが、絶対にちょき式ソケットのほうが便利です（名前は気にしないでくださいww）。ちょき式ソケットのほうが作るのはめんどくさいですが、作ってしまえば配線するのが楽です。さらに、配線がかなりきれいにできます。配線のきれいな行灯は美しい光りを作り出す。これは真です。配線のぐちゃぐちゃした行灯だと、配線が見ずらく、どことどこが接触しているかわからず、本番で行灯を担いだときにつなぐ際不便です。さらに、配線を変えるとき、この方法でないと、めんどくさいです。しかしながら、配線は並列にするので一応どちらでもできます。
    </p>
    <p>
    また、<b>ソケットケースを付けるところに両側の銅線を付けてしまうとショート回路なので気をつけましょう。</b>
    </p>
    <hr>
    <h3>ソケットの配置図</h3>
    <p>
    ソケット配置図（電球配置図とも言われている。）つまり、どこに何個電球を入れるか。そして、どの向きに電球をつけるか、それを事前に（構図と支柱ができた段階で決める）仮決めするのがソケット配置図です。<b>これが、最も電飾としての技術を要します。</b>というのも、これは、電球の向きなどを除けば、電球と電球の間隔は、基本的に勘だからです。
    </p>
    <p>
    ３年間電飾をやれば構図を見た段階で電球の向きと間隔を大体決めれますが、１年生は難しいかもしれません。そこで、１年生は特例ですが支柱がたった後に実際に見てソケット配置図を書きましょう。２，３年生は、構図を見て大体どのくらい電球を使うかと言う予想を立てつつソケット配置図を描きましょう。バッテリー１２個規制も導入されたことによりこの、ソケット配置図は効力をよりいっそう強めました。
    </p>
    <p>
    というのも、先ほど述べましたが、電飾は紙貼りが始まるまでに８割ほど終わらなければならないのですが、支柱ができてからいちいちそんなことをしては終わるものも終わらなくなってしまうかもしれません。それに、以前までは最初に間隔を短くして配置して配置しバッテリーが足りなくなったらいくらでも追加できましたが、１２個と言う限られた中、最初から最後まで適当な間隔でソケットをソケット配置図を描かずに支柱に書くのは至難の業です。
    </p>
    <p>
    また、<b>電球と紙とが接触していると燃えます。</b>（実際試験段階で煙を出しましたwwww）。電球と紙の間隔が狭すぎても電球が一点に出てしまい全体が光らずかなり、微妙な行灯になります。
    </p>
    <p>
    ソケット配置図を作るときに最も注意しなければならないことは必ず、<b>予備電球を確保することです。</b>でかいバッテリーなら１２個電球がつけられますが、必ず、ソケット配置図作るときには１０個で設定すべきです。実際にできたときに足りない分を補えるようにするためです。また、結構多いんじゃないかなと思うくらい電球を配置しておくのがちょうど良いです。実際、まずはバッテリーの個数関係なしにどこに電球をおくか決めて、後で微調整すれば良いです。柄を入れるところや顔は電球をたくさん入れると良いです。
    </p>
    <p>
    これは目安ですが。<b>顔だと大体８～１０個</b>入れるのがBESTです。かみの部分は黒ければまったく透けないので入れる必要はないと思います。
    </p>
    <p>
    電球を配置するときに支柱による影ができないように注意する必要があります。また、例えば、上向きのソケットばかり並べたら下が暗くなってしまうので、上下順番に配置するべきです。
    </p>
    <p>
    また、指先などは、豆電球orぷちトマトを入れることもできますが、指先の節を太くすれば普通に光がきちんと通ります。豆電球は外れやすく、めんどくさく、暗く、時間もかなりかかるため極力使わないようにするべきです。
    </p>
    <p>
    支柱が無いところはソケットに針金を巻き、接続したい針金とそれとを結びます（空飛ぶソケット）。このとき注意しなければならないのが、<b>ソケットケースを付けてしまうと電球が最後まで行かずつかないことが多いので、ソケットケースを付けないのですが、その際に針金と接触しないようにソケットケースをつける部分にビニールテープを巻いて絶縁することを強くお勧めします。</b>
    </p>
    <p>
    また、丸いところや剣はパルックボールや蛍光管を使うと良いです。
    </p>
    <hr>
    <h3>配線</h3>
    <p>
    ソケット配置図を描き終わったら次に配線を書きます。このときに、極力<b>４個並列×３個</b>の回路を作るべきです。（もちろんコードの長さに比例して暗くなるので極力コードの長さが短くなるような範囲内でしましょう）ｗ<b>１２個全て１列に並列にしてしまうとコードが耐えられない上、電球が暗くなってしまいます。</b>このときも、ソケット配置図を描いておくと事前に調節できて便利です。
    </p>
    <p>
    <b>配線をするときは必ず、並列でつなぎましょう。</b>そして、<b>つないだつなぎ目は必ずビニールテープで絶縁しておきましょう。よくやってしまうショート回路として絶縁はしっかりしているのに、片側だけどことも接続していない一番端のソケットの銅線が接触していると言うときが多々あるので必ず、使わないところは、行灯行列ぎりぎりに、ニッパーできりましょう。早めにきってしまうと後から回路を変えるときに大変です。</b>
    </p>
    <p>
    どうしても、５個以上つなぐとき（８個並列＋４個並列）は、５個以上のところの<b>コードを２重にしましょう。</b>つまり、平行線のコードを剥かないで、それぞれつなぎましょう。また、<b>４個×３個のときもまとめた部分から、バッテリーまでの部分はコードを２重にしてつなぎましょう。</b>というのも、コードはだいたい１０Ａ～１５Ａ位までが規格なのでそれ以上の電流を流すとコードが駄目になってしまう恐れがあるからです。
    </p>
    <p>
    バッテリーとの接続部分にはワニ口クリップorブースターケーブル（このとき２重にする必要なし）を付けましょう。
    </p>
    <p>
    <b>また、コードの長さが長くなればなるほど電球が暗くなるのでなるべくコードが短くて良いように、配線をしましょう。</b>また、たるんだ部分はビニールテープで支柱に固定しましょう。だらだらしていたら、引っ掛けて配線が取れてしまう恐れがあります。このとき、絶対にステープルで固定すべきでありません。もし、銅線と触れたらショート回路になりますので。
    </p>
    <hr>
    <h3>豆電球・ぷちトマト</h3>
    <p>
    </p>
    <hr>
    <h3>蛍光管・蛍光球（スパイラル）</h3>
    <p>
    以前芋兄さんが書いた電飾マニュアルを更新しようと思った理由のひとつは蛍光管・蛍光球といった技術を伝えたいと思ったからです。
    </p>
    <p>
    この<b>蛍光管・蛍光球は普通の白熱球に比べてかなり明るいうえに消費電力が少ないので、うまく使えば、他クラスと歴然たる差を叩きだせると言うメリットを持っています。</b>しかしながら、蛍光管・蛍光球は、１００Ｖなので、<b>インバーター</b>を使わなければならず<b>失敗する可能性があります。</b>白熱球はショートしてない限り、バッテリーの充電が無くても、また電球を誤ってつけすぎても少し暗くなるだけでぜんぜんつきますが、蛍光管・蛍光球はつくかつかないかと言う諸刃の矢です。つけばかなりきれいだが、つかなければ真っ暗です。<b>そうなると受賞どころではありません。</b>
    </p>
    <p>
    使うのは２，３年生が良いです。<b>１年生は白熱球を完璧に使えるようにするのがBESTです。</b>白熱球を完璧に使えない電飾など電飾ではありません。学校から支給される電球をいかにうまく使うかが大切です。
    </p>
    <p>
    その上で、白熱球が完璧に使える電飾がはじめてプラスアルファの要素として使うものです。１年生はまず、完璧に白熱球での電球と電球の間隔を会得しましょう。
    </p>
    <p>
    では、白熱球を完璧に使えるという前提でこれから、蛍光管・蛍光球の話をしましょう。
    </p>
    <p>
    まず、<b>蛍光管・蛍光球を使うには１２Ｖ→１００Ｖに変換しなければなりません。</b>このとき用いるのが<b>インバーター</b>というものです。インバーターは大体３０００円前後で３００Ｗのものが良いです。学校から支給されるのは１５０Ｗもしくは３００Ｗのものですが、<b>１５０Ｗはヒューズがシガーソケットについているのでお勧めできません。</b>
    </p>
    <p>
    ヒューズとは電流の逆流を防ぐもので、プラス・マイナスを逆につないでしまうと切れてしまいます。ときどき、つかないインバーターがありますが、そのときはまず、ヒューズが切れていないか確認するべきです。
    </p>
    <p>
    シガーソケットのついてるものはぶった切ってワニ口クリップを付けることをお勧めします。シガーソケットは１３０Ｗ以下のために使われるからです。
    </p>
    <p>
    ただ、シガーソケットにヒューズのついているものはヒューズがなくなったら間違って電流を逆流させたときにインバーターが壊れてしまうのでやめましょう。
    </p>
    <p>
    <b>インバーターは基本的に蛍光管用で、蛍光球はつきません。</b>しかしながら、中のトランジスターなどの理由でつくインバーターもあります。４年前の先輩が買ったインバーターを譲り受けたのですがそれは蛍光球がついたのですが、同じ種類のインバーターを今年新たに買ったのですが、それは蛍光球が２個ずつしかつかず、かなり大変でした。本番１週間前に光らずかなりあせり、何が原因なのかわからず本番２日前くらいにわかり、本番当日の４時に蛍光球の光るインバーターが届きかなりあせりました。そうならないように事前に持っているインバーターが光るかどうか確認するのが大切です。
    </p>
    <p>
    インバーターは大体変換効率が８０～９０％なので、それを考慮しましょう。
    </p>
    <p>
    また、<b>インバーターは１２Ｖ（正確に言うと１１，６Ｖくらい）をきるとつきません。</b>なので、バッテリーはなるべく大きいので満タンに充電されたものを使うべきです。大体満タンに充電した状態で<b>１２，５Ｖ</b>以上ないとすぐに警告音がなります。
    </p>
    <p>
    また、インバーターをつけるバッテリーは<b>一度全部きちんとつくかつかないか実験しましょう。</b>１２，７５Ｖあるバッテリーでも警告音がすぐなるバッテリーもありました。本番にインバーターがひとつつかないと、かなり真っ暗になってしまうので要注意です。
    </p>
    <p>
    僕が実験した結果では、<b>蛍光球５個並列×３個＋４個並列の合計１９個</b>
    </p>
    <p>
    <b> ＜蛍光球１個６０Ｗ（消費電力１３Ｗ）のため１３×１９で２４７Ｗですが、点灯するときに１，１～１，２倍の消費電力がかかるので２０個以上付けると３００Ｗをオーバーしてしまいもしかするとつかないかもしれません。実験はしてないので各自実験してみることをお勧めします。＞</b>
    </p>
    <p>
    <b> で約９０分（でかいバッテリー）つきます。小さいバッテリーではインバーターがつきません。そのときはバッテリー２個を並列にすればいいです（小さいバッテリーだと規格が３００Ｗ以下のため、３００Ｗインバーターを支えられないため）。</b>
    </p>
    <p>
    ここで、<b>一番のポイントは１個のバッテリーで付けることのできる蛍光球の個数です。</b>
    </p>
    <p>
    <b> 白熱球だと１２Ｖ２０Ｗで１２個が限界ですが、蛍光球だと１００Ｖ６０Ｗで１９個付けられます。</b>
    </p>
    <p>
    <b> つまり、明るい上に７個も余分に付けられます。</b>これは、かなりの利点です。さらに、蛍光球は蛍光管と違って電球色もあるため暖色にも使えます。一般に<b>寒色系（白や青など）は白い蛍光球or蛍光管を使い、暖色系（赤やオレンジなど）は電球色の蛍光球を使うのがBESTです。</b>寒色系の色は特に蛍光管や蛍光球を使うことによりめちゃめちゃきれいに光ります。
    </p>
    <p>
    しかしながら、蛍光管は剣など細いところにしか使わないほうが良いです。なぜなら、蛍光管はその部分しか光らないからです。すなわち、剣などに入れる場合、蛍光管はたとえば、長さをｘとすると、光る範囲（仮にＺとする。）が光らない場合を考慮するとＺ＝０、xです。つまり、蛍光管を入れない部分が少しでも出るとそこは真っ暗になってしまいます。
    </p>
    <p>
    なので、蛍光管を入れるときは必ず、その入れる部分内で蛍光管の無いスペースを作らないようにしましょう。しかし、蛍光球は全体を満遍なく光らせることが可能です。よって、剣などを使わない限り蛍光球を使いましょう。蛍光球は普通のソケットでつくのでかなりらくです。蛍光管は安定器の入った台or安定器をはずして配線しなければならずかなりめんどくさいです。
    </p>
    <p>
    しかしながら、蛍光球にも問題点はあります。それは値段がかなり高いことです。おそらく今年がはじめて大々的に蛍光球を使用した年ですが蛍光球２個で５９８円もします。
    </p>
    <p>
    これは会社によっても異なりますが、ビバホーム星置店の蛍光球が一番安いです。１個のインバーターで１９個の蛍光球を使ったら、インバーター含め１万円します。さらに、コードの先端に取り付けるコンセントとタップorスイッチがかかります。
    </p>
    <p>
    しかし、今年の電飾の数名で話し合って全て生徒会に寄付することにしたので来年からは足りない分のみ補充しましょう。できる限り蛍光球を付けることを強くお勧めします。
    </p>
    <p>
    <b>また、普通色塗りではロール紙を使いますが、早く塗れてムラの全くできない奉書紙というものを使うときは必ず蛍光球を使うことをお勧めします。奉書紙で濃い色で白熱球だったらぜんぜん透けません。奉書紙を使うなら、ろう塗りをして必ず蛍光球を使いましょう。</b>全て白熱球なら良いですが、蛍光球と白熱球を使う場合、必ず、奉書紙には蛍光球にしましょう。光に差が出ます。
    </p>
    <p>
    僕は奉書紙よりもロール紙のほうが良いと思います。
    </p>
    <p>
    蛍光球のメリットは光る範囲が広い事です。白熱球の場合前から見る場合と後ろから見る場合を考えて、後ろにもかなりの数の電球を設置しますが、蛍光球の場合光る範囲が広いので前に向けた電球で後ろもかなり明るくなります。ただ、支柱の影ができないように注意すべきです。
    </p>
    <p>
    蛍光管・蛍光球を付けた回路の先端にコンセントをかってきて取り付け、インバーターのコンセントの穴に付けますが、インバーターのコンセントの穴は１，２個しかついてないのでタップを買ってくるのがいいです。
    </p>
    <p>
    <b>蛍光管・蛍光球を使う上で注意しなければならないことは、蛍光管・蛍光球自体がつく瞬間に消費Ｗ数より高いＷ数を消費するので、いっぺんに点灯しすぎるとうまくつきません。なので、スイッチを作るorスイッチつきのタップを買って、それぞれ点灯していくのがBESTです。</b>
    </p>
    <p>
    また、インバーターからピーとなったら、<b>完璧にバッテリーの充電不足orバッテリーそのものが使えないor蛍光管・蛍光球の付けすぎのどれかです。</b>
    </p>
    <p>
    そして、<b>１番この蛍光管・蛍光球を使うときに失敗しやすいのが、出発した後です。</b>注意するべきことの１つ目ですが、<b>インバーターは事前にバッテリーと接続させておきましょう。</b>なぜなら、もし、出発前に付けてなかったら、行灯を担いだ状態でインバーターとバッテリーを接続しなければならないからです。そうなってしまうと、通常より高い位置でインバーターを付けなければならず、特に女子の電飾（背が低いと言うこと）はインバーターとバッテリーをプレス・マイナス逆につないでヒューズが切れてしまう可能性が出てきます。ヒューズが切れてしまうとインバーターは動きません。なので、インバーターとバッテリーは出発前に接続し、インバーターの電源とスイッチの電源を切っておいて、スイッチだけ付ければいい状態にしておきましょう。
    </p>
    <p>
    また、万が一のときに備え、ヒューズの替えは必ず携帯しましょう。
    </p>
    <p>
    ２つ目はコンセントをきちんとまとめてタップに付けておかないと付けたときに付けすぎの可能性が生じる恐れがあること。
    </p>
    <p>
    例えば、①回路が８個並列＋５個並列+３個並列×２個で②回路が８個並列＋７個並列＋４個並列の２つの回路が隣接し、行列時に誤ってタップにコンセントを８個並列×２個＋７個並列+５個並列につなぐと完全に容量を超えてつきません。
    </p>
    <p>
    まあ、まずこんなことはありえないと思うのですが一応気をつけたほうが良いかもしれませんね。
    </p>
    <p>
    最後に気をつけなければならないことが一番重要です。<b>それは、インバーターを使うバッテリーの近くに必ず消しても差しさわりの無い（後ろを光らせる用のバッテリー）バッテリーをおきましょう。消しても差しさわりの無いバッテリーが無いときでも必ず近くにバッテリーをおきましょう。</b>
    </p>
    <p>
    なぜなら、担いでるときにインバーターが警告音を発したらついていられる時間は大体１０分くらいです。なので、警告音が鳴ったときまずすべきことは、バッテリーを変えること。このときあまりに距離の離れたバッテリーをつないだらつくものももつかなくなってしまうので、なるべく近くにつなぎかえれるバッテリーを用意しましょう。
    </p>
    <p>
    最初に述べたとおり、バッテリーの性能が低くてインバーターがつかなくても、白熱球なら、きちんとつきます。バッテリーをつなぎ代えても、警告音が鳴るときはバッテリーを２つ並列につないで付けましょう。それで大体持ち直せます。インバーターが１個つかない＝真っ暗なので、気をつけましょう。
    </p>
    <p>
    しかしながら、蛍光管・蛍光球はかなり明るいので、うまく使えばかなり明るいです。
    </p>
    <p>
    インバーターがつかないとき<br>
    １、ヒューズが切れてないか<br>
    ２、バッテリーの充電が良いか<br>
    ３、ショート回路ではないか<br>
    <big><b>これから電飾では蛍光球をうまく使えたクラスが勝つ。</b></big>
    </p>
    <hr>
    <h3>蛍光管の安定器のはずし方</h3>
    <p>
    蛍光管には両端に２つずつ計４本の金属製の突起が着いています。仮に右の突起を上からab左の突起を上からcdとすると、aとｃとをグロー球（１００均の姉ちゃんに「グロー球くださいな」って言ったらもらえますよ）につなぎ、bとdとを安定器を通してインバーターにつなぎます。これで、蛍光管の台がなくても細い剣などで蛍光灯が使えるのでやりたい人はやってください。
    </p>
    <hr>
    <h3>動力</h3>
    <p>
    今年からバッテリー１２個制限が導入され、現役３年の間ではバッテリーに代わる動力を探しました。乾電池と言うものが浮上しましたが、これはまったく使えません。なぜなら、１００均の電池ではきちんと光らないので、高い電池を買わなければなりません。他クラスの電飾が実験した結果では単１電池８個で白熱球２個ついたそうです。ただ、単１電池８個直列だけだとすぐに暗くなってしまうので、５，６組並列にするのでお金がかなりかかります。そんなお金があるのあら全部蛍光球に回しましょう。<br>
    </p>
    <hr>
    <h3>テスターの使い方</h3>
    <p>
    </p>
    <hr>
    <h3>新たな可能性を求めて</h3>
    <p>
    蛍光灯・蛍光球は先ほど述べましたとおり１００Ｖなので、バッテリーだとインバーターを使って変換しなければならず、うまくいくクラスとうまくいかないクラスとははっきりします。
    </p>
    <p>
    しかしながら、動力を発電機に変えた場合１００Ｖなのでそのような心配がまったくありません。発電機は大体１ＫＷなので、たしかに、バッテリー１２個制限だと全てインバーターを使った場合合計で約３６００Ｗなので、総合的な明るさとしては落ちますが、全部インバーターを使うと言うことは予算的にまず無理なので、大体明るさは変わりません。
    </p>
    <p>
    ただ、発電機にすると電飾で失敗するクラスがなくなります。電飾としては差がつきにくいのは微妙なことですが、電飾で失敗することがどれだけ大変化と言う事くらい電飾ならわかっていると思います。
    </p>
    <p>
    また、やはり発電機になっても大事なのは電球と電球の間隔、勘なので、バッテリーほど差は出ないとはいえ、発電機にしたからといって電飾で差がなくなるわけではありません。発電機は中にガソリンを入れるので途中で暗くなると言ったこともありえません。
    </p>
    <p>
    欠点としてはリアカーで引くため行灯を皆で担ぐ楽しみが無くなるのと、発電機は音がめちゃくちゃうるさいと言うことのみです。なので、１，２年生には発電機導入を生徒会へ直訴して言ってほしいのです。今年とある先生が発電機導入を検討しておられ、僕たちも生徒会へ意見書を提出したのですが、警察の反応がいまいちかつ、白熱球がもったいないと言うことで却下されてしまいました。
    </p>
    <p>
    しかしながら現役３年が蛍光球をかなり使ったため、白熱球の問題は解決されたと思います。来年はぜひ現役で実現したい。してほしいと思います。（そうなった場合このマニュアルの大半は不要ですがそれでもいいので、どうか、北高行灯の電飾の安定化と更なる飛躍を追い求めてください）
    </p>
    <p>
    最後に、僕が３年間電飾を通して実感したことを書いてこのマニュアルの最後を飾りたいと思います。
    </p>
    <p>
    <strong><b>「理論値に頼るな!!何事も実験しろ!!」</b></strong>
    </p>

}
