@howto.common("オフ期間にすべきこと")("甲乙人")("2011/2/27") {

  <h3>はじめに</h3>
  <p>
    オフシーズン(学校祭終了～4月)は、4月からの準備のための準備をする期間です。
    四月になってしまうとやることが多すぎてゆっくり準備していては完璧にはできません。
    なのでオフシーズンでどれだけ準備のための準備をできるかが重要になってきます。
  </p>

  <h3>責任者としての準備</h3>
  <p>
    責任者としての準備という題名ですが、責任者になるつもりではない人でも読んでおいてくれると、責任者は助かります。
  </p>
  <p>
    責任者はスタートダッシュが重要です。責任者になった日から動き始めなければいけないので、そのための準備をしておかなければいけません。(ただ、責任者は一人ではないので自分だけですべて決めてしまってはいけないですから、自分の意見ともう一人の責任者の意見を合わせてやり方を考えていかないといけないことを覚えておいてください。)
  </p>
  <p>
    ここで考えなければいけないことは、責任者になった後どう効率的に準備を進めていくか、どうするのが準備の質を高めるのに最適か、です。
    例えば、責任者になって一番初めにしなければいけないことはチーム作りだと思うのですが、それに関してもチームメンバーは何人がいいのかとか、やる気がある人にするのか実績がある人にするのかなどがあると思います。
    あとは構図を考えるときに、パソコン室で調べながらやるのか、それとも教室で粘土や黒板をを使いながらやるのか、とかもあります。
  </p>
  <p>
    このようにどんなチーム構成にするかや、効果的な話し合い方、責任者になってからの流れなどをイメージしていって、自分なりの意見を考えておいてください。
    大雑把でもいいですし、細かくてもかまいませんが、一つ一つに理由をつけることが重要です。
  </p>
  <p>
    考えたことがすべてうまくいくわけではないので、うまくいかなくてもチームのメンバーの意見を求めたり協力していけば大丈夫です。
    また、「責任者ってこんなこと考えなきゃいけないの。自分には無理だ。」と思う人もいるかもしれませんが、すべてできる必要はなく、できたら他と差をつけられるというだけなので安心してください。
  </p>

  <h3>構図を考える準備</h3>
  <p>
    大賞をとりたいなら必ずやってください。
    オフシーズンにやることはほとんどこれになると思います。
  </p>
  <p>
    構図をがいいものか悪いものかを判断するセンスというものは、いいものを見て、さらにそれを研究すればするほど高くなっていきます。
    また、構図を実際に考えるときにはチームのメンバーにも予備知識あると、それだけスムーズに決めやすくなり、構図の質も高まります。
  </p>
  <p>
    なので過去の行灯大賞やねぶたをたくさん見ましょう。行灯大賞を獲った行灯や、ねぶたは、一般的に良い作品だと思われているものです。せっかくこのような良い見本があるのにそれを参考にしない手はありません。
    そして自分がいいと思う行灯やねぶたについて「この作品はなんでいいのか」を具体的に言語化してみることが大切です。
    例えば、ある部分がいいと感じたとき、「この部分がなんとなくいい」ではなく、「ここの部分の角度がこうなっているのが迫力につながっている」とか、「この色と周りの色の関係において、この色はこういう効果を持っているから、こう感じる」というように、できる限り書き出してみます。
    こうすることによって自分の構図に説得力をもたせることができます。
  </p>
  <p>
    そして時にはあまり良くない作品も見てみて、どうすればもっと良くなるかを考えてみましょう。
  </p>
  <p>
    行灯でもスポーツでも勉強でも何でもそうなのですが、なんでこれはいいのか、なんであの人は上手いのか、なんであの人は頭がいいのかなど、を考える＋言語化することが自分の成長のカギとなると思います。
  </p>

  <dl>
    参考になるサイト
    <dt><a href="../gallery/index.html" target="_blank">行灯職人への道 ギャラリー</a></dt>
    <dd>このサイトのギャラリー</dd>
    <dt><a href="http://photographc.jp/index.html" target="_blank">photographic.jp</a></dt>
    <dd>構図とはあまり関係ないかもしれませんが、ここにあるねぶたの画像はすべてみたほうがいいです。ねぶたがどのように作られていくかが事細かにわかります。大量にあるので見るのはオフシーズンのときのほうがいいと思います。Flashの2009→カレンダーから各ページへ</dd>
    <dt><a href="http://www10.plala.or.jp/HIDEYA910/" target="_blank">戸山団地</a></dt>
    <dd>2003~のねぶたが見られます。特集ねぶた→各ページへ</dd>
    <dt><a href="http://www.nebuta.or.jp/" target="_blank">青森ねぶた</a></dt>
    <dd>歴代の大型ねぶたが見られます。</dd>
  </dl>

  <p>
    あとは常に行灯のことを頭の片隅においておけば、何か行灯に使えそうな風景や柄などに出会ったときに行灯に結び付けることができるようになります。特に奇抜な構図に関してはこれなしではできないと思います。
    自分の場合はこれ以外にチームマネジメントやリーダーシップ、仕事術、時間術、モチベーションなどの本を読んでいるときに行灯の作業に結び付けて考えていました。(このような、針金などの技術に直接関係ないようなものは別に記事にします。)
  </p>

  <h3>ねぶたに行ってみる</h3>
  <p>
    構図を考える準備とかなり重なるのですが、ねぶたに行ってみるといいと思います。
    本物は違います。写真ではわからない迫力がありますし、ねぶた本体以外にも囃子なども参考になります。ねぶたに行く前と行った後では全く構図の見方が変わってきます。
    ぜひ行ってみてください。自分は2008年と2010年のねぶたに行きました。
  </p>

  <h3>実際に何か作ってみる</h3>
  <p>
    練習と実験のために実際に何か作ってみるのもいいと思います。
    自分は2年の夏休みに惑星のようなもの、3年の初めに面を作ってみました。(前者は間接照明として、後者は実験と針金講習会のために作りました。作業前に作ったものを実際の行灯に使用するのは違反なので注意してください。)
    <a class="fresco" href="@routes.Assets.at("img/howto/offseason/offseason_01.jpg")" data-fresco-group="offseason">
      <img src="@routes.Assets.at("img/howto/offseason/offseason_01.jpg")" alt="惑星" width="300px"  height="200px">
    </a>
    <a class="fresco" href="@routes.Assets.at("img/howto/offseason/offseason_02.jpg")" data-fresco-group="offseason">
      <img src="@routes.Assets.at("img/howto/offseason/offseason_02.jpg")" alt="面" width="300px" height="200px">
    </a>
  </p>

  <h3>おわりに</h3>
  <p>
    オフシーズンはなにもしないでいいように思われがちですが、このように個人だけでもできることはかなりあります。
    これらを実行することによって必ず他クラスに差をつけることができるので、ぜひやってみてください。
  </p>
}
