@howto.common("組織を作る")("甲乙人")("2011/4/2") {

  <h3>はじめに</h3>
  <p>
    行灯ではしっかりしたチームを作ることが作業を効率的に進める鍵になります。
    チームにはいろいろな形があると思いますが、ここでは私が考える最も効率のよい組織を書きます。
    ※一年生は全く初めてでここに書いてあることはほとんどできないと思うので無視してください。
  </p>

  <h3>責任者を決める</h3>
  <p>
    まず責任者はどういう人がなるべきかという話です。責任者はやる気があって技術もあれば文句なしなのですが、技術だけあってやる気はないよりは、技術はなくても絶対に大賞を獲ってやるという心意気を持った人のほうがいいと思います。
    絶対に必要なのは、「大賞とりたい気持ちならだれにも負けない。そのためならどんな努力も惜しまない。」という姿勢です。これだけあればとりあえず大丈夫です。
  </p>

  <h3>調査</h3>
  <p>
    クラス発表があった日から行灯チームを作るまでに、前年に行灯で活躍していた人の調査をします。調査対象はちょっとでも行灯をやっていた人で、全くやっていなかった人は調査しなくて大丈夫です。

    調査の方法は、
  </p>
  <ul>
    <li>元のクラスの人に聞く</li>
    <li>本人に聞く</li>
  </ul>
  <p>
    で、内容は、
  </p>
  <ul>
    <li>担当した部分</li>
    <li>(元のクラスの人に)評判など</li>
    <li>活動できる時間帯</li>
  </ul>
  <p>
    です。
    最後に担当した部分を写真などで見て自分で評価します。
  </p>
  <p>
    この調査をもとに組織を作っていきます。
  </p>

  </p>

  <h3>行灯チームを作る</h3>
  <p>
    行灯チームは次の5～7人となります。
  </p>
  <ul>
    <li>行灯責任者2人</li>
    <li>針金リーダー1～2人</li>
    <li>色塗りリーダー1～2人</li>
    <li>電飾リーダー1人</li>
  </ul>
  <p>このチームが中心となって行灯を作ります。</p>
  <p>
    行灯責任者については上述したとおりなので割愛します。
  </p>
  <p>
    リーダーはについては調査結果からクラスで最高の技術を持っていそうな人にお願いしましょう。乗り気じゃなくてもがんばって説得します。勉強しなければいけないなどの理由でどうしようもないときはしょうがないですが(個人的には勉強よりこういう行事を頑張ったほうが勉強になると思いますし、今しかできない時間を削ってしまうのはもったいないと思います。後悔しても勉強はできますが、行事はできません)。
    やったことがある人がいない場合はやりたい人で大丈夫ですが、電飾は物理が得意な人に任せるのが無難かもしれません。
  </p>
  <p>
    また、このチームは卒業後も大切な仲間になってきます。
  </p>

  <h3>各リーダーにつく部下を決める</h3>
  <p>
    電飾以外の各リーダーに2~3人の部下をつけてここでもチームを作ります。

    できるだけ技術力が均等になるように配属したり、例えば針金では全体の大枠が得意なチームと細かい格子を作るのが得意なチームを作って分業してもらうなどの工夫をします。
    個人の強みを生かせるようにチームを作るといいと思います。先を見据えたチーム作りをしましょう。

    また、部活や塾などで抜けることが多い人が集まらないようにすることも大切です。

    電飾は基本的に一人でやるものですが、途中から人が必要になると思うので2～3人それ用の人を針金から決めておきましょう。

  </p>
  <p>
    行灯チームの下に各部門のチームを作る理由は、責任者が常に全体を見るのは無理だからです。
    各リーダーには、責任者の代わりにメンバーに細かい指示を出してもらいます。
    そのためには各リーダーにやってもらいたいことを明確に指示しておかなければいけません。
  </p>
  <p>
    また、このような権限移譲は決して丸投げになってはいけません。
    責任者からリーダーへのきちんとした意思伝達と信頼・リーダーの判断力・なにかあった時にはすぐ責任者がフォローに入れる　ということが必要です。
  </p>

  <h3>おわりに</h3>
  <p>
    どんどん作業期間が短くなっていく行灯では、極限まで効率化させないとよいものを作れません。
    このくらいやっておいてもいいと思います。

    また、ここでは行灯をちょっとでも作れる人が15人以上いることや、かなりの技術を持った人がいることが前提になっていますが、ここまでいい人材がそろうことはそんなにないと思います。ここに書いてあることは理想論として、適宜自分のクラスに合うように変えてください。
  </p>
}
