@howto.common("スケジュールを書く")("甲乙人")("2011/4/4") {

  <h3>はじめに</h3>
  <p>
    何かを期限内に成し遂げるには計画が必ず要ります。<br>
    特に最近の行灯ではスケジュールを考えないでつくると必ず完成しないと思ったほうがよいでしょう。<br>
    それでも完成するならよほど高い効率を保っているか、時間がかからない構図にしているかのどちらかです。<br>
    ここでは、行灯ではどのように計画を書いていくかを見ていきます。
  </p>

  <h3>書き方</h3>
  <p>
    行灯は多くの部品が組み合わさってできていると考えることができます。例えば、面(顔)、武器、動物...などです。<br>
    また、それらの部品に関してはさらに針金、電飾、色塗り、紙貼り...などの部門として分けて考えることができます。<br>
    そして、この部品に関して作る順番や作る人が間違っていると、適切な方法でやれば短時間で済んだことを長い時間をかけてしまったりします。<br>
    <code>
      行灯
        |- 面
        |    |- 針金
        |    |- 色塗り
        |    ...
        |
        |- 頭部
        |    |- 針金
        |    |- 色塗り
        |    ...
        |
        |- 武器
        |    |- 針金
        |    |- 色塗り
        |    ...
        |
        |- 動物
        |    |- 針金
        |    |- 色塗り
        |    ...
        ...
    </code>
    なので部品について考えていくことにします。<br>
    考えなければいけないことは以下の4点です。(難しい言葉で言うと、ネットワーク計画法における)
  </p>
  <ol>
    <li>誰（あるいはどのチーム）が作るか</li>
    <li>先に作ったことによって他に支障が出る部品はあるか</li>
    <li>依存している部品(作るためにはその部分が必要という部品)はあるか</li>
    <li>どれくらいの時間がかかりそうか</li>
  </ol>
  <p>
    1に関して<br>
    その人（チーム）の強みを生かし、最大限の効果が発揮できるようにします。負担を分散させたり、作業できる日を考慮することも重要です。
  <p>
    2に関して<br>
    例えば、高い部分より低い部分の紙貼りを先にしてしまうと高い部分の紙貼りはやりにくくなってしまったり、場所がなく大人数で貼れなくなってしまったりします。<br>
    他には、針金のパーツを周りを作る前に本体につけてしまうとその周りの部分を作りにくくなってしまいます。<br>
    このようなことがないか考えます。
  </p>
  <p>
    3に関して<br>
    当たり前ですが、針金もできていて色も塗っていないと紙を貼ることはできません。<br>
    このようなことがないか考えます。
  </p>
  <p>
    4に関して <br>
    経験がないと難しいです。前年・前々年の記憶や資料をもとに見積もります。構図によってばらつきがあるので一般化は難しいです。先輩に相談してみてもいいと思います。<br>
    どうしてもわからないときは、少し難しいですがフェルミ推定の考え方を使ってみてもいいと思います。（ここで鍛えておけば将来の就職活動で使えます。）詳細<a href="http://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A7%E3%83%AB%E3%83%9F%E6%8E%A8%E5%AE%9A" target="_blank">フェルミ推定 - Wikipedia</a>
  </p>
  <p>
  このようなことが行灯にはたくさんあるので想像力を働かせてできるだけ書き出していってください。<br>
  あとはパズルのように組み合わせるだけです。
  </p>
  <p>
  単位は日数より時間数を重視したほうがいいです。なぜなら、作業期間中は定時性のテストで朝と昼しか作業できない日もあれば、終日作業できる日もあり、一日に作業できる時間がかなり違うからです。これによって焦ったり余裕をもったりという勘違いをなくせます。<br>
  時間数はプリントが配られるはずなのでそこから計算してください。<br>
  <br>
  スケジュールは逆算で書いていきます。例えば、先にゴール（行灯では当日までに完成）を設定しておき、「ゴールするためには何時間前にこれが終わってないといけない、そのためには何時間前にこれが終わってないといけない・・・」とします。<br>
  作業開始日までさかのぼって終わらないようであれば、無駄なことをしていないか考えもっと良い方法を考えるか、どこかの時間を削ります。削った時間はどこかにメモをしておきます。
  </p>
  <p>
    また、終盤には全行の練習などもあるので、全行や学プロの責任者とも話し合いましょう。
  </p>

  <h3>活用法</h3>
  <p>
    一番重要なのはずれを調整することです。これをしないとスケジュールを作った意味があまりありません。スケジュールからずれた原因は何か？どこで修正していくか？を毎日考えます。<br>
    あとは作業途中、仕事がひと段落したときに次何する?という迷いをなくせます（迷いは結構時間を食います）。メンバーに指示を出すときにも有効です。
  </p>

  <h3>おわりに</h3>
  <p>
    スケジュールを書くことによって、行灯を完成させるという長期的な目標を短期的な目標に落とし込むことができ、この時間内でやらなければ終わらないという緊張感と現実味が得られます。<br>
    最近の行灯ではみんなの危機感のなさで少しでも遅れてしまうともう完成しないぐらい時間がないので、スケジューリングは効果的です。
  </p>
}
