@howto.common("SketchUpについて")("甲乙人")("2013/7/1") {
  <h3>はじめに</h3>
  <p>
  構図が完成した後にするのは土台設計です。<br>
  ここではTrimble社が出しているフリーソフトの<a href="http://www.sketchup.com/products/sketchup-make" target="_blank">SketchUp Make</a>を利用して作っていきます。
  </p>

  <h3>土台の役割とよい土台の条件</h3>
  <dl>
    <dt>針金をくくりつける</dt>
    <dd>はじめに入れる針金は支柱にくくりつけます。支柱が多いと楽です。</dd>
    <dt>ソケットをつける</dt>
    <dd>支柱にソケットをつけるので、針金と支柱の間隔が狭すぎて光が拡散しない・光らせたとき支柱が陰になってしまう、とならない支柱にします。支柱が多いと邪魔になります。</dd>
    <dt>足場</dt>
    <dd>何人もの人が一度に支柱に登って作業することも少なくないので、登っても折れないかつ登りやすい支柱にします。また、終盤には針金と支柱の間に潜り込んで作業しなければならないこともあるので多いと邪魔になる。</dd>
    <dt>揺れないようにする</dt>
    <dd>担いだとき行灯が揺れないようにします。補強を多くすれば揺れなくなります。</dd>
  </dl>
  <p>
  このように支柱の数によってメリットとデメリットがあります。
  </p>
  <dl>
    <dt>○支柱の数を多くする</dt>
    <dt>メリット</dt>
    <dd>針金が楽<br>
    頑丈になり、心理的に安心する<br>
    揺れない<br>
    </dd>
    <dt>デメリット</dt>
    <dd>電球と紙の間が狭くなる<br>
    支柱が陰になりやすい<br>
    内部に潜り込めない<br>
    </dd>
    <dt>○支柱の数を少なくする</dt>
    <dt>メリット</dt>
    <dd>内部で作業しやすい<br>
    光にムラができにくい<br>
    </dd>
    <dt>デメリット</dt>
    <dd>登ったら折れる<br>
    少なすぎると空飛ぶソケットが多くなる</dd>
  </dl>

  <h3>誰が作るか</h3>
  <p>
  針金か電飾が作ることになると思います。どちらかが一人である程度作ってそれから相談という形にするのがいいです。
  </p>

  <h3>SketchUp Makeのインストール</h3>
  <p>
    <a href="http://www.sketchup.com/products/sketchup-make" target="_blank">SketchUp Make</a>から。フリーでダウンロード出来ます。<br>
    1. Download<br>
    2. Educational Useを選択<br>
    3. 情報を入力<br>
    4. Download
  </p>

  <h3>土台を作る</h3>
  <p>
  </p>

  <h3>下絵にラフを描く</h3>
  <p>
  </p>

  <h3>ラフをもとに木材を入れる</h3>
  <p>
  </p>

  <h3>調整をする</h3>
  <p>
  </p>

  <h3>補強を入れる</h3>
  <p>
  </p>

  <h3>長さと角度を測る</h3>
  <p>
  </p>

  <h3>カットの組み合わせと発注量を決める</h3>
  <p><a href="@routes.Application.eachHowto("lumber")">カット後の木材の長さから最小発注量を計算</a>
  </p>

  <h3>終わりに</h3>
  <p>
    CGを作っておくと楽になります。特に作業開始最初の二日間のスピードが段違いです。
  </p>
}
