@howto.common("行灯大賞のすすめ 〜天は行灯大賞の上に行灯大賞を作らず・・・〜")("御家人")("2006?") {
  <ul>
  目次。
  <li>『行灯大賞のすすめのすすめ』

  <li>『事前準備のすすめ』

  <li>『責任者のすすめ』

  <li>『構図のすすめ1』

  <li>『題材のすすめ』

  <li>『配色・模様のすすめ』

  <li>『紙貼りのすすめ』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』

  <li>『』
  </ul>
  <h3>『行灯大賞のすすめのすすめ』</h3>
  <p>
  この文章は、御家人が3年間を振り返りながら、「行灯大賞」の素晴らしさを伝えると同時に、行灯職人として必要なスキルを伝承しようという文章です。<br>
  無論、この文章は御家人個人の主観によるもので、また「全ての北高生に支持されたいなぁ。」なんて思いながら書いてるわけでもありません。<br>
  「51st（遊び人など大勢。神々の集合。）と53rd（仕掛人）の文章の後に気が向いたら読んでほしい。」<br>
  だいたい本音はこんな感じです。<br>
  ただ、悲しいことに51stや53rdの文章は書かれてから長い年月を経ていることもあり、多少最近の行灯事情と食い違っている部分もあります。<br>
  例えば、昔（俺が1年の頃、要は夏休み後に学祭があった頃と言ってよいだろう。）は、<br>
  持ち帰り作業が公認に近い形で黙認されていて、（文章からすると時間外作業は厳禁だったらしい）<br>
  特に顔に関しては「誰かが持ち帰って徹夜して作るものです」というナベ氏（いい人）の言葉までこのサイトには残されている。<br>
  が、こういったことが御家人2年の夏、非常に問題視されるようになって、<br>
  当時管理人をしていた先代の仕掛人は、このような持ち帰り作業を助長するような文章に取り消し線を引いていったのです。（だったはず。）<br>
  ・・・という例でもわかるように、今と昔では色々違う点があるのです。これはほんの一例ね。<br>
  他にもテントが新しくなった（俺が入学する前の話）とか、本質と関わりの無い事から、本質と深く関わる様な事まで、色々変わってるのです。<br>
  そういうわけで、若い御家人がひとつ文章でも書いてみっか、と思って立ち上がったわけです。<br>
  <br>
  一応、言っとくけど俺自身は持ち帰り作業についてはいいとも悪いとも言ってませんので。誤解無きよう。
  </p>
  <p>
    [余談]<br>
  『行灯大賞のすすめ』。もうちょっといいタイトルは無かったんかねぇ。<br>
  さすがにちょっと響き薄いよね。<br>
  副題は気に入ってるんだが。<br>
  ちなみに最初は「すすめ」が「ススメ」だったけどずっと見てると「スズメ」に見えてきたからやめた。<br>
  ひらがなでも同じか。<br>
  仕掛人が取り消し線を引いていった話したけど、上にあるナベ氏の言葉はしっかり残ってた（笑）<br>
  探してみ。<br>
  あと、51stの文章でテントについて書いてあるが、あれは古いテントだから、あれ読んで色々考え込まないように。昔は大変だったらしい。<br>
  それじゃ、ちょくちょくまじめな話入ってくよ。
  </p>
  <h3>『事前準備のすすめ』</h3>
  <p>
  行灯が始まる前にしなければいけないこと。<br>
  簡単に言ってしまえば、設計。<br>
  設計図を描く。土台と、全体と。あと、色塗りの原案もある程度。そんなとこかな。細かいこと言えば、これやと電飾がほとんど準備されてないのか、とかいうことになるが、ここではこの話は軽く済ます。<br>
  <br>
  個人的に、今ふと思ってん。<br>
  行灯の知識って、事前に必要な知識と、作業中に急に必要になる知識（機転に近いものも含めて）の2つに分けられるんじゃないかな、と。というか、そう分けてみた。俺のやり方で。<br>
  事前に必要な知識を徹底的に積んでおいても、作業して初めて気付くことがいっぱいあって、作業してみないと理解できないこともいっぱいあって、そういう時に必要になるのが後者の知識、と考える。<br>
  例えば蛍光灯に関する知識。コレって、構図にも関わることやから（構図の時点で蛍光灯の有無は決まるはずやし）、事前の知識に間違いなく分類されるわけです。逆に、針金で形作る作業とかは、大概後者に分類される、と考えてみる。行灯講習会で教えたりするけど。あれは、ほんまの基礎中の基礎ってことで。<br>
  <br>
  で、今思ったっていうのは、蛍光灯の質問って、掲示板上で行灯作業中に聞かれたりとかしてなかったかな、と。うろ覚えやけど。<br>
  この作業始まる以前に整理しておける知識を、作業期間中に掲示板で聞く。この掲示板ですぐ返事が返ってくるとも限らないし、作業中やから、忙しい。特に1年生なんかやと、ほんまに最後の最後になって、こういう事態に陥ったり、なんてこともあるんちゃうん？　と思う。（たまに、「この時期にそんなん聞いてて大丈夫かオイ！」っていう質問もあったり・・。）<br>
  こんなことを思いながら、「事前に準備しておくべき知識」って、全部でいくつあるかも1年生なんかは知られへんってこと気付いて、コレ、大事なことなんちゃうん？　って思って。作業始まるまでにやるべきことは、それなりに誰かが教えてくれるし（言葉にするのが楽やからね、コレは）、ここのサイトにも書いてある（はず）。でも、知識はもっと必要で、こっちも大事やんって気付いて。<br>
  せやから、期間中に、「蛍光灯難民」とかが出ちゃうねんって。少し強引なこと言ってる気もするけど、きっとある程度は正しい。<br>
  テストとかあって大変やとは思うけど、この事前に必要な知識を把握するっていうのが、第一歩なのかな、なんて。<br>
  <br>
  <b>行灯について一定以上を知った状態で、作業に入るべし。作業中は作業中で、知らねばならないことがあって忙しいのだから。</b><br>
  <br>
  まず、構図。全体の構図を書くので、<b>構図の知識</b>が必要。<br>
  どっからどこまでの知識とか、そういうことまで考えないといけないのかも知れないが、今は飛ばす。<br>
  書くためには、書けるだけの知識があればいい。書けるだけの知識ってどれくらい？　ってのは、構図に関して書いてある文章を自分で読んで判断していけばいいと思う。<br>
  <br>
  次に、初日の作業を円滑に進めるということを考えて、<b>土台支柱の知識。色塗りの知識。</b><br>
  色塗りを初日から始めるためには、<b>配色の知識・模様の知識</b>が必要。<br>
  <br>
  他に、事前に仕入れておける知識は仕入れておく。<br>
  針金に関しては、実際、触って曲げてみないとわからない部分ってあると俺は思う。せやから、初めて触ったその日に、改めてこのサイトの文章を読むなり、ギャラリーを見るなりするのが1番いいんちゃうんかなぁって。<br>
  基礎の基礎、だけ知っておけばね。基礎の基礎って何って話は後回しにして。<br>
  <b>電飾の知識</b>、コレは事前に。バッテリー集めなんかは、作業開始前でもできるし（後でも別に困らないとは思うが）、例えば回線についてとかなら、別に行灯の土台見てれば理解が進むってわけでも無いから、作業前に理解しておくべきやと思う。<br>
  1年生の場合、誰に担当させるのか、それが決まらないとは思うけど、決めれたら決めた方がいいんちゃうんかなぁと。1年生でそこまで手際よく分担してたクラスがかつてあったかどうかは知らないが。<br>
  構図の時点で蛍光灯を使うことが決まったクラスは<b>蛍光灯の知識</b>。事前にわからないことは整理しておく。聞いておく。これは主に2年生の話。<br>
  紙貼りに関しては、針金が出来上がっていくのを見てからでいいかな、と。要はボンドで切った紙を貼るということさえ押さえておけば。（塗った紙を切る→細かい模様は大変、というようなことを考えられるかという部分が大事なんちゃうんかな、と。）
  </p>
  <p>
  ざっと書いたけど、初めて見る1年生には意味わからへんかも知れんけど、こんだけの知識が、テスト終了までに必要やねん。<br>
  まとめておくと、<br>
  <br>
  ▽<b>構図の知識</b><br>
  ▽<b>土台支柱の知識</b><br>
  ▽<b>色塗りの知識</b><br>
  ▽<b>配色・模様の知識</b><br>
  ▽<b>電飾の知識</b><br>
  ▽（<b>蛍光灯の知識</b>）<br>
  <br>
  あとは、これに加え、針金の基礎中の基礎って書いた、「針金が、どないして行灯になるん？」ってこと、針金をどうやって何に使うのってことがわかれば、一通りの知識が揃ったと言えるでしょう。<br>
  もうちょっとありそうな気もするので、思いついたり指摘あったら書き足すかと。<br>
  言葉なので、何をどう言葉にするかっていうのも微妙やからなぁ。
  </p>
  <p>
    [余談]<br>
  この項は、ほんまに思いつきで加えて、思いつきで書いた。<br>
  せやから、書き出しで2年生以降にしか伝わらなさそうなこと書いておいて、結局内容は1年生に向けて、といういつも以上に手作り感漂う文章に。<br>
  でも実際、何も知らないで作業が始まってしまうクラスってあると思う。何がいけないって、何を知っておけばいいのかもわからんという状況。このサイトの他の文章全部読んで理解する馬力あれば問題は無いけど、そんなん期待するのがおかしくて、必要なものはなんだってことを考えながら書いた。<br>
  別に、ここに書いたことをクラスの全員が知っておく必要は無くて、例えば、責任者にこの木この線で切っておいてーと言われてそれを切るのが仕事な人にとって、土台支柱の知識なんて、いらない。<br>
  責任者が全部知ってればそれは心強いけど、別に、そうである必要も無い。<br>
  俺だって、電飾とか、もうさっぱり。そういう時に分担って言葉があって。<br>
  言いたいのは、「誰も知らない」とか「きっと誰か知っている」とか、それはあかんってこと。<br>
  <br>
  知っているはずって思った人達が、頼りにならないとわかった時、物凄く手遅れって感じになる、よ。（できれば、思い出したくは無い感覚）
  </p>
  <h3>『責任者のすすめ』</h3>
  <p>
  </p>
  <h3>『構図のすすめ1』</h3>
  <p>
  ここではかなり基本的なことを中心に書いてみる。<br>
  責任者の話の続きじゃないけど、責任者たるもの、行灯の規格くらい暗記してなければいけない。てか、覚えちゃうから、そのうち。<br>
  俺、まだ覚えてるよ。<br>
  ちなみにおれが1年の時は高さが2.7mまでだったけど、次の年からさりげなく小さくなってた。で、いきなり本題入るが、<br>
  「行灯は意外と奥行きが無い。」<br>
  まずこれは認識しておいて。<br>
  あと、行灯の向きは気を付けなきゃいけない。<br>
  たまに2年3年でもミスするから。（確認してないけど、多分してるでしょ。細かいのも含めれば）<br>
  行灯は沿道のみなさま（と審査員）に見てもらうわけで、その際、行灯が左側通行ということに思い至れば大丈夫だと思う。<br>
  要は「正面から見た時、左向き。」<br>
  「何が左向き？」と聞かれると多少困るのだが、俺は「勢いの向き」と答えることにしている。<br>
  この勢いの観点から、<br>
  「人を右側、動物を左側。」（これも正面から見て）<br>
  に配置するのがセオリーだと言える。<br>
  人のほうが、体積が大きい、表情が豊か等の理由で勢いを表現しやすい。<br>
  あくまでもこれは一般論で、最近はかなり例外が増えてきてるが、オールドセオリーにも意味はあるから理解しといて。細かい話は後で。<br>
  勢いを表現しやすい人間を右側におくことで、勢いの向きが左向きになる。・・・わかりづらいかなぁ。<br>
  そしてこの勢いの流れを表現する上で大きな助けとなるのが、衣と髪。<br>
  「衣はなびかせとけ。髪は流しとけ。」<br>
  衣と髪がすとーんとストレートになってるのと、流れがあるのとでは大違い。面積体積の点からも大違いなんだが。
  </p>
  <p>
  これは時たま1年だけがやらかすのだが<br>
  「バッテリーは隠せ。」<br>
  バッテリーを隠すということは、底面積を広くしなければいけないということ。<br>
  これは、行灯の安定性（cf.「揺れる行灯は萎える」by仕掛人）にもかかわる。<br>
  底面積に関連してもう1つ。<br>
  「横（4.5）×高さ（2.5）は埋めろ。」<br>
  これ、何面積って言うんだろ。うまい言葉が見つからん。<br>
  体積がみちみちになるのが好ましいが、1年のうちはとりあえず、見える部分の面積を増やせってこと。当然と言えば当然だけど。<br>
  そして2、3年は<br>
  「空間を埋めろ。」<br>
  言うまでも無い。
  </p>
  <p>
  行灯の花形は顔。（ちなみに俺は1度も顔を作ったことが無い。逆に珍しい。）<br>
  「顔は隠さず、ちょっと下向き。」<br>
  たまに武器や腕で隠れたりするんよね。意外と。気をつけて。<br>
  あと、顔があらぬ方向いてることがあるんだが、ちょっと下向きでいい。<br>
  担ぐと意外と顔は相当高い位置にくるからね。真っ直ぐ前向いてると違和感すらある。<br>
  行灯は揺れるとかなりポイントが下がるのだが、顔も揺れやすい。<br>
  後から慌てて接合したりするからねぇ。<br>
  「顔は前に突き出す。」<br>
  どれくらい突き出すのがいいかは場合によりけりだが、顔をただ肩の上にのっけるのはイタダケナイ。<br>
  前屈み（悪く言えば猫背）な方が都合がいい。<br>
  空間も埋まるし、勢いもある。<br>
  極論を言ってしまえば、肩の上じゃなくて胸の前に顔がくる、くらいのイメージでいい。かなり極論だけど。<br>
  首という概念の無い（無いと言い切っちゃっていいのかは微妙やけど・・。）行灯では、ちょっとこういう部分は普通の人間とは訳が違う。
  </p>
  <p>
  配色と題材の話はあとでまとめるとして、だいたいの話はしたはず。<br>
  最後に断っておきたいのは、今ここで書いてることはあくまでも基本。
  「例外はある。」<br>
  ってこと。<br>
  例えば、勢いの話をしたが、<a href="../images/46th/3/3/46th3-3_02.jpg">関羽（46th銅賞）</a>なんかは、「勢いを表現していない行灯」に類すると俺は思う。（多少異論がありそう）<br>
  こういう関羽のように勢い（動）じゃなくて、迫力（静）で人をひきつけてる名作も確かにある。少ないけど。<br>
  大概の名作は、何か動作の途中の図なんよね。<br>
  <a href="../images/56th/3/4/56th3-4_01.jpg">洛水の女神（56th大賞。自分で作っといて名作って言うか、普通。）</a>なら、男が手を伸ばしてるトコだったり。<br>
  こういう動作の途中を表す図の方が、勢いを表現することができるから、個人的には（いい意味で）楽な構図やと思う。<br>
  関羽のような「座ってるだけ」のような行灯って、ホント難しいと思う。
  </p>
  <p>
  まとめると、<br>
  ▽「行灯は意外と奥行きが無い。」<br>
  ▽「正面から見た時、勢いの向きが左向き。」<br>
  ▽「人を右側、動物を左側。」<br>
  ▽「衣はなびかせとけ。髪は流しとけ。」<br>
  ▽「バッテリーは隠せ。」<br>
  ▽「横（4.5）×高さ（2.5）は埋めろ。」<br>
  ▽「空間を埋めろ。」<br>
  ▽「顔は隠さず、ちょっと下向き。」<br>
  ▽「顔は前に突き出す。」<br>
  ▽「例外はある。」<br>
  最後に、仕掛人の言葉を借りるなら、<br>
  ▽「揺れる行灯は萎える。」（これ、好きな言葉）
  </p>
  <p>
    [余談]<br>
  構図の話、と一口に言っても色々多岐にわたって書かなきゃいけないことがあって、正直、いくつか書き漏らしてることはあるはず（汗）<br>
  「かなり基本的なこと」と断った割には結構なこと書いたか。<br>
  しかしさすがに3年（2年間行灯してなかった人は別として。）はこの章は読んでも何も得るもの無いはずなんだが。<br>
  あったらちょっとまずいって。多分。<br>
  大賞欲しいなら焦っとき。<br>
  しかし、行灯講習会の時も同じような話をして、伝えるのにかなり苦労したんやけど、いくらか改善されとるんかなぁ。<br>
  改善されてると信じたい。<br>
  行灯講習会、めちゃくちゃ緊張した思い出が。<br>
  初日とか何口走ったかわからずに言葉つないでたし。<br>
  行灯講習会は大変だけどなかなか面白くて良かった。うん。みんなもやればえーやん。
  </p>
  <h3>『題材のすすめ』</h3>
  <p>
  これは、行灯講習会の時に一生懸命ギャラリー見ながら頭ひねってた記憶がある（笑）<br>
  さくっと、動物題材ごとにメリット・デメリットを書いてく形にします。<br>
  ここではあまり御家人個人の考えはあまり書かないことにして、みんなに色々考えてもらおうかな、と思って。<br>
  ＊書いた後から思ったこと<br>
  メモ書きっぽくなってしまった。<br>
  全部の題材を完璧に網羅しているわけではないという点、くれぐれもお忘れなく。<br>
  行灯ギャラリーを見る指標にしてもらえれば。<br>
  ＊作品が有名なもの、わかりやすいものに関しては作品名、それ以外は年と賞などを記載した。
  </p>
  <p>
    [龍]<br>
  メリット：空間を埋めやすい。顔は迫力を出しやすい。やっぱかっこいい。<br>
  デメリット：紙貼りが大変（うろこ）。配色が単調になりかねない（工夫次第でカバー可）。<br>
  代表作：なたく（51th行灯大賞）<br>
  近年では：56th2年金賞、張飛（55th金賞）<br>
  その他：55th銀賞（配色がユニーク）<br>
    [虎]<br>
  メリット：迫力はかなりある。<br>
  デメリット：顔が難しい（猫と紙一重）。配色が単調（黄色をうまく作って墨入れを上手くやれば問題は無いはず）。<br>
  代表作：天傷星武松（50th銀賞。虎がイイ）<br>
  近年では：遼来来（56th2年銅賞）、55th銅賞（虎が精巧すぎる。）<br>
  その他：52nd銅賞（構図）、56th2年銀賞（配色で革命）<br>
    [鬼]<br>
  メリット：人っぽい（製作が多少楽。迫力を出しやすい。武器を持たせたり・・などが可）。<br>
  デメリット：配色が単調（服の面積と肌の兼ね合い）。行灯全体が単調にもなりかねない。<br>
  代表作：降魔（54th行灯大賞。どれを代表作とすべきか悩んだが、1年の時見た衝撃がまだ残るこの作品とした。）<br>
  近年では：瓢箪送り（56th銀賞。細部の色塗りと瓢箪！）、修羅（55th審査員特別賞）<br>
  その他：閻魔大王（48th銅賞。規格は違うが迫力が凄い）、52nd銅賞（構図、足。既出）、戻橋（51th仕事人クラス。構図が秀逸）。<br>
  一言：意外と鬼って長く題材として使われている割に未開拓な部分が多い気がする。<br>
    [馬]<br>
  メリット：針金は割と楽。<br>
  デメリット：配色が単調。構図がかなり絞られてしまう。<br>
  代表作：50th2年金賞、43rd金賞（古くて画像が悪いが独特な構図）<br>
  近年では：川中島（56th3-5）<br>
  その他：<br>
  一言：意外とあまり作られてない。ねぶたの方が参考になるかも。<br>
    [蛇]<br>
  メリット：空間を埋めやすい。配色が自由。<br>
  デメリット：迫力を出しづらい（龍と似ていて違う点）。紙貼りが大変。<br>
  代表作：シャクシャイン（49th行灯大賞。燦々と輝く最高傑作。）<br>
  近年では：56th銅賞（蛇の模様）、55th銅賞（構図、尻尾。既出）<br>
  その他：関羽の年の大賞（46th大賞「双頭毒大蛇」。関羽の影に隠れがちだが実は1番好きな行灯。正面図しか見たこと無いけど。色がたまらん。）<br>
    [鳥]<br>
  メリット：羽がアピールポイント（配色、電飾共に）。<br>
  デメリット：羽の電飾。迫力を出すのが難しい。<br>
  代表作：50th大賞（光った鳥が凄かったらしい。夜のきれいな画像が無いのでわからんが。）<br>
  近年では：55th銀賞（龍＋鳥、電飾。既出。）、54th金賞<br>
  その他：<br>
  一言：鳥は広げた羽が最大の特徴であるのは言うまでも無いが、昔、羽を閉じた鳥を作ろうと思った事があった。多分、前例無いよね。<br>
    [蜘蛛]<br>
  メリット：奇抜系の大御所。インパクト大。<br>
  デメリット：迫力を出しづらい（表情が無い）。色塗りに工夫が必要。<br>
  代表作：鬼蜘蛛（51st金賞）<br>
  近年では：土蜘蛛死ス（55th大賞。蜘蛛の色が最強。）<br>
  その他：54th銅賞（蜘蛛＋蜘蛛の巣＋植物）<br>
  一言：個人的には蜘蛛は苦労が多くて不利な題材と思っているが、同時に魅力的な題材であることも否めない。<br>
    [魚介類]<br>
  メリット：水が映える。インパクト大（魚よりも蛸の方がインパクト大だが）。<br>
  デメリット：迫力を出しづらい。魚介類と言っても色々あるので後はなんとも・・。<br>
  代表作：大蛸退治（53rd大賞。蛸の色が絶妙。）<br>
  近年では：54th2年金賞（鯉が最強）<br>
  その他：53rd金賞（鯛と水）<br>
    [象]<br>
  メリット：体積大。鼻の曲線美。<br>
  デメリット：迫力（かっこよさ）は微妙？<br>
  代表作：南蛮王孟獲（54th2-4。象の色塗りがユニーク。）<br>
  近年では：55th2-6（配色）<br>
  その他：<br>
  一言：発祥はねぶた。割といい題材な気がするんだが数は少ない。<br>
    [狐]<br>
  メリット：配色と尻尾。<br>
  デメリット：迫力が出しづらい。顔が難しい。<br>
  代表作：妖孤九尾（55th2年金賞。配色。）<br>
  近年では：55th3-8（尻尾、構図。）、55th1-7（配色）<br>
  その他：<br>
    [女]<br>
  メリット：インパクト大。曲線美がより際立つ。<br>
  デメリット：顔が難。迫力は無い。<br>
  代表作：洛水の女神（56th大賞。配色、女神の顔。）<br>
  近年では：55th3-5<br>
  その他：
  </p>
  <p>
    [余談]<br>
  題材ごとにメリットデメリットを整理したが、結局大事なのは<br>
  「自分が何を作りたいか」<br>
  責任者（又は構図作成者）のエゴが許される部分やし、ある意味。<br>
  俺が温めたまま使わなかった案は、思いつく限りやと・・<br>
  ・白虎＋寒色系の鎧。凄く光りそうな組み合わせ。（白虎は名作が生まれて、本望）<br>
  ・虎＋狼＋人＋門!（ねぶたで見たことがある）。中華な感じ。<br>
  ・人+羽閉じた鳥。紫系の色。クチバし突き出して襲いかかりそうな感じ。<br>
  <br>
  こういうのは考えると面白いけど、割とメモとか取らないタイプの人間やったから、印象的なのしか残っていない。<br>
  羽閉じた鳥って、今でも全然見たことないから、作ってみても面白いって思うねんけど、どう？<br>
  鳥はあの広げた羽で色塗りポイント稼ぎにいくのが普通なのに（面積あるから）、それをあえて閉じる。こういうズレた発想が好き。<br>
  <br>
  デメリットで迫力についていくつか書いたけど、目が小さいと迫力が無いっていう印象に繋がってる？　とか思った。思いつきなので聞き流してオッケー。
  </p>
  <h3>『配色・模様のすすめ』</h3>
  <p>
  まずは大雑把な話から。<br>
  暖色と寒色の効果の話から。<br>
  暖色は勢いと迫力を強調して、寒色はキュッと締める役割。<br>
  大雑把過ぎ？<br>
  俺は寒色の方が好きなんだが、そこらへんは置いといて、一般論から言うと<br>
  偏りすぎは良くないと言われている。特に暖色。<br>
  かの名作『ナタク』も暖色系の色を使い過ぎて、色が同化するというミスを犯したりしている。<br>
  光らせた時、色が同化する現象（略してIDG）は、暖色の方が起こりやすい。<br>
  逆に言うと、暖色を多用したい時は、この点をかなり気をつけなければいけない。<br>
  個人的には、こういうリスクを伴ってまで多用する必要は無いと思ってる。（寒色が好きな理由の1つ）<br>
  しかし、配色から題材を決めることよりも、題材等を決めた後、ある程度の制約の中で配色を考えなければいけないことが多いというのも事実。<br>
  暖色の似たような色の組み合わせを使わざるえないこともあるかもしれない。極力避けるけど、普通。<br>
  そんな時、どうすべきなのか。
  </p>
  <p>
  細かい模様の場合は、<br>
  蝋。ロウ。ろう。<br>
  これにより、色が浮かび上がる。（ちょっと感覚的な表現。伝われ。）<br>
  ちなみに、ろう塗りには<br>
  ・ろうを塗ってから、色を塗る<br>
  ・色を塗ってから、ろうを塗る<br>
  という2つの方法があるが、この2つの違いについては、各自で理解してほしい。（だって、俺わからんもん。）<br>
  ろうを塗るとどういうことが起こるのかということをもう少し詳しく説明してみる。<br>
  まず、光がよく透ける。<br>
  また、模様と模様の間にスペースが生じる。<br>
  この2つの働きにより、IDGが防がれている。<br>
  また、上の働きはIDG対策以外にも使い方がある。<br>
  1番わかりやすい例は『土蜘蛛死ス』の裏の絵。これは一目瞭然。<br>
  ろうで蜘蛛の巣を描いている。<br>
  着物の模様としてもろうが使われている。<br>
  女の絵の周りの蔦も細かくろうが施されている。<br>
  この場合、蔦のろうはIDG対策。（多少はデザイン的見地もあるとは思うが。）<br>
  1、2年や理系クラスでここまで塗れれば相当というか、むしろ凄すぎ。
  </p>
  <p>
  ろうについて、もう一例。<br>
  今度は『洛水の女神』の裏。<br>
  これも絵に細かくろうが施されている。上下の模様もやけど。<br>
  裏の絵は、細部までこだわった精巧な絵となることが多いが、<br>
  その時、細かい部分までしっかり伝えるには、ろうがベスト、ということだ。<br>
  しかし、この裏の絵では、多少「もったいないろうの使い方」をしている。<br>
  ろうの部分が目立って光っていることは間違いないが、<br>
  しかし『土蜘蛛死ス』のそれと比べると、少し光り方が足りないのがわかるはず。<br>
  『洛水の女神』の場合、ろうを、白（または白に限りなく近い色）の隣で使ってしまっていて、<br>
  もともと白紙はよく光を通すため、余り落差があらわれていない。これはちょっともったいない。<br>
  また、多少光量も劣っている。（『土蜘蛛死ス』が明るすぎる。）<br>
  ろうは、濃い色と組み合わせて使ったほうがより効果的である。
  （しかし『洛水の女神』は淡い色をテーマにしてるから、これこそ「構図上の制約」というやつなのだが。淡い色とろうを組み合わせることを否定しているわけではないという点をくれぐれも。）<br>
  </p>
  <p>
  模様の話が長くなっとるけど、もう少し模様の話。<br>
  最初の方で、暖色だとIDGが起こりやすいという話をしたが、<br>
  実はこれは、模様についても言えるが、むしろもっと大きい視点で見た時のことを正確にあらわしている言葉。<br>
  わかりづらいと思うから、もうちょっと簡潔に言うと、<br>
  模様の場合、もうちょっと気を付けてほしいことがあるねん。<br>
  結論から言うと、<br>
  「強い色の中に同系色の弱い色の模様を入れるときは要注意」<br>
  強い色というのは、原色に近い色。（彩度が高い、とか言うんやっけ？）<br>
  弱い色というのは、淡い色。<br>
  この組み合わせは、同化、というよりも、吸収、という感じか。<br>
  淡い色の模様はアクセントとして非常に有効であるが、細心の注意が必要。<br>
  逆に、弱い色の中に、強い色の模様の場合は、多少の注意でよい。<br>
  絶対に同化しないというわけではないが、大概大丈夫。（光量、色の組み合わせ次第としか言いようがない。）
  </p>
  <p>
  次に模様よりも大きい視点で見て、全体的な配色の話に戻るよ。<br>
  暖色と暖色を隣同士で使わなければいけない。<br>
  そういったような時に使われる手法は「墨入れ」<br>
  この墨入れというのはIDG対策のためだけに使われるものではないが、<br>
  墨入れの効果として、色と色を区切る、という働きがある。<br>
  この墨入れをせずに、似たような色を近くに配置すると、どこが境目かわからず、<br>
  更にはその行灯がどういう形をしているのかがわかりづらくなるということまでありうる。<br>
  この場合の例として有名なのは『ナタク』だが、（たびたびすいません。ナタクが名作であることに違いはありません。）<br>
  この『ナタク』の場合は、ちゃんと墨入れがされている。（「行灯大賞奪取の秘訣」では、「最強」とのこと。）<br>
  墨入れがされてない図を想像してみれば、逆に墨入れの重要性がわかるはず。<br>
  武器は構造上、墨を入れて腕の色と区切ることができないから、腕と完全に同化してしまっているのもわかると思う。<br>
  ちなみに、ナタクの場合は、そもそも針金が素晴らしく、<br>
  この暖色中心の配色だからこそ、針金が表現している迫力が生きている、という見方もあると思う。<br>
  ここまで迫力があると、多少の違和感くらいはフォローしてしまう、ということだ。話逸れたけど。<br>
  </p>
  <p>
  色に関する話を少し。<br>
  俺は、原色をそのまま使うのは嫌い。というか良くないと思ってる。<br>
  「行灯の作り方」のめやさんの言葉によると「おもちゃみたいな行灯になってしまう」とのこと。（この言葉は割と現役時に借りて使った記憶が。）<br>
  深みや渋みを出そう、ということやねんな。（これも引用気味）<br>
  この「深みや渋みを出すことのメリット」を言葉で表現するのは難しい。<br>
  どんな色にするか、という部分はどうしても個人の感性に頼らざるを得ない部分もある。<br>
  こういう部分こそ責任者がリーダーシップ取るべきやと俺は思うけどね。<br>
  色は一色一色が大事な上に、その組み合わせも大事。<br>
  針金とかと比べ、かなり繊細な作業やと思うよ。俺は。<br>
  話が逸れた。<br>
  配色を決めるうえで、大事なことに<br>
  「色を偏らせない」<br>
  があるといったが、逆に<br>
  「統一性の無い配色」もタブー。<br>
  ただなんとなくこっちにこの色、なんとなくグラデーション・・・。<br>
  これは俺、大嫌いなんよね。<br>
  単色塗りがほとんどでも割と綺麗光る行灯もあるし、技術駆使してもダメな行灯もあるし。<br>
  配色にはテーマも必要なわけ。<br>
  『洛水の女神』は淡色をテーマにして、「水色」と「ピンク」の組み合わせで配色的に大成功やった。<br>
  ちなみに、この「水色とピンク」という組み合わせは実は過去に46th大賞の例がある。<br>
  いわゆる名作と言われる行灯には「メインになる色、組み合わせ」、「アクセントになる色」等がある。<br>
  行灯ギャラリーでこういったことを考えながら、いつもと違う視点で眺めるだけで、だいぶインスピレーション来ると思う。<br>
  俺は2年の時はそうやって何時間もぐるぐるギャラリーを眺めてた。<br>
  模様を考える時も、だいたい同じ感じ。<br>
  ただ、模様を考える時は、ちょっと趣向で素材屋の素材見たりもした。<br>
  綺麗な模様とか、いっぱいあるし、参考になる色の使い方しとるよ。<br>
  気分転換も兼ねて、頭抱えそうになった時は、そんな配色の決め方もええと思う。<br>
  最後に、大事なことをオマケ的にあっさりと言うよ。（書くタイミングが無かった。）<br>
  「電球は黄色、蛍光灯は白」<br>
  光らせると、色は全然違う色になる。<br>
  完全に予測はできなくても、多少はできなきゃねぇ。
  </p>
  <p>
  まとまりの無い話になったのでまとめると、<br>
  ▽暖色は勢いと迫力、寒色はキュッ。<br>
  ▽淡色の模様は要注意。しかし効果的。<br>
  ▽模様のIDGには、ろう！<br>
  ▽色と色のIDGには、墨入れ！<br>
  ▽ろうは濃い色と組み合わせると効果的。<br>
  ▽ろうを使った細かい絵は高難易度。<br>
  ▽『ナタク』の墨入れは最強。（ちなみに、墨入れがほとんど施されていない名作の代表は『関羽』）<br>
  ▽原色ばかりの行灯はおもちゃっぽくなる。<br>
  ▽色は深みや渋みが大事。<br>
  ▽色を偏らせない。<br>
  ▽配色に統一性とテーマを。<br>
  ▽配色を考える時は、インスピレーション大事。<br>
  ▽光らせた後の事も（を？）考える。
  </p>
  <p>
    [余談]<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </p>
  <h3>『紙貼りのすすめ』</h3>
  <p>
  3年次までほとんど紙貼りに携わらなかった俺。<br>
  むしろ、3年次、土台支柱が初日に完成した時は<br>
  「最終日とか、俺、紙貼り役立たずやし、後輩のテント行って遊んでくる（≒指導）よ。ほら、俺、行灯講習会の講師やん（笑。肩書き悪用）」<br>
  とか、ほざいてました。<br>
  実際には残念なことに、最後の2日間程、鬼の形相で紙を貼り続ける俺がいました。（針金も少し、実務・指示してたから、正に鬼の形相だったはず）<br>
  おかげで、今こうして紙貼りについて文章書ける俺がいるわけで。<br>
  まずは貼った事の無い人間でも言えそうな基本的なことから。
  </p>
  <p>
  紙貼りのコツは<br>
  「いかに効率良く貼るか」<br>
  これに尽きる。<br>
  大人数で最後の数日でわーっとまとめて貼るという性格上、時間だけでなく、スペース・人員の効率も大事。<br>
  効率を考える上で取られる手法が以下の2つ<br>
  ・高い所、貼りづらい所から貼る<br>
  ・パーツは場合によっては、貼ってから本体に接合<br>
  前者の理由は、貼りやすい所から貼っていった結果、貼りづらい所が貼ってある紙のせいでより貼りづらくなる可能性が高いから。<br>
  紙を貼ってもはがさにゃならんとなっては困る。<br>
  後者は、前者のような場所を減らす作戦。<br>
  無論、電飾との兼ね合いがある。<br>
  というか、電飾も、接合前に済ませたほうが楽ということもあるが。<br>
  紙貼りに限ったことでは無いが、高所の作業はどうしても効率が落ちる。<br>
  上を向いて作業するのは大変やし、本当に上の方に行くと熱気がこもってサウナ状態やったり・・。<br>
  ちなみに、俺はいわゆる「バカ」に類する人間で、高所大好き。<br>
  好き好んで支柱を登っていって、赤弓（設計者）に「木大事にしろー」とか言われたりした（笑）<br>
  慣れてくると、足を乗せただけで木の耐久度がわかる。アナライザー機能（爆）
  </p>
  <p>
  紙を貼るという行為自体についての説明は行灯の作り方に詳しいから省くが、<br>
  御家人からも強調しておきたいのは<br>
  「二次元の紙を三次元の針金に貼る」<br>
  ということ。<br>
  まず、紙を貼りやすい針金を心がける必要がある。<br>
  綺麗な格子のみで形成される三次元空間・・ほぼ不可能やけど、不可能ではない。<br>
  また、細かいことだが、細針の巻き方も場合によっては邪魔になったりする。<br>
  先が紙や手にぐさぐさ刺さったり（泣）<br>
  他に紙貼りで気をつけて欲しいのは、<br>
  「重ねないこと」<br>
  よく、針金に巻きつけるように貼る人がいるが、そういう人は要注意。<br>
  少しであっても重なっては目立ってしまう。気をつけて欲しい。<br>
  紙貼りは根気と丁寧さが大事。
  </p>
  <p>
  御家人の紙貼りスタイルについて。<br>
  普通、紙貼りははさみorカッターを使うんやけど、俺の最終的な結論はどちらでも無かったんよね。<br>
  <br>
  カッターの刃。<br>
  <br>
  これ、すんごく便利。<br>
  御家人のおすすめ。<br>
  小回りの利くカッターというか（笑）<br>
  俺は、2本は常駐させて、切れなくなったらカッターの刃でカッターの刃研いでた。<br>
  コスト面でも優秀やと思うし。<br>
  とりあえず、1度試してほしい。（特にカッター党のみなさん）<br>
  このカッターの刃は更に優秀な点があって、<br>
  紙に定規を当てて切ったりすることあるよね？（ごく稀に）<br>
  あれと同じようにカッターの刃で切るのではなく、カッターの刃を当てて、それにそってぴりーっと綺麗にちぎるように切る方法もある。<br>
  周りの人間にも勧めたんやけど、この方法は俺以外には割と不評やった。<br>
  場合によっては凄く早くて正確で便利。（紙がボンドで湿りすぎてなければ、切り損なったりしない。）<br>
  1つ難点があるとすれば、砂利の上に落とすと見つけるのが大変。迷彩やし。<br>
  俺はビニテで印つけてた。<br>
  カッターの刃で紙貼りするかどうかは別として、とりあえず、カッターの刃はクラスのお金で買っておくといいと思う。
  </p>
  <p>
  紙貼りにおいて、1番問題となるのが、どうやって紙を保管するか。<br>
  女子が丹精込めて塗った紙が地面に落ちてぐちゃぐちゃになってたり、自転車置き場まで飛んでたり・・・。<br>
  この問題は、非常に深刻であると同時に、今まで一度も克服されたことの無い問題である。（断言。まだ対策の決定版は無いわけやし。）<br>
  ここでは、御家人が今までの経験を生かして、1つのプランを提案したい。<br>
  このプランは実際に現場で試したことの無いものやから、欠陥があったりもすると思う。<br>
  そういった部分を何年かかけて（もしかしたら1年で）、克服していって欲しいなぁ、と思う。
  </p>
  <p>
  まず、旧来のプランについて。<br>
  おそらく、以下の2つが主流のはず。<br>
  ・スズランテープをテント内に張り巡らせて、そこに紙を吊るす（以後STSK）<br>
  ・ゴミ袋に紙を入れて、何箇所かに置いておく（以後GKNO）<br>
  STSKもGKNOも結局は、紙が飛ぶ（笑）<br>
  個人的にはGKNOの方が優秀やと思ってるので、GKNOのプランを基に考えることにした。<br>
  GKNOのプランの欠点は、「結局、袋に戻さなくなること。」<br>
  「意識して戻せー！！」と、叫んだところで、大して変わらん。<br>
  「いちいち袋に戻すのが面倒」と思う人間がいる時点で、このプランはダメなわけだ。<br>
  というか、確かに不便やし。
  </p>
  <p>
  御家人プラン。（以後GP）<br>
  「紙を小分けにしてスーパーの袋に入れて、それをゴミ袋に入れて、4隅に置いておく」<br>
  ポイントは、紙をゴミ袋に入れるのではなくて、紙を入れた袋（スーパーの袋と仮定）をゴミ袋に入れる点。<br>
  紙を単体で持ち歩くから失くす。<br>
  俺はそう思うんよ。<br>
  もちろん、余った紙をもとの袋に戻さないのも問題やけど。<br>
  そこで考えたのが、「袋ごと人とともに移動」<br>
  紙は購入時のサイズ（A2？）を半分に切ると（A3？）ちょうどいいくらいか？<br>
  GPもGKNOももとの袋に戻すことは変わらないが、袋に入っているから紙を持ち歩くよりも面倒くささは無い印象を受けるはず。（なんか、かなりうさんくさい表現や・・。）<br>
  これのいいところは、紙を貼ってる最中に、紙が二分された時、袋に使わない方を入れとけるのが大きい。<br>
  紙が二分した時も、結構紙が風に乗りやすいタイミングなんよね（笑）<br>
  ちなみに、『洛水の女神』の前から見えないような部分には、買ってない奉書紙が普通に貼られてたり。（多分隣の3-3の紙）
  </p>
  <p>
    [余談]<br>
  なんか、割と当たり前なことばかり書いてしまったような気もする・・。<br>
  紙貼りは、個人のポテンシャル如何によるところが大きいからねぇ。<br>
  他の人が当たり前にできることが全然出来なかったりとか（笑）<br>
  紙貼りの出来が賞を左右する・・ということは少ないかも知れないが、<br>
  やはり、効率良く綺麗に貼る事が大賞のためには必要となるだろう。<br>
  ちなみに、俺は3年次はホントに最後の最後まで紙貼ってた。<br>
  いわゆるギリギリ。<br>
  足場が無くなると内側から貼ることになるんやけど（特に最後は、相当アクロバティックな所が残ったりする。身軽さ要求される仕事＝俺（バカ））、これが難しい。<br>
  時間無かったからすんごい雑になったりもして、今思うとまさに壮絶やった。<br>
  グラウンドに並んだ時点で、まだ結構穴開いてたしね。<br>
  脚立の上から隣（3-3）の行灯見下ろしながら「負けたくねー」とか叫んでたっけか。<br>
  だって3-3、女子ほとんど浴衣に着替えてたし。（3-3に余裕があったのかどうかは知らんが、うちは結局着替えたのは2人だけで、着替えた人も普通に俺の真下で紙貼ってた。ボンドこぼしそうでびくびくしてた。）<br>
  ちなみに、ボンドを左腕にのっけて紙貼りする人間が出始めたら、そのクラスは相当切羽詰まってると見ていい。俺は3年連続左腕かぴかぴ。<br>
  しかしやっぱねぇ、女子は時間無くても浴衣に着替えといた方がええよ。<br>
  だって祭りやんかぁ？<br>
  俺は1、2年と責任者やって、2年とも（まぁ3年ともなんだが）最後はギリギリで（2年次はむしろ間に合ってない。）<br>
  結構、女子のみなさま（特に2年次。1年次は結局みんな浴衣着てるわ、写真見ると。）には最終日に悪いことしたなぁと思ってる。<br>
  最終日を、優雅に過ごしてみたかった。1度でいいから。
  </p>
}
