@howto.common("道具を集める・買う")("甲乙人")("2011/3/24") {
  <h3>はじめに</h3>
  <p>
  ※注意※<br>
  以下に書いてあるものは60th3-9で実際に使ったもの・量を参考にしています。やり方や構図により変わってきますので注意してください。また、色塗りや電飾に関しては全くわかりませんので、教えてくれる方がいましたらよろしくお願いします。
  </p>

  <h3>クラスのみんなから集めるもの</h3>
  <dl>
    <dt>電動ドライバー</dt>
    <dd>ないと厳しい。あればある程いいです。作業開始の前には充電をフルにしておきましょう。</dd>
    <dt>のこぎり</dt>
    <dd>5本あれば十分。</dd>
    <dt>ペンチ</dt>
    <dd>普通のペンチよりラジオペンチのほうがよい。あればある程いいです。勘違いしてニッパーを持ってくる人がいますが、ニッパーはいりません。</dd>
    <dt>とんかち</dt>
    <dd>テントを作るとき(61st以降は分かりません)と電動ドライバーがないとき用に。</dd>
    <dt>さしがね</dt>
    <dd>けがくときに。1個。</dd>
    <dt>ワイヤーカッター</dt>
    <dd>細針を一気に切るときにあると便利。</dd>
    <dt>脚立</dt>
    <dd>あればある程いいです。ないと上のほうの作業が大変になります。</dd>
    <dt>メジャー</dt>
    <dd>5.5m以上。1~2個。</dd>
  </dl>

  <h3>作業開始までに買うもの</h3>
  <dl>
    <dt>かすがい</dt>
    <dd>18本。120mmくらい。</dd>
    <dt>針金#12</dt>
    <dd>15kg以上</dd>
    <dt>針金#10</dt>
    <dd>10kgくらい</dd>
    <dt>細針</dt>
    <dd>切ってあるものを1000本以上。最初はこのくらいでいいですが、全体では3000本くらい使ったと思います。私のおすすめは#20ですが、意見が分かれそうです。</dd>
    <dt>L字金具</dt>
    <dd>50個くらい</dd>
    <dt>コーススレッド　65mm～80mm</dt>
    <dd>500本くらい。電動ドライバーがないときは釘約80mmで代用。</dd>
    <dt>コーススレッド　30mm～40mm</dt>
    <dd>1000本くらい。電動ドライバーがないときは釘約40mmで代用。</dd>
    <dt>油性ペン（極太）</dt>
    <dd>けがくとき用に</dd>
    <dt>木材</dt>
    <dd>土台支柱用に。45mm、30mm？、20mm？の三種類。各クラスで本数決めて生徒会で発注</dd>
    <dt>ボンド</dt>
    <dd>速乾のほうがいいと思います。多少高いですが、最後の追い込みの時に乾くのが遅いのはかなりダメージになります。3年生は大きいもの（3kg?）を2個、小さいもの（750g?）を2個で少し余るくらいだと思います。</dd>
    <dt>釘　約30mm</dt>
    <dd>針金を木材に固定するときに釘を使う人がいるとき。</dd>
    <dt>ステープル</dt>
    <dd>針金を木材に固定するときにステープルを使う人がいるとき。</dd>
  </dl>

  <h3>個人で用意するもの</h3>
  <dl>
    <dt>自分用ラジオペンチ</dt>
    <dd>おすすめは、<a href="http://www.amazon.co.jp/gp/product/B002RDDLG8/ref=as_li_ss_tl?ie=UTF8&tag=umothmous-22&linkCode=as2&camp=247&creative=7399&creativeASIN=B002RDDLG8" target="_blank">King TTC ステンレスマルチラジオペンチ ベントタイプ SMB-150DG</a><img src="http://www.assoc-amazon.jp/e/ir?t=&l=as2&o=9&a=B002RDDLG8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    </dd>
    <dt>腰袋・工具差し</dt>
    <dd>あると便利です。100円ショップのもので十分。</dd>
    <dt>細針入れ</dt>
    <dd>あると便利です。100円ショップで鉛筆立てを買ってきてベルトにつけられるように改造します。</dd>
  </dl>
}
