@page(url: String, title: String) = {
  <li><a href="@routes.Application.eachHowto(url)">
    <i class="icon-file icon-white"></i>@title
  </a></li>
}

@file(url: String, title: String) = {
  <li><a href="@routes.Assets.at(url)">
    <i class="icon-download icon-white"></i>@title
  </a></li>
}

@views.html.common("How to") {
} {
  <ul>
    @page("intro", "How toについて")
  </ul>

  <h3>作業の進め方</h3>

  <ul>
    @file("file/official_62nd.pdf", "実行委員会公式行灯マニュアル(62nd)")
    @page("offseason", "オフ期間にすべきこと")
    @page("organize", "組織を作る")
    @page("scheduling", "スケジュールを書く")
  </ul>

  <h3>行灯の作り方</h3>

  <ul>
    @page("face", "顔を作る")
    @page("harigane", "針金")
  </ul>

} {
  <h2>How to</h2>
}
