@(data: ClassData, ps: Seq[(String, String)])

@import andon.utils._

@li(fullsize: String, thumbnail: String) = {
  <li class="span4">
    <a class="fresco" href="@fullsize" data-fresco-group="gallery">
      <img src="@thumbnail">
    </a>
  </li>
}

@common(data.id.toString + " " + data.title)(data.id.toString + "の作品『" + data.title + "』の写真や情報です。") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {
  @Images.findImagePath(data).map { path =>
    <div class="top-wrapper">
      <a class="fresco top-image" href="@Images.toFullsize(path)" data-fresco-group="gallery">
        <img src="@Images.toFullsize(path)">
      </a>

      <table class="table dl">
        <tr>
          <td>クラス</td>
          <td>@data.id.toJapanese</td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td>@data.title</td>
        </tr>
        <tr>
          <td>賞</td>
          <td>@data.prize.map(_.span).getOrElse { なし }</td>
        </tr>
        <tr>
          <td>紹介文</td>
          <td>@data.intro</td>
        </tr>
        <tr>
          <td>タグ</td>
          <td>
            <ul class="tags">
              @Tags.findByClassId(data.id).map { tag =>
                <li><a class="flat-btn" href="@routes.Application.tags(tag.tag)">@tag.tag</a></li>
              }
            </ul>
          </td>
        </tr>
        <tr>
          <td>講評</td>
          <td>
            <dl class="review">
              @Reviews.findByClassId(data.id).map { review =>
                <dt>
                  <i class="icon-ok-sign icon-white"></i>
                  @Accounts.findNameById(review.accountId)
                </dt>
                <dd>@Conv.newline(review.text)</dd>
              }
            </dl>
          </td>
        </tr>
      </table>
    </div>
  }.getOrElse {
  }

  <ul class="thumbnails">
    @ps.map { p => @li(p._1, p._2) }
  </ul>
} {
}
