@(data: ClassData, ps: Seq[(String, String)])

@import andon.utils._

@li(product: String, thumbnail: String) = {
  <li class="img-list">
    <a href="@routes.Assets.at(product)">
      <img src="@routes.Assets.at(thumbnail)" width="280" height="210">
    </a>
  </li>
}

@common("Gallery " + data.times + " " + data.grade + "-" + data.classn) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {
  <ul>
    @ps.map { p => @li(p._1, p._2) }
  </ul>
} {
  <h2 class="gallery-title">@data.times @data.grade-@Util.showClassN(data.classn) @data.title @data.prize.map(_.span)</h2>
}
