@(ts: Seq[TimesData], tags: Seq[String])

@import andon.utils._

@times = {
  <select id="search-times" name="times">
    <option value="all">すべて</option>
    @ts.map{ t =>
      <option value="@t.times.n.toString">@t.times.toString</option>
    }
  </select>
}

@prize = {
  <select id="search-prize" name="prize">
    <option value="all">すべて</option>
    @Seq(Grand, Gold, Silver, Bronze).map{ p =>
      <option value="@p.toString">@p.toJapanese</option>
    }
    <option value="none">賞なし</option>
  </select>
}

@grade = {
  <select id="search-grade" name="grade">
    <option value="all">すべて</option>
    @Seq(3, 2, 1).map{ g =>
      <option value="@g">@g年</option>
    }
  </select>
}

@tag = {
  <select id="search-tag" name="tag">
    <option value="all">すべて</option>
    @tags.map{ t =>
      <option value="@t">@t</option>
    }
  </select>
}

@common("Class Search") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {
  @times
  @prize
  @grade
  @tag
  <button id="search-submit" type="button" class="btn">検索</button>

  <div id="search-result">
  </div>
} {
  <script type="text/javascript" src="@routes.Assets.at("js/search.js")"></script>
}
