@(tag: String, cs: Seq[(ClassData, String)])

@common("タグ - " + tag)("タグ『" + tag + "』を持つクラス一覧です") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {

  <h3>タグ - @tag</h3>

  <ul class="thumbnails">
    @cs.map { case (c, path) =>
      <li class="span4">
        <a href="@routes.Application.classGallery(c.id.times, c.id.grade, c.id.classn)">
          <img src="@path">
          <div class="img-detail">
            @c.id.toString @c.title
          </div>
        </a>
      </li>
    }
  </ul>
} {
}
