@(times: String, ps: Seq[(ClassData, String)])

@import andon.utils._

@anchor(data: ClassData, path: String) = {
  <a href="@routes.Application.classGallery(data.id.times, data.id.grade, data.id.classn)">
    <img src="@path">
    <div class="img-detail">
      <div class="prize">
        @data.prize.map(_.span)
      </div>
      <div class="grade-class">
        @data.id.grade-@Util.showClassN(data.id.classn)
      </div>
      <div class="title">
        @data.title
      </div>
    </div>
  </a>
}

@prizes(prize: Prize, data: ClassData, path: String) = {
  @prize match {
    case Grand => {
      <li class="span12">
        @anchor(data, path)
      </li>
    }
    case Gold => {
      <li class="span8">
        @anchor(data, path)
      </li>
    }
    case Silver => {
      <li class="span6">
        @anchor(data, path)
      </li>
    }
    case Bronze => {
      <li class="span6">
        @anchor(data, path)
      </li>
    }
  }
}

@none(data: ClassData, path: String) = {
  <li class="span4">
    @anchor(data, path)
  </li>
}

@gradeImgs(grade: Int, data: Seq[(ClassData, String)]) = {
  <h3>@grade年</h3>
  <ul class="thumbnails">
    @Seq(Grand, Gold, Silver, Bronze).map { p =>
      @data.filter(d => d._1.prize == Some(p)).map(d => prizes(p, d._1, d._2))
    }
    @data.filter(d => d._1.prize == None).map(d => none(d._1, d._2))
  </ul>
}

@common("Gallery " + times) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {
  @Seq(3, 2, 1).map( n =>
    gradeImgs(n, ps.filter(d => d._1.id.grade == n))
  )
} {
}
