@(ts: Seq[(TimesData, String)])

@common("Gallery") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {
  <ul class="thumbnails">
    @ts.map { t =>
      <li class="span4">
        <a href="@routes.Application.timesGallery(t._1.times)">
          <img src="@t._2">
          <div class="img-detail">
            @t._1.times @t._1.title
          </div>
        </a>
      </li>
    }
  </ul>

  <p><a href="@routes.Application.search">条件に一致するクラスの検索</a></p>

  <p><a href="@routes.Application.others(0)">その他の参考画像</a></p>
} {
}
