@(ts: Seq[(TimesData, String)])

@common("Gallery") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/gallery.css")">
} {

  <p><a href="@routes.Application.search">条件に一致するクラスの検索</a></p>

  <ul>
    @ts.map { t =>
      <li class="none-img">
        <a href="@routes.Application.timesGallery(t._1.times.get)">
          <img src="@routes.Assets.at(t._2)" width="280" height="210">
          <div class="img-detail">
            @t._1.times @t._1.title
          </div>
        </a>
      </li>
    }
  </ul>
} {
  <h2>Gallery</h2>
}
