@import "lib.less";

h3 {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 6px 0 10px 20px;
    border-bottom: 2px solid gray;
}

.error {
    color: red;
}

.success {
    color: #33ff33;
}

.wide {
    width: 100%;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    li {
        text-shadow: 0 0 0 #000000;
    }
}

.tags {
    li {
        display: inline-block;
        a {
            display: block;
        }
    }
}

.tag {
}

.flat-btn {
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid rgba(100, 100, 100, 0.6);
    border-radius: 5px;
    padding: 7px 13px;
    margin: 3px;
    &:hover {
        text-decoration: none;
        background-color: transparent;
        color: #dddddd;
    }
}

#author {
    margin: 50px 0 0 0;
    width: @mainWidth;
    text-align: right;
}

blockquote{
    padding: 8px 20px;
    border-left: #777777 solid 3px;
    p {
        font-size: 1.05em;
        color: #cccccc;
    }
}

dl.dl {
    margin: 0 0 15px;
    padding: 0 10px 10px;

    dt {
        float: left;
        width: 200px;
        padding: 10px 0;
        font-weight: bold;
        text-indent: 1em;
        line-height: 150%;
    }

    dd {
        padding: 10px 0;
        line-height: 150%;
        border-bottom: 1px #cccccc solid;
        min-height: 21px;
    }
    dd:nth-child(2) {
        border-top: 1px #cccccc solid;
    }
}

table.dl {
    td:first-child {
        width: 160px;
        font-weight: bold;
    }
    border-bottom: 1px solid #dfdfdf;
}

.checkbox {
    margin: 20px 0;
}

.pager {
    li a {
        background-color: rgba(100, 100, 100, 0.2);
        border: 1px solid rgba(100, 100, 100, 0.6);
    }
    li a:hover {
        background-color: transparent;
    }
    .disabled a {
        background-color: rgba(100, 100, 100, 0.2);
        border: 1px solid rgba(100, 100, 100, 0.6);
    }
    .disabled a:hover {
        background-color: rgba(100, 100, 100, 0.2);
    }
}

.article {

    margin: 20px;

    h1 {
        font-size: 1.8em;
        border-bottom: 1px solid #999;
        line-height: 1.8em;
        margin: 36px auto 28px;
    }
    h2 {
        font-size: 1.4em;
        border-bottom: 1px dashed #666;
        margin: 26px auto 20px;
    }
    h3 {
        border: none;
        border-left: 5px solid rgba(255, 255, 255, 0.2);
        background-color: transparent;
        padding-left: 10px;
        font-size: 1.2em;
        line-height: 1.2em;
        margin: 18px auto 12px;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        font-size: 1em;
    }

    p {
        margin: 20px 0;
        line-height: 1.7em;
    }

    ul, ol {
        margin: 20px;

        li {
            list-style-type: disc;
            margin-left: 20px;
            margin-top: 2px;
        }
        ul, ol {
            margin: 2px 20px 6px;
        }
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }

    code {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    pre {
        background-color: rgba(255, 255, 255, 0.05);
        border: none;
    }

    .table {
        @tableColor: rgba(180, 180, 180, 0.5);
        border-color: @tableColor;
        th {
            text-align: center;
            border-color: @tableColor;
        }
        td {
            border-color: @tableColor;
        }
        tbody>tr:nth-child(even)>td,
        tbody>tr:nth-child(even)>th {
            background-color: rgba(180, 180, 180, 0.1);
        }
        tbody>tr:nth-child(odd)>td,
        tbody>tr:nth-child(odd)>th {
            background-color: transparent;
        }
    }

    dl {
        dt {
            margin: 12px 0 6px;
        }
        dd {
            margin-left: 30px;
        }
    }
}

.comments {
    margin: 50px 20px 20px;

    li {

        border: solid 1px #666666;
        margin: 20px 20px 30px;

        .comment-header {

            padding: 10px 20px;
            border-bottom: solid 1px #666666;

            .comment-name {
                font-weight: bold;
            }
            .comment-date {
                color: #cccccc;
                font-size: 0.8em;
            }
        }
        .comment-text {
            padding: 10px 20px;
        }
        .comment-control {
            height: 30px;
        }
    }
}

.comment-form {
    margin: 20px;
    form {
        margin: 20px;
    }
}

.article-wrapper {
    .article-date {
        padding: 20px 20px 0;
        color: #cccccc;
        font-size: 0.8em;
        text-indent: 0;
    }

    .article-title {
        color: white;
        font-size: 2.2em;
        font-weight: 100;
        margin: 0 0 40px; padding: 12px 24px 20px;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    }

    .article-author {
        color: #cccccc;
        font-size: 0.9em;
        text-indent: 0;
        text-align: right;
    }
}

.modal {
    color: black;
    h1 {
        font-size: 1.3em;
        border: none;
    }
}
