@import "lib.less";

body {
    background-color: black;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serifs;
    margin: 0px 20px;
    color: @textColor;
    width: 100%; height: 100%;
}

#background {
    position: fixed;
    z-index: -10000;
}

#browser {
    position: fixed;
    left: 0; top: 0;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.7);
}

#header {
    position: fixed;
    left: 0; top: 14px;
    width: 100%; height: @headerHeight;
    background-color: rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    #header-wrapper {
        width: @mainWidth; height: 100%;
        margin: 0 auto;
        #logo {
            float: left;
            margin: 0 0 0 50px; padding: 5px 0 5px;
            img {
                height: (@headerHeight - 10px);
            }
        }
        #menu {
            width: 75%; height: @headerHeight;
            float: right;
            ul {
                margin: 0; padding: 0;
                li {
                    float: left;
                    width: 30%; height: @headerHeight;
                    text-align: right;
                    line-height: @headerHeight;
                    a {
                        font-size: 1rem;
                        color: @textColor;
                    }
                }
            }
        }
    }
}

#container {
    width: @mainWidth;
    margin: 80px auto; padding: 0 0 80px;
}

#footer {
    position: fixed;
    left: 0; bottom: 14px;
    width: 100%; height: @headerHeight;
    background-color: rgba(0, 0, 0, 0.7);
    #footer-wrapper {
        width: @mainWidth; height: 100%;
        margin: 0 auto;
        h2 {
            margin: 12px 0 12px 50px;
            float: left;
            font-size: 25px;
            line-height: 25px;
            font-weight: normal;
        }

        #footer-right {
            float: right;
            width: 200px;
            padding: 14px 20px 4px 0;
            font-size: 12px;
            line-height: 8px;
            color: #666666;
            a {
                color: #666699;
            }
            p {
                text-align: center;
            }
        }
    }
}
