@(article: Article, form: Form[(Option[Int], String, String, Option[String])], accOpt: Option[Account])(implicit flash: Flash)

@import models.Accounts._
@import andon.utils.DateUtil._
@import andon.utils._

@title() = @{ article.articleType.toString + " - " + article.title }

@common(title) {
} {

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  @flash.get("error").map { message =>
    <p class="error">
      @message
    </p>
  }

  <div class="article-wrapper">
    <p class="article-date">
      @article.optDate.map { date =>
        @date
      }.getOrElse {
        @dateFormat(article.createDate)
        @if(article.createDate != article.updateDate) {
          (Last Update: @dateFormat(article.updateDate))
        }
      }
    </p>

    <h1 class="article-title">@article.title</h1>

    <div class="article">
      @Conv.both(article.text)
    </div>

    <p class="article-author">
      @article.optAuthor.map { author =>
        Created by @author
      }.getOrElse {
        Created by @findNameById(article.createAccountId)
        @if(article.createAccountId != article.updateAccountId) {
          , Updated by @findNameById(article.updateAccountId)
        }
      }
    </p>
  </div>

  @comments(article.id, form, accOpt)
} {
  <script type="text/javascript" src="@routes.Assets.at("js/deleteSubmit.js")"></script>
}
