@(htype: String, genre: String)

@import andon.utils._

@link(genres: Seq[String], ht: String) = {
  @genres.filter(_ != "").map { g =>
    @if(htype == ht && genre == g) {
      <li class="active">
    } else {
      <li>
    }
    <a href="@routes.Application.category(ht, g)">@g</a></li>
  }
}

@views.html.common("How to") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/howto.css")">
} {
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">記事・資料</li>
      <li><a href="@routes.Application.howto()">すべての記事・資料</a></li>
      <li class="nav-header">記事</li>
      @link(Articles.findByType(Howto).map(_.genre).distinct, "article")
      <li class="nav-header">資料</li>
      @link(Data.all.map(_.genre).distinct, "data")
    </ul>
  </div>

  <div class="span9">
    @htype match {
      case "article" => {
        <h4>記事 - @genre</h4>
        <table class="table">
          @Articles.findHowtoByGenre(genre).map { article =>
            <tr>
              <td>
                <i class="icon-file icon-white"></i>
                <a href="@routes.Application.article(article.id)">@article.title</a>
              </td>
              <td>
                @article.optAuthor.getOrElse {
                  @Accounts.findNameById(article.createAccountId)
                }
                @if(article.editable) {
                  など
                }
              </td>
              <td>
                @article.optDate.getOrElse {
                  @DateUtil.dateFormat(article.updateDate)
                }
              </td>
            </tr>
          }
        </table>
      }
      case "data" => {
        <h4>資料 - @genre</h4>
        <table class="table">
          @Data.findByGenre(genre).map { file =>
            <tr>
              <td>
                <i class="icon-download icon-white"></i>
                <a href="@file.path">@file.name</a>
              </td>
              <td>
                @file.optAuthor.getOrElse {
                  @Accounts.findNameById(file.accountId)
                }
              </td>
              <td>
                @file.optDate.getOrElse {
                  @DateUtil.dateFormat(file.date)
                }
              </td>
            </tr>
          }
        </table>
      }
      case _ => {
        <h4>すべて</h4>
        <h5>記事</h5>
        <table class="table">
          @Articles.findDateSortedHowto.map { article =>
            <tr>
              <td>
                <i class="icon-file icon-white"></i>
                <a href="@routes.Application.article(article.id)">@article.title</a>
              </td>
              <td>
                @article.genre
              </td>
              <td>
                @article.optAuthor.getOrElse {
                  @Accounts.findNameById(article.createAccountId)
                }
                @if(article.editable) {
                  など
                }
              </td>
              <td>
                @article.optDate.getOrElse {
                  @DateUtil.dateFormat(article.updateDate)
                }
              </td>
            </tr>
          }
        </table>
        <h5>資料</h5>
        <table class="table">
          @Data.dateSorted.map { file =>
            <tr>
              <td>
                <i class="icon-download icon-white"></i>
                <a href="@file.path">@file.name</a>
              </td>
              <td>
                @file.genre
              </td>
              <td>
                @file.optAuthor.getOrElse {
                  @Accounts.findNameById(file.accountId)
                }
              </td>
              <td>
                @file.optDate.getOrElse {
                  @DateUtil.dateFormat(file.date)
                }
              </td>
            </tr>
          }
        </table>
      }
    }
  </div>
} {
}
