@import andon.utils._

@common("Information") {
} {

  <h3>お知らせ</h3>

  <div class="article">
    @Articles.findByType(InfoTop).map { article =>
      @Conv.markdown(article.text)
    }
  </div>

  <h3>管理人の一言</h3>

  <div class="article">
    @Articles.findByType(Info).map { article =>
      <h3 class="title">@article.title</h3>
      <p>
        <span class="date">@Util.dateFormat(article.updateDate)</span>
        <span class="author">Posted by @Accounts.findById(article.createAccountId).map(_.name).getOrElse("?")</span>
      </p>

      @Conv.markdown(article.text)
    }
  </div>
} {
  <h2>Information</h2>
}
