@common("Information") {
} {

  <h3>2013年度の行灯行列について</h3>
  <p>2013年度の行灯行列は7/5(金)に行われます。</p>
  <p>詳しくは<a href="http://www.satsukita.ed.jp/index.html" target="_blank">高校の公式サイト</a>から</p>

  <h3>管理人募集</h3>
  <p>六代目管理人を募集しております。興味のある方は<a href="@routes.Application.contact">Contactページ</a>の連絡先までご連絡ください。</p>
  <p>条件 : 行灯が好き ・ 62nd ~ 64th(64thの方は卒業後) ・ 浪人生でない</p>
  <p>※Web制作に関する知識は必要ありません。</p>

  <h3>執筆者募集</h3>
  <p>記事の執筆者を募集しております。興味のある方は<a href="@routes.Application.contact">Contactページ</a>の連絡先までご連絡ください。
  </p>

} {
  <h2>Information</h2>
}
