@import andon.utils._

@common("Information") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/info.css")">
} {

  <h3>お知らせ</h3>

  <div class="article">
    @Articles.findByType(InfoTop).map { article =>
      @Conv.markdown(article.text)
    }
  </div>

  <h3>管理人の一言</h3>

  @Articles.findByType(Info).map { article =>
    <div class="info-post article">
      <p class="date">@DateUtil.dateFormat(article.createDate)</p>
      <h1 class="title">@article.title</h1>
      <div class="info-text">
        @Conv.markdown(article.text)
      </div>
      <p class="author">Posted by @Accounts.findNameById(article.createAccountId)</p>
    </div>
  }
} {
  <h2>Information</h2>
}
