@(title: String)(head: Html)(body: Html)(footer: Html)(js: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@{
      if (title == "") {
        ""
      } else {
        title + " - "
      }
    }行灯職人への道</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="@routes.Assets.at("img/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("fresco/css/fresco/fresco.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/reset.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    @head
  </head>
  <body>

    <!--[if (gt IE 8)|!(IE)]><!-->
    <div id="background">
      @Range(1, 17).map { n =>
        <img id="background-@n" src="@routes.Assets.at("img/background/" + n + ".jpg")">
      }
    </div>
    <!--<![endif]-->

    <div id="browser"></div>

    <div id="header">
      <div id="header-wrapper">
        <h1 id="logo">
          <a href="@routes.Application.index">
            <img src="@routes.Assets.at("img/logo.png")">
          </a>
        </h1>

        <div id="menu">
          <ul>
            <li><a href="@routes.Application.info">Info</a></li>
            <li><a href="@routes.Application.gallery">Gallery</a></li>
            <li><a href="@routes.Application.howto">How to</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="container">
      @body
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        @footer
        <div id="footer-right">
          <p><a href="@routes.Application.about">about</a> | <a href="@routes.Application.contact">contact</a></p>
          <p>&copy; 2002 - 2013 行灯職人への道</p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("fresco/js/fresco/fresco.js")"></script>
    <!--[if (gt IE 8)|!(IE)]><!-->
    <script type="text/javascript" src="@routes.Assets.at("js/background.js")"></script>
    <!--<![endif]-->
    @* TODO *@
    <script type="text/javascript" src="@routes.Assets.at("js/search.js")"></script>
    @js
  </body>
</html>
