@(title: String)(head: Html)(body: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@{
      if (title == "") {
        ""
      } else {
        title + " - "
      }
    }行灯職人への道</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="@routes.Assets.at("img/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    @head
  </head>
  <body>
    @body
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
  </body>
</html>
