@(title: String)(head: Html)(body: Html)(js: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@{
      if (title == "") {
        ""
      } else {
        title + " - "
      }
    }行灯職人への道</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="@routes.Assets.at("img/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    @head
  </head>
  <body>
    <dev id="browser"></div>

    <div id="header">
      <div id="header-wrapper">
        <h1 id="logo">
          <a href="@routes.Application.index">
            <img src="@routes.Assets.at("img/logo.png")">
          </a>
        </h1>

        <div id="menu">
          <ul>
            <li><a href="@routes.Application.info">Info</a></li>
            <li><a href="@routes.Application.gallery">Gallery</a></li>
            <li><a href="@routes.Application.howto">How to</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="container">
      @body
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    @js
  </body>
</html>
